<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/sai-mummaka-8FAt43T3h6c-unsplash.jpg" alt="roof windows">
</div>

<div class="md-container">
  <div class="loader-container" *ngIf="loading; else elseBlock">
    <app-okpol-loader></app-okpol-loader>
  </div>
  <ng-template #elseBlock>
    <form class="md-container__form-window" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="md-container__form-window__form-container">

        <div>
          <h1 class="form-title">{{'MY-PROFILE.resetPasswordTitle' | translate}}</h1>
          <input type="hidden"
                 id="id"
                 formControlName="id">

          <div class="md-form mt-3">
            <p class="form-control-field-title">{{'REGISTER.oldPassword' | translate}}:</p>
            <input type="password"
                   id="oldPassword"
                   formControlName="oldPassword"
                   class="form-control--input"
                   placeholder="{{'REGISTER.oldPassword' | translate}}">
          </div>
          <div *ngIf="resetPasswordForm.get('oldPassword').dirty || resetPasswordForm.get('oldPassword').touched">
            <div
              class="invalid-contact-data" *ngIf="resetPasswordForm.get('oldPassword').touched &&
              resetPasswordForm.get('oldPassword').errors && resetPasswordForm.get('oldPassword').errors.minlength">
              {{'REGISTER.tooShortPassword' | translate}}
            </div>
            <div
              class="invalid-contact-data"
              *ngIf="resetPasswordForm.get('oldPassword').dirty && resetPasswordForm.get('oldPassword').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>

          <div class="md-form mt-3">
            <p class="form-control-field-title">{{'REGISTER.password' | translate}}:</p>
            <input type="password"
                   id="password"
                   formControlName="password"
                   class="form-control--input"
                   placeholder="{{'REGISTER.password' | translate}}">
          </div>
          <div *ngIf="resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched">
            <div
              class="invalid-contact-data" *ngIf="resetPasswordForm.get('password').touched &&
              resetPasswordForm.get('password').errors && resetPasswordForm.get('password').errors.minlength">
              {{'REGISTER.tooShortPassword' | translate}}
            </div>
            <div
              class="invalid-contact-data"
              *ngIf="resetPasswordForm.get('password').dirty && resetPasswordForm.get('password').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <!--        <label for="rePassword" class="register-form-labels">{{ 'REGISTER.rePassword' | translate}}</label>-->
          <div class="md-form mt-3">
            <p class="form-control-field-title">{{'REGISTER.rePassword' | translate}}:</p>
            <input type="password"
                   id="rePassword"
                   formControlName="rePassword"
                   class="form-control--input"
                   placeholder="{{'REGISTER.rePassword' | translate}}">
          </div>
          <div *ngIf="resetPasswordForm.get('rePassword').dirty || resetPasswordForm.get('rePassword').touched">
            <div
              class="invalid-contact-data" *ngIf="resetPasswordForm.get('rePassword').touched &&
              resetPasswordForm.get('rePassword').errors && resetPasswordForm.get('rePassword').errors.minlength">
              {{'REGISTER.toShortPassword' | translate}}
            </div>
            <div
              class="invalid-contact-data"
              *ngIf="resetPasswordForm.get('rePassword').dirty && resetPasswordForm.get('rePassword').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
            <div
              class="invalid-contact-data"
              *ngIf="resetPasswordForm.get('rePassword').touched && resetPasswordForm.hasError('mismatch')">
              {{'REGISTER.differentPasswords' | translate}}
            </div>
          </div>

          <button type="submit"
                  [disabled]="resetPasswordForm.invalid">{{ 'MY-PROFILE.changePassword' | translate}}</button>
        </div>
      </div>
      <div class="md-container__form-window__right-side-reset">
        <div class="md-container__form-window__right-side-reset__img"></div>
      </div>
    </form>
  </ng-template>
</div>
