@import 'src/sass/base/base';
@import 'src/sass/base/variables';
@import 'src/sass/buttons';
@import 'src/sass/radio-input';
@import 'src/sass/components';

.md-container__form-window__form-container {
  padding: 7rem 7rem;
}

.md-container__form-window__right-side-reset {
  width: 50%;
  padding: 0;

  &__img {
    height: 100%;
    background-image: url("src/assets/img/register_page/brett-jordan-fswQZLlHC3Y-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
