<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img class="logo" src="../../assets/img/2015-logo-okpol-pl-217-50.png" alt="logo okpol"/>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/konfigurator">Konfigurator</a>
      </li>
      <li class="nav-item">
        <div class="btn-group">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Sklep</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/okna-dachowe">Okna dachowe</a>
            <a class="dropdown-item" href="/okna-pionowe">Okna pionowe</a>
            <a class="dropdown-item" href="/wylazy-dachowe">Wyłazy dachowe</a>
            <a class="dropdown-item" href="/kolnierze">Kołnierze do okien</a>
            <a class="dropdown-item" href="/Akcesoria">Akcesoria</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/regulamin">Regulamin</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/login">Zaloguj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rejestracja">Rejestracja</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Szukana fraza" aria-label="Search">
    <button class="btn btn-outline-success my-sm-0" type="submit">Szukaj</button>
  </form>
</nav>
