<div class="md-navbar" [ngClass]="{ mdNavbarScrolled: onScroll }">
  <div class="md-navbar__search">
    <form>
      <i class="fas fa-search md-navbar__search--icon"></i>
      <input class="md-navbar__search--input"
             type="text" #searchText
             placeholder="{{ 'HOME.search' | translate}}"
             (keyup)="onKeyup(searchText)"
      >
      <span class="md-navbar__search--border"></span>
    </form>
  </div>
  <div class="md-navbar__mini-logo" [ngClass]="{ mdNavbarScrolled: onScroll }">
    <a routerLink="/">
      <img src="../../assets/icons/windows.png" alt="logo okpol"/>
    </a>
  </div>
  <div class="md-navbar__logo" [ngClass]="{ mdNavbarScrolled: onScroll }">
    <a routerLink="/">
      <img src="../../assets/img/2015-logo-okpol-pl-217-50.png" alt="logo okpol"/>
    </a>
  </div>
  <div class="md-navbar__user-area">
    <a class="nav-link"
       routerLink="{{ 'LINK.myAccount' | translate}}"><i class="fas fa-user md-navbar__user-area--icon"></i></a>
    <a class="nav-link"
       routerLink="{{ 'LINK.cart' | translate}}"><i class="fas fa-shopping-cart md-navbar__user-area--icon"></i></a>
  </div>
  <ul class="md-navbar__navigation">
    <li class="md-navbar__navigation--element">
      <a class="md-navbar__navigation--link" (mouseover)="showShopSubMenu()" (mouseleave)="hideShopSubMenu()"
         routerLink="{{ 'LINK.shop' | translate}}">{{ 'HOME.shop' | translate}}
        <i class="fas fa-angle-down"></i></a>
    </li>
    <li class="md-navbar__navigation--element">
      <a class="md-navbar__navigation--link" (mouseover)="showConfigSubMenu()" (mouseleave)="hideConfigSubMenu()"
         routerLink="{{ 'LINK.configurator' | translate}}">{{ 'HOME.configurator' | translate}}
        <i class="fas fa-angle-down"></i></a>
    </li>
    <li class="md-navbar__navigation--element">
      <a class="md-navbar__navigation--link" (mouseover)="showAdviceSubMenu()" (mouseleave)="hideAdviceSubMenu()"
         routerLink="{{ 'LINK.advices' | translate}}">{{ 'HOME.advices' | translate}}
        <i class="fas fa-angle-down"></i>
      </a>
    </li>
    <li class="md-navbar__navigation--element">
      <a class="md-navbar__navigation--link"
         routerLink="{{ 'LINK.sellers' | translate}}">{{ 'HOME.sellers' | translate}}</a>
    </li>
    <li class="md-navbar__navigation--element">
      <a class="md-navbar__navigation--link"
         routerLink="{{ 'LINK.contact' | translate}}">{{ 'HOME.contact' | translate}}</a>
    </li>
  </ul>

  <!--SubMenu shop-->
  <ul class="md-navbar__navigation--element__shop" [ngStyle]="shopSubMenu" (mouseover)="showShopSubMenu()"
      (mouseleave)="hideShopSubMenu()">
    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.shop' | translate}}/{{ 'SHOP.roofWindowsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <p>{{ 'HOME.roofWindows' | translate}}</p></a>
      <ul class="md-navbar__navigation--element__shop--products">
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/ISO-I22.png" alt="{{ 'HOME.roofWindows' | translate}}">
            <p>ISO I22</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/IGOV-N22.png" alt="{{ 'HOME.roofWindows' | translate}}">
            <p>IGOV N22</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/ISO-E2.png" alt="{{ 'HOME.roofWindows' | translate}}">
            <p>ISO E2</p></a>
        </li>
      </ul>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.shop' | translate}}/{{ 'SHOP.flatRoofWindowsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <p>{{ 'HOME.flatRoofWindows' | translate}}</p></a>
      <ul class="md-navbar__navigation--element__shop--products">
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/PGX-A1.png" alt="{{ 'HOME.flatRoofWindows' | translate}}">
            <p>PGX A1</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/PGC-A1.png" alt="{{ 'HOME.flatRoofWindows' | translate}}">
            <p>PGC A1</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/PGX-B6.png" alt="{{ 'HOME.flatRoofWindows' | translate}}">
            <p>PGX B6</p></a>
        </li>
      </ul>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.shop' | translate}}/{{ 'SHOP.flashingsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <p>{{ 'HOME.flashings' | translate}}</p></a>
      <ul class="md-navbar__navigation--element__shop--products">
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/Kolnierz-U.png" alt="{{ 'HOME.flashings' | translate}}">
            <p>{{ 'HOME.flashingU' | translate}}</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/kołnierz-D.png" alt="{{ 'HOME.flashings' | translate}}">
            <p>{{ 'HOME.flashingD' | translate}}</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/Kołnierz-L.png" alt="{{ 'HOME.flashings' | translate}}">
            <p>{{ 'HOME.flashingL' | translate}}</p></a>
        </li>
      </ul>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.shop' | translate}}/{{ 'SHOP.skylightsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <p>{{ 'HOME.skylights' | translate}}</p></a>
      <ul class="md-navbar__navigation--element__shop--products">
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/WVD-47x73.png" alt="{{ 'HOME.skylights' | translate}}">
            <p>WVD+ 47x73</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/WVM-47x57.png" alt="{{ 'HOME.skylights' | translate}}">
            <p>WVM+ 47x57</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/WVR.png" alt="{{ 'HOME.skylights' | translate}}">
            <p>WVR 47x73</p></a>
        </li>
      </ul>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.shop' | translate}}/{{ 'SHOP.accessoriesLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <p>{{ 'HOME.accessories' | translate}}</p></a>
      <ul class="md-navbar__navigation--element__shop--products">
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/D37.png" alt="{{ 'HOME.accessories' | translate}}">
            <p>Multistop D37</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/D33.png" alt="{{ 'HOME.accessories' | translate}}">
            <p>Decomatic D33</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/D12.png" alt="{{ 'HOME.accessories' | translate}}">
            <p>Classic D12</p></a>
        </li>
      </ul>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.shop' | translate}}/{{ 'SHOP.resetLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <p>{{ 'HOME.resetProducts' | translate}}</p></a>
      <ul class="md-navbar__navigation--element__shop--products">
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/IGX-F1-RESET.png" alt="{{ 'HOME.resetProducts' | translate}}">
            <p>IGX F1</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/WVR.png" alt="{{ 'HOME.resetProducts' | translate}}">
            <p>WVR V8</p></a>
        </li>
        <li class="md-navbar__navigation--element__shop--products--product-element">
          <a href="" class="md-navbar__navigation--element__shop--products--product-element--link">
            <img src="assets/icons/products/WVR.png" alt="{{ 'HOME.resetProducts' | translate}}">
            <p>WVR V6</p></a>
        </li>
      </ul>
    </li>
  </ul>
  <!--SubMenu shop-->

  <!--SubMenu configurator-->
  <ul class="md-navbar__navigation--element__shop" [ngStyle]="configSubMenu" (mouseover)="showConfigSubMenu()"
      (mouseleave)="hideConfigSubMenu()">
    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.configurator' | translate}}/{{ 'CONFIGURATOR.roofWindowsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <img src="assets/icons/products/ISO-E2.png" alt="{{ 'HOME.roofWindows' | translate}}">
        <p>{{ 'HOME.roofWindows' | translate}}</p></a>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.configurator' | translate}}/{{ 'CONFIGURATOR.flashingsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <img src="assets/icons/products/Kolnierz-U.png" alt="{{ 'HOME.flashings' | translate}}">
        <p>{{ 'HOME.flashings' | translate}}</p></a>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.configurator' | translate}}/{{ 'CONFIGURATOR.skylightsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <img src="assets/icons/products/WVD-47x73.png" alt="{{ 'HOME.skylights' | translate}}">
        <p>{{ 'HOME.skylights' | translate}}</p></a>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.configurator' | translate}}/{{ 'CONFIGURATOR.accessoriesLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <img src="assets/icons/products/D37.png" alt="{{ 'HOME.accessories' | translate}}">
        <p>{{ 'HOME.accessories' | translate}}</p></a>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.configurator' | translate}}/{{ 'CONFIGURATOR.verticalWindowsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <img src="assets/icons/products/D37.png" alt="{{ 'HOME.accessories' | translate}}">
        <p>{{ 'CONFIGURATOR.verticalWindows' | translate}}</p></a>
    </li>
  </ul>
  <!--SubMenu configurator-->

  <!--SubMenu advices-->
  <ul class="md-navbar__navigation--element__shop" [ngStyle]="advicesSubMenu" (mouseover)="showAdviceSubMenu()"
      (mouseleave)="hideAdviceSubMenu()">
    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.advices' | translate}}/{{ 'LINK.windowSelectionLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <i class="fas fa-microscope"></i>
        <p>{{ 'ADVICES.windowSelection' | translate}}</p></a>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.advices' | translate}}/{{ 'LINK.configurationOptionsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <i class="far fa-eye"></i>
        <p>{{ 'ADVICES.configurationOptions' | translate}}</p></a>
    </li>

    <li class="md-navbar__navigation--element__shop--element">
      <a routerLink="{{ 'LINK.advices' | translate}}/{{ 'LINK.appFunctionsLink' | translate}}"
         class="md-navbar__navigation--element__shop--element--link">
        <i class="fas fa-info"></i>
        <p>{{ 'ADVICES.appFunctions' | translate}}</p></a>
    </li>
  </ul>
  <!--SubMenu advices-->
</div>
