<!-- Footer -->
<footer class="footer">

  <div class="footer__register">
    <p>{{ 'HOME.register' | translate}}</p>
    <a routerLink="/{{ 'LINK.signIn' | translate}}"
       class="btn-light btn-light--white">{{ 'LINK.signIn' | translate}}</a>
  </div>

  <div class="footer__newsletter">
    <p>{{ 'HOME.newsletter' | translate}}</p>
    <input type="email"
           #newsletterEmail
           required
           id="newsletterEmail"
           placeholder="{{ 'HOME.newsletterInput' | translate}}"
           class="footer__newsletter--input">
    <a class="btn-light btn-light--white"
       (click)="submitNewsletter(newsletterEmail)">{{ 'HOME.newsletterSignIn' | translate}}</a>
  </div>

  <div class="footer__media-icons">

    <a href="https://www.facebook.com/oknadachowe/">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCtjVf14K2LNf29alqYglOIA" class="footer__media-icons--youtube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://pl.pinterest.com/oknaokpol/_created/" class="footer__media-icons--pinterest">
      <i class="fab fa-pinterest-p"></i>
    </a>
    <a href="https://www.instagram.com/okna_okpol/" class="footer__media-icons--instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <div class="footer__copyrights">
    <p>© 2020 Copyright:</p>
    <a href="https://okpol.com/">okpol.com</a>
  </div>

</footer>
<!-- Footer -->
