@import 'src/sass/base/variables';
@import 'src/sass/buttons';

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.6rem;
  color: $color-white;
  background-color: $color-darkest-blue;

  &__logo {
    display: flex;
    justify-content: center;
    margin: 10rem auto 5rem auto;
    flex: 0 0 100%;
  }

  &__newsletter {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    p {
      margin-bottom: 0;
    }

    &--input {
      display: flex;
      justify-content: center;
      flex: 0 0 100%;

      input {
        border-radius: 5rem;
        height: 6rem;
        width: 32rem;
        padding: 0 2rem;
        transition: all .2s ease-in-out;
        margin: 2rem 0;

        &:focus {
          outline: none;
          width: 50rem;
        }
      }
    }

    a {
      margin: 0 2rem;

      &:hover {
        color: $color-black;
      }
    }
  }

  &__register {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-right: 2rem;
      margin-bottom: 0;
    }
  }

  &__media-icons {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    margin: 5rem 0;

    &--facebook {
      padding-right: 3rem;
    }

    &--youtube {
      padding-right: 3rem;
    }

    &--pinterest {
      padding-right: 3rem;
    }

    i {
      color: white;
      font-size: 2.2rem;
    }
  }

  &__copyrights {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    flex: 0 0 100%;
    font-size: 1.1rem;
    color: $color-white;
    background-color: $color-black;

    p {
      margin: 0;
    }

    a {
      padding-left: .5rem;
      color: $color-white;
    }
  }
}
