<!-- Footer -->
<footer class="md-footer-container">

  <div class="md-footer-container-register">
    <p>{{ 'HOME.register' | translate}}</p>
    <a routerLink="/{{ 'LINK.signIn' | translate}}" class="btn md-btn-light"></a>
  </div>

  <div class="md-footer-container-newsletter">
    <p>{{ 'HOME.newsletter' | translate}}</p>
      <input type="email"
             #newsletterEmail
             required
             id="newsletterEmail"
             placeholder="{{ 'HOME.newsletterInput' | translate}}"
             class="md-footer-container-newsletter-input">
      <a type="button" (click)="submitNewsletter(newsletterEmail)" class="btn md-btn-light">{{ 'HOME.newsletterSignIn' | translate}}</a>
  </div>

  <div class="md-footer-container-copyrights">
    <p>© 2020 Copyright:</p>
    <a href="https://okpol.com/">okpol.com</a>
  </div>

</footer>
<!-- Footer -->
