<!-- Footer -->
<footer class="footer">

  <div class="footer__logo">
    <a routerLink="/">
      <img src="../../assets/img/2015-logo-okpol-pl-217-50.png" alt="logo okpol"/>
    </a>
  </div>

  <div class="footer__register">
    <p>{{ 'HOME.register' | translate}}</p>
    <a routerLink="/{{ 'LINK.signIn' | translate}}"
       class="btn-invert btn-invert--white">{{ 'LINK.signIn' | translate}}</a>
  </div>

  <div class="footer__newsletter">
    <p>{{ 'HOME.newsletter' | translate}}</p>
    <a class="btn-invert btn-invert--white"
       (click)="submitNewsletter(newsletterEmail)">{{ 'HOME.newsletterSignIn' | translate}}</a>
    <div class="footer__newsletter--input">
      <input type="email"
             #newsletterEmail
             required
             id="newsletterEmail"
             placeholder="{{ 'HOME.newsletterInput' | translate}}">
    </div>
  </div>

  <div class="footer__media-icons">

    <a href="https://www.facebook.com/oknadachowe/" class="footer__media-icons--facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCtjVf14K2LNf29alqYglOIA" class="footer__media-icons--youtube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://pl.pinterest.com/oknaokpol/_created/" class="footer__media-icons--pinterest">
      <i class="fab fa-pinterest-p"></i>
    </a>
    <a href="https://www.instagram.com/okna_okpol/" class="footer__media-icons--instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <div class="footer__copyrights">
    <p>© 2020 Copyright:</p>
    <a href="https://okpol.com/">okpol.com</a>
  </div>

</footer>
<!-- Footer -->
