@import 'src/sass/base/variables';
@import 'src/sass/buttons';
@import 'src/sass/radio-input';
@import 'src/sass/components';

//.container {
//  margin: 0;
//}

.configuration-container {

  &--no-configurations {

  }

  &__configurations-table {
    width: 100%;

    &__header {
      width: 100%;
      text-align: center;
      background: $color-light-grey;

      &--text {
        padding: 1rem;
      }
    }

    &__search-header {
      margin: 1rem 0;


      &--td {
        padding: .5rem;

      }
    }

    &__item {
      width: 100%;
      text-align: center;
      vertical-align: center;

      &--info {
        padding: 1rem;

        a {
          text-decoration: none;
        }
      }

      &__products {

        &__list {
          padding: 1rem;
          margin: 0;
          list-style: none;

          &__element {

            &--paragraph {
              margin-bottom: 0;
            }

            a {
              text-decoration: none;
            }
          }
        }
      }

      &--edit {
        cursor: pointer;
        color: $color-black;

        &:hover {
          color: $color-yellow;
        }
      }

      &--pdf {
        width: 14px;
        height: 16px;
        cursor: pointer;

        &:hover {
          fill: $color-cyan;
        }
      }

      &--trash {
        cursor: pointer;

        &:hover {
          color: $color-red;
        }
      }
    }
  }
}

.no-display {
  display: none;
}
