$color-light-grey: #bebebe;
$color-grey: #8b8b8b;
$color-dark-grey: #585858;
$color-darkest-grey: #252525;

$color-light-red: #ff827c;
$color-red: #ff2016;
$color-dark-red: #af0800;
$color-darkest-red: #490300;

$color-light-blue: #acc1cc;
$color-blue: #6d92a6;
$color-dark-blue: #425d6b;
$color-darkest-blue: #1b262c;

$color-light-yellow: #fe6;
$color-yellow: #ffe300;
$color-dark-yellow: #980;
$color-darkest-yellow: #332e00;

$color-light-green: #90e781;
$color-green: #44d62c;
$color-dark-green: #288319;
$color-darkest-green: #0e2d09;

$color-white: #fff;
$color-dark-white: #F8F8F8;

$color-black: black;

//FONTS
$default-font-size: 1.6rem;
