$color-light-grey: #eeeeee;
$color-grey: #bdbdbd;
$color-dark-grey: #757575;
$color-darkest-grey: #424242;

$color-light-red: #ffcfcd;
$color-red: #ff2016;
$color-dark-red: #880000;
$color-darkest-red: #3B0000;

$color-light-blue: #d6ecfa;
$color-blue: #1ec0ff;
$color-dark-blue: #0080ff;
$color-darkest-blue: #252c41;

$color-light-yellow: #DDD484;
$color-yellow: #ffe300;
$color-dark-yellow: #A69400;
$color-darkest-yellow: #544D17;

$color-light-green: #90e781;
$color-green: #3DFF00;
$color-dark-green: #1D7700;
$color-darkest-green: #10210A;

$color-light-cyan: #b2ebf2;
$color-cyan: #4dd0e1;
$color-dark-cyan: #00bcd4;
$color-darkest-cyan: #006064;


$color-white: #fff;
$color-dark-white: #F8F8F8;

$color-black: black;
$color-orange: #FF9800;
$color-light-orange: #FFE0B2;

//FONTS
$default-font-size: 1.6rem;
