@import 'src/sass/base/variables';

//PRODUCT CARD
.product-card {
  position: relative;
  margin: 8rem 2rem 7rem 2rem;
  width: 30rem;
  height: auto;
  text-align: center;
  background: $color-white;
  box-shadow: 3px 0 11px 5px rgba($color-black, 0.1);

  //&:first-child {
  //  margin: 12rem 2rem 11rem 2rem;
  //}

  &__photo {
    width: 24rem;
    margin-top: -6rem;
    border-bottom: $color-light-grey solid 1px;
  }

  &__title {
    margin-top: 1.5rem;
    color: $color-red;
    font-weight: bold;
    font-size: 2.2rem;
  }

  &__details {
    display: inline-block;
    margin: 1rem 2rem;
    text-align: left;
    list-style: none;
    font-size: 1.4rem;
    min-height: 15.5rem;

    &--info {

    }
  }

  &__icons-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex: 0 0 33%;
    font-size: 1.4rem;
    color: $color-darkest-grey;
    padding: .5rem 3rem;

    &--info {

      &--title {
        font-size: 1.6rem;
      }

      &--icon {
        height: 5rem;
      }

      &--detail {
        font-size: 1.4rem;
        color: $color-darkest-red;
      }
    }
  }

  &__buttons-section {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: -2rem;

    &--link:not(:last-child) {
      margin-right: 2rem;
    }

    &--icon {
      font-size: 1.6rem;
    }
  }
}

//EXTRA PRODUCT CARD
.extra-product-card {
  position: relative;
  margin: 4rem 2rem 2rem 3rem;
  width: 10rem;
  height: 16rem;
  text-align: center;
  background: $color-white;
  box-shadow: 3px 0 11px 5px rgba($color-black, 0.1);

  &__photo {
    width: 7rem;
    margin-top: -3rem;
  }

  &__title {
    margin-top: 2rem;
    color: $color-black;
    font-size: 2.2rem;
  }

  &__buttons-section {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    &--link:not(:last-child) {
      margin-right: 2rem;
    }

    &--icon {
      font-size: 1.2rem;
    }
  }
}

//GROUP OF PRODUCTS CARD
.group-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: $color-dark-white;
  background-color: $color-dark-white;
  box-shadow: 0 1px 1px,
  0 2px 2px rgba(0, 0, 0, 0.1),
  0 4px 4px rgba(0, 0, 0, 0.1),
  0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform .7s;
    pointer-events: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.009) 11.7%,
        hsla(0, 0%, 0%, 0.034) 22.1%,
        hsla(0, 0%, 0%, 0.072) 31.2%,
        hsla(0, 0%, 0%, 0.123) 39.4%,
        hsla(0, 0%, 0%, 0.182) 46.6%,
        hsla(0, 0%, 0%, 0.249) 53.1%,
        hsla(0, 0%, 0%, 0.320) 58.9%,
        hsla(0, 0%, 0%, 0.394) 64.3%,
        hsla(0, 0%, 0%, 0.468) 69.3%,
        hsla(0, 0%, 0%, 0.540) 74.1%,
        hsla(0, 0%, 0%, 0.607) 78.8%,
        hsla(0, 0%, 0%, 0.668) 83.6%,
        hsla(0, 0%, 0%, 0.721) 88.7%,
        hsla(0, 0%, 0%, 0.762) 94.1%,
        hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform .7s;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform .7s;
    z-index: 1;

    > * + * {
      margin-top: 1rem;
    }

    &--title {
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 1.2;
    }

    &--text {
      font-size: 1.125rem;
      font-style: italic;
      line-height: 1.35;
    }
  }

  &:focus-within {
    &:before,
    &:after,
    &__content,
    &__content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}


//SINGLE PRODUCT PAGE
.mini-products {
  display: flex;
  flex-direction: column;

  &__element {
    border: #00FF1E solid 1px;
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
  }
}

.main-picture {
  img {
    width: 54rem;
  }

  img:not(:first-child) {
    margin-bottom: 3rem;
  }

  margin: 0 2rem 0 4rem;
}

.specification-icons {
  display: flex;
  justify-content: center;

  &__element {
    text-align: center;
    font-size: 1.2rem;
  }

  &__element:not(:last-child) {
    margin-right: 1rem;
  }

  img {
    height: 6.5rem;
    width: 6.5rem;
  }
}

.product-name {
  font-size: 3.2rem;
  font-weight: bold;
  color: $color-red;
  flex: 0 0 100%;
}

.price {
  flex: 0 0 100%;
  font-size: 2.2rem;

  &--after-discount {
    flex: 0 0 100%;
    font-size: 2.2rem;
  }
}

.all-sizes-container {
  p {
    font-size: 1.6rem;
    flex: 0 0 100%;
  }

  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

//QUANTITY COUNTER
.quantity-container {
  font-size: 2rem;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .quantity-desc {
    margin: 0 1.5rem;
  }

  i {
    font-size: 2.2rem;
    border: 1px solid $color-light-grey;
    cursor: pointer;
    font-family: serif;
    height: 4rem;
    float: left;
    line-height: 4rem;
    text-align: center;
    user-select: none;
    transition: all 150ms ease-out;
    width: 3.3rem;

    &:active {
      background-color: $color-red;
      color: $color-white;
      transition: none;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.quantity {
  border: none;
  //border-top: 1px solid $color-light-grey;
  //border-bottom: 1px solid $color-light-grey;
  font-size: 2.4rem;
  height: 3.8rem;
  text-align: center;
  outline: none;
  width: 5.4rem;
}

//LINE
.line {
  background-color: $color-light-grey;
  height: 1px;
  width: 100%;
  margin: 2.5rem 0;
}

table {
  font-size: 1.6rem;
}

.product-information--title {
  width: 100%;
  font-size: 1.6rem;
}

// No overflow hidden - parent has hidden
.modal-window-relative-parent {
  position: relative;
}

// CHOOSE CONFIG POPUP
.choose-config-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(at top, $color-white, $color-light-blue);
    width: 45%;
    height: 60vh;
    overflow: scroll;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: .5rem;

    &__form {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      //height: 100%;
      width: 100%;
      color: $color-black;

      &--select {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 40rem;
        height: 5rem;
        margin-right: 2rem;

        &:hover {
          cursor: pointer;
        }

        &:focus .choose-config-popup__content__form--select--label {
          position: relative;
          pointer-events: all;
        }

        &--input {
          opacity: 0;
          position: absolute;
          left: -99999px;

          &:checked + label {
            order: 1;
            z-index: 2;
            color: $color-white;
            background: $color-darkest-blue;
            border-top: none;
            position: relative;
          }

          &:checked + label:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $color-black;
            position: absolute;
            right: 10px;
            top: calc(50% - 2.5px);
            pointer-events: none;
            z-index: 3;
          }

          &:checked + label:before {
            position: absolute;
            right: 0;
            height: 5rem;
            width: 5rem;
            content: '';
            background: $color-white;
          }
        }

        &--label {
          padding: 0 3rem 0 1.5rem;
          min-height: 5rem;
          display: flex;
          align-items: center;
          background-color: $color-light-grey;
          border-top: $color-white solid 1px;
          position: absolute;
          top: 0;
          width: 100%;
          pointer-events: none;
          order: 2;
          z-index: 1;
          transition: background .4s ease-in-out;
          box-sizing: border-box;
          overflow: hidden;
          white-space: nowrap;

          &:hover {
            color: $color-white;
            background-color: $color-darkest-blue;
          }
        }
      }
    }

    &__back-button-container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;
    }
  }
}

// COPY LINK CONFIG POPUP
.copy-link-config-popup {
  font-size: $default-font-size;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color-white, 1);
    width: 45%;
    height: 60vh;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: .5rem;

    &__info-box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &--label {
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
      }

      &--label-file {
        cursor: pointer;
      }

      &--input {
        width: 100%;
      }

      &--input-file {
        display: none;
      }

      &__button {
        margin: 3rem 0;
      }
    }
  }
}

// DIMENSIONS POPUP
.dimensions-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(at top, $color-white, $color-light-blue);
    width: 45%;
    height: 60vh;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: .5rem;

    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      color: $color-black;

      &--select {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 40rem;
        height: 5rem;
        margin-right: 2rem;

        &:hover {
          cursor: pointer;
        }

        &:focus .choose-config-popup__content__form--select--label {
          position: relative;
          pointer-events: all;
        }

        &--input {
          opacity: 0;
          position: absolute;
          left: -99999px;

          &:checked + label {
            order: 1;
            z-index: 2;
            color: $color-white;
            background: $color-darkest-blue;
            border-top: none;
            position: relative;
          }

          &:checked + label:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $color-black;
            position: absolute;
            right: 10px;
            top: calc(50% - 2.5px);
            pointer-events: none;
            z-index: 3;
          }

          &:checked + label:before {
            position: absolute;
            right: 0;
            height: 5rem;
            width: 5rem;
            content: '';
            background: $color-white;
          }
        }

        &--label {
          padding: 0 3rem 0 1.5rem;
          min-height: 5rem;
          display: flex;
          align-items: center;
          background-color: $color-light-grey;
          border-top: $color-white solid 1px;
          position: absolute;
          top: 0;
          width: 100%;
          pointer-events: none;
          order: 2;
          z-index: 1;
          transition: background .4s ease-in-out;
          box-sizing: border-box;
          overflow: hidden;
          white-space: nowrap;

          &:hover {
            color: $color-white;
            background-color: $color-darkest-blue;
          }
        }
      }
    }
  }
}

// FORMS COMPONENTS (REGISTER, LOGIN, COMPLAINT, TASK, ETC.)
.form-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.md-container__form-window {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  width: 80%;
  min-height: 480px;
  max-width: 100%;

  &__form-container {
    text-align: center;
    padding: 5rem 4rem 5rem 10rem;
    width: 50%;
  }

  &__right-side {
    width: 50%;
    padding: 5rem 10rem 5rem 4rem;

    &__products {

      &__pictures {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &__picture-container {
          width: 29%;
          height: 15rem;
          overflow: hidden;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      &__add-button {
        display: flex;
        justify-content: flex-start;
      }
    }

    &__add-product {
      display: flex;
      justify-content: flex-end;

      a {
        margin: 1rem;
      }
    }

  }
}

.back-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
}

.form-control--input {
  font-size: $default-font-size;
  background-color: $color-light-grey;
  border: none;
  padding: 1rem;
  margin: 0;
  width: 100%;
  outline: none;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 6rem 0 3rem 0;
}

// If you set width to %,it will take the width of their parent element
// In your case.the div takes the width of the parent element i.e td

.invalid-data__container {
  width: 100%;

  &--text {
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: $color-light-red;
    color: $color-darkest-red;
  }
}

.invalid-contact-data {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: $color-light-red;
  color: $color-darkest-red;
}

.two-control-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;

  &__control {
    width: 48%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.md-form-control {
  width: 100%;
  margin: 0;
}

.info-data {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: $color-light-green;
  color: $color-dark-green;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  border-radius: 20px;
  border: 1px solid $color-red;
  background-color: $color-red;
  color: $color-white;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 23px;
  margin: 2rem 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: $color-white;
}

button:disabled {
  background-color: $color-light-red;
}

.extra-info {
  font-size: 1rem;
}

.paginating {
  width: 100%;
}

.sorting {
  width: 100%;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.select-box {
  margin-top: 1rem;
  margin-bottom: 0;
}

.copy-link-config-popup__content__info-box__button {
  margin: 0 0 0 1rem;
}

.picture-add-successfully {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.select-box__input-text {
  background-color: $color-light-grey;
}

.disabled {
  background-color: $color-grey;
  color: $color-light-grey;
}

.form-control-field-title {
  margin-bottom: 0;
  text-align: left;
  font-size: $default-font-size;
}

//PAGINATOR
.pagination-container {
  z-index: 90;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.paginator {
  display: flex;
  align-items: center;
  height: 55.594px;
  margin: 0 1rem;
}

.paginator {
  ::ng-deep {
    ul {
      margin-bottom: 0;
    }
  }
}

.paginator {
  ::ng-deep {
    li.current {
      background: red;
    }
  }
}
