@import 'src/sass/base/variables';

//PRODUCT CARD
.product-card {
  position: relative;
  margin: 8rem 2rem 7rem 2rem;
  width: 30rem;
  height: auto;
  text-align: center;
  background: $color-white;
  box-shadow: 3px 0 11px 5px rgba($color-black, 0.1);

  //&:first-child {
  //  margin: 12rem 2rem 11rem 2rem;
  //}

  &__photo {
    width: 24rem;
    margin-top: -6rem;
    border-bottom: $color-light-grey solid 1px;
  }

  &__title {
    margin-top: 1.5rem;
    color: $color-red;
    font-weight: bold;
    font-size: 2.2rem;
  }

  &__details {
    display: inline-block;
    margin: 1rem 2rem;
    text-align: left;
    list-style: none;
    font-size: 1.4rem;
    min-height: 15.5rem;

    &--info {

    }
  }

  &__icons-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex: 0 0 33%;
    font-size: 1.4rem;
    color: $color-darkest-grey;
    padding: .5rem 3rem;

    &--info {

      &--title {
        font-size: 1.6rem;
      }

      &--icon {
        height: 5rem;
      }

      &--detail {
        font-size: 1.4rem;
        color: $color-darkest-red;
      }
    }
  }

  &__buttons-section {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: -2rem;

    &--link:not(:last-child) {
      margin-right: 2rem;
    }

    &--icon {
      font-size: 1.6rem;
    }
  }
}

//EXTRA PRODUCT CARD
.extra-product-card {
  position: relative;
  margin: 4rem 2rem 2rem 3rem;
  width: 10rem;
  height: 16rem;
  text-align: center;
  background: $color-white;
  box-shadow: 3px 0 11px 5px rgba($color-black, 0.1);

  &__photo {
    width: 7rem;
    margin-top: -3rem;
  }

  &__title {
    margin-top: 2rem;
    color: $color-black;
    font-size: 2.2rem;
  }

  &__buttons-section {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    &--link:not(:last-child) {
      margin-right: 2rem;
    }

    &--icon {
      font-size: 1.2rem;
    }
  }
}

//GROUP OF PRODUCTS CARD
.group-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: $color-dark-white;
  background-color: $color-dark-white;
  box-shadow: 0 1px 1px,
  0 2px 2px rgba(0, 0, 0, 0.1),
  0 4px 4px rgba(0, 0, 0, 0.1),
  0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform .7s;
    pointer-events: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.009) 11.7%,
        hsla(0, 0%, 0%, 0.034) 22.1%,
        hsla(0, 0%, 0%, 0.072) 31.2%,
        hsla(0, 0%, 0%, 0.123) 39.4%,
        hsla(0, 0%, 0%, 0.182) 46.6%,
        hsla(0, 0%, 0%, 0.249) 53.1%,
        hsla(0, 0%, 0%, 0.320) 58.9%,
        hsla(0, 0%, 0%, 0.394) 64.3%,
        hsla(0, 0%, 0%, 0.468) 69.3%,
        hsla(0, 0%, 0%, 0.540) 74.1%,
        hsla(0, 0%, 0%, 0.607) 78.8%,
        hsla(0, 0%, 0%, 0.668) 83.6%,
        hsla(0, 0%, 0%, 0.721) 88.7%,
        hsla(0, 0%, 0%, 0.762) 94.1%,
        hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform .7s;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform .7s;
    z-index: 1;

    > * + * {
      margin-top: 1rem;
    }

    &--title {
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 1.2;
    }

    &--text {
      font-size: 1.125rem;
      font-style: italic;
      line-height: 1.35;
    }
  }

  &:focus-within {
    &:before,
    &:after,
    &__content,
    &__content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}


//SINGLE PRODUCT PAGE
.mini-products {
  display: flex;
  flex-direction: column;

  &__element {
    border: #00FF1E solid 1px;
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
  }
}

.main-picture {
  img {
    width: 54rem;
  }

  img:not(:first-child) {
    margin-bottom: 3rem;
  }

  margin: 0 2rem 0 4rem;
}

.specification-icons {
  display: flex;
  justify-content: center;

  &__element {
    text-align: center;
    font-size: 1.2rem;
  }

  &__element:not(:last-child) {
    margin-right: 1rem;
  }

  img {
    height: 6.5rem;
    width: 6.5rem;
  }
}

.product-name {
  font-size: 3.2rem;
  font-weight: bold;
  color: $color-red;
  flex: 0 0 100%;
}

.price {
  flex: 0 0 100%;
  font-size: 2.2rem;

  &--after-discount {
    flex: 0 0 100%;
    font-size: 2.2rem;
  }
}

.all-sizes-container {
  p {
    font-size: 1.6rem;
    flex: 0 0 100%;
  }

  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}

//QUANTITY COUNTER
.quantity-container {
  font-size: 2rem;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .quantity-desc {
    margin: 0 1.5rem;
  }

  i {
    font-size: 2.2rem;
    border: 1px solid $color-light-grey;
    cursor: pointer;
    font-family: serif;
    height: 4rem;
    float: left;
    line-height: 4rem;
    text-align: center;
    user-select: none;
    transition: all 150ms ease-out;
    width: 3.3rem;

    &:active {
      background-color: $color-red;
      color: $color-white;
      transition: none;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .quantity {
    border: none;
    //border-top: 1px solid $color-light-grey;
    //border-bottom: 1px solid $color-light-grey;
    float: left;
    font-size: 2.4rem;
    height: 3.8rem;
    text-align: center;
    outline: none;
    width: 5.4rem;
  }
}

//LINE
.line {
  background-color: $color-light-grey;
  height: 1px;
  width: 100%;
  margin: 2.5rem 0;
}

table {
  font-size: 1.6rem;
}

.product-information--title {
  width: 100%;
  font-size: 1.6rem;
}
