<app-scroll-top></app-scroll-top>

<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/alexander-ant-r7xdS9hjYYE-unsplash-3.png" alt="roof windows">
  <app-navbar-navigator [path]="this.router.url"></app-navbar-navigator>
</div>

<div class="d-flex justify-content-center">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <app-okpol-loader></app-okpol-loader>
  </div>

  <div class="md-container" *ngIf="!isLoading">

    <div class="searching-container">
      <input type="text" name="searchAdvice" [(ngModel)]="searchAdvice" (keyup)="filtering()" autofocus
             placeholder="{{'GENERAL.search' | translate}}">
    </div>

    <div class="card" *ngFor="let advice of filteredAdvices">
      <div class="card__header">
        <a routerLink="{{advice.type}}/{{advice.id}}">
          <img src="{{advice.picture}}" alt="card__image" class="card__image" width="600">
        </a>
      </div>
      <div class="card__body">
        <span class="tag tag-blue">{{advice.category}}</span>
        <h4>{{advice.title}}</h4>
        <p>{{advice.short}}</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <div class="user__info">
            <h5>{{advice.added | date: 'dd-MM-yyyy'}}</h5>
            <small>{{durationCalc(advice)}} {{'GENERAL.days' | translate}} {{'GENERAL.ago' | translate}}</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
