<app-scroll-top></app-scroll-top>

<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/red3.jpg" alt="roof windows">
  <app-navbar-navigator [path]="this.router.url"></app-navbar-navigator>
</div>

<div class="px-5">
  <section>

    <!--Section description-->
    <p class="mt-5 grey-text pb-5 text-center">{{ 'CONFIGURATOR.description' | translate}}</p>

    <!--Grid row-->
    <div class="md-container">

      <!--Roof windows-->
      <div class="group-card">

        <!--Group-card content-->
        <div class="group-card__content">
          <div class="group-card__content--title">{{ 'CONFIGURATOR.roofWindows' | translate}}</div>
          <div class="group-card__content--text">{{ 'CONFIGURATOR.roofWindowsDesc' | translate}}</div>
          <a routerLink="./{{ 'CONFIGURATOR.roofWindowsLink' | translate}}" class="btn btn--red">
            {{ 'CONFIGURATOR.roofWindows' | translate}}</a>
        </div>

      </div>
      <!--Roof windows-->

      <!--Flashings-->
      <div class="group-card">

        <!--Group-card content-->
        <div class="group-card__content">
          <div class="group-card__content--title">{{ 'CONFIGURATOR.flashings' | translate}}</div>
          <div class="group-card__content--text">{{ 'CONFIGURATOR.flashingsDesc' | translate}}</div>
          <a routerLink="./{{ 'CONFIGURATOR.flashingsLink' | translate}}" class="btn btn--grey">
            {{ 'CONFIGURATOR.flashings' | translate}}</a>
        </div>

      </div>
      <!--Flashings-->

      <!--Accessories-->
      <div class="group-card">

        <!--Group-card content-->
        <div class="group-card__content">
          <div class="group-card__content--title">{{ 'CONFIGURATOR.accessories' | translate}}</div>
          <div class="group-card__content--text">{{ 'CONFIGURATOR.accessoriesDesc' | translate}}</div>
          <a routerLink="./{{ 'CONFIGURATOR.accessoriesLink' | translate}}" class="btn btn--orange">
            {{ 'CONFIGURATOR.accessories' | translate}}</a>
        </div>

      </div>
      <!--Accessories-->

      <!--Flat-roof-windows-->
      <div class="group-card">

        <!--Group-card content-->
        <div class="group-card__content">
          <div class="group-card__content--title">{{ 'CONFIGURATOR.flatRoofWindows' | translate}}</div>
          <div class="group-card__content--text">{{ 'CONFIGURATOR.flatRoofWindowsDesc' | translate}}</div>
          <a routerLink="./{{ 'CONFIGURATOR.flatRoofWindowsLink' | translate}}" class="btn btn--blue">
            {{ 'CONFIGURATOR.flatRoofWindows' | translate}}</a>
        </div>

      </div>
      <!--Flat-roof-windows-->

      <!--Vertical windows-->
      <div class="group-card">

        <!--Group-card content-->
        <div class="group-card__content">
          <div class="group-card__content--title">{{ 'CONFIGURATOR.verticalWindows' | translate}}</div>
          <div class="group-card__content--text">{{ 'CONFIGURATOR.verticalWindowsDesc' | translate}}</div>
          <a routerLink="./{{ 'CONFIGURATOR.verticalWindowsLink' | translate}}" class="btn btn--cyan">
            {{ 'CONFIGURATOR.verticalWindows' | translate}}</a>
        </div>

      </div>
      <!--Vertical windows-->

      <!--Vertical windows-->
      <div class="group-card">

        <!--Group-card content-->
        <div class="group-card__content">
          <div class="group-card__content--title">{{ 'CONFIGURATOR.shop' | translate}}</div>
          <div class="group-card__content--text">{{ 'CONFIGURATOR.shopDesc' | translate}}</div>
          <a routerLink="/{{ 'CONFIGURATOR.shopLink' | translate}}" class="btn btn--blue">
            {{ 'CONFIGURATOR.shop' | translate}}</a>
        </div>

      </div>
      <!--Vertical windows-->

    </div>
    <!--Grid row-->

  </section>

</div>
