<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/joel-jasmin-forestbird-xzPMUMDDsfk-unsplash.jpg" alt="roof windows">
</div>
<div class="d-flex p-2 col-example" style="height: 100px; border: grey solid 2px; text-align: center">Baner</div>
<app-roof-window-filtration (filtersEmitter)="filtersInput($event)"></app-roof-window-filtration>
<!--TODO Menu boczne do filtrowania okien do zakupu-->

<div class="md-container">
  <div class="loader-container" *ngIf="isFiltering; else elseBlock">
    <app-bouncing-loader></app-bouncing-loader>
  </div>
  <ng-template #elseBlock>
    <div class="product-card" *ngFor="let window of filteredRoofWindowsList">
      <a routerLink="./{{window.kod}}">
        <img src="{{window.linkiDoZdjec[0]}}" alt="{{window.grupaAsortymentowa}}" class="product-card__photo"/>
      </a>
      <h3 class="product-card__title">{{window.windowName}}</h3>

      <ul class="product-card__details">
        <li class="product-card__details--info">{{'SINGLE-PRODUCT.category' | translate}}:
          {{window.rodzina}} </li>
        <li class="product-card__details--info">{{'SINGLE-PRODUCT.opening' | translate}}:
          {{window.otwieranie}} </li>
        <li class="product-card__details--info">{{'SINGLE-PRODUCT.innerColor' | translate}}:
          {{window.stolarkaKolor}} </li>
        <li class="product-card__details--info">{{'SINGLE-PRODUCT.handleType' | translate}}:
          {{window.zamkniecieTyp}} - {{window.zamkniecieKolor}} </li>
        <li class="product-card__details--info">{{'SINGLE-PRODUCT.outerColor' | translate}}:
          {{window.oblachowanieKolor}} </li>
        <li class="product-card__details--info">{{'SINGLE-PRODUCT.ventilation' | translate}}:
          {{window.wentylacja}}</li>
      </ul>

      <div class="product-card__icons-section">
        <div class="product-card__icons-section--info">
          <h4 class="product-card__icons-section--info--title">{{ 'SINGLE-PRODUCT.numberOfGlass' | translate}}</h4>
          <p class="product-card__icons-section--info--detail">{{window.numberOfGlasses}}</p>
          <!--        <img src="assets/icons/glazing.png" class="product-card__icons-section&#45;&#45;info&#45;&#45;icon" alt="{{window.windowGlazing}}">-->
        </div>
        <div class="product-card__icons-section--info">
          <h4 class="product-card__icons-section--info--title">{{ 'SINGLE-PRODUCT.material' | translate}}</h4>
          <p class="product-card__icons-section--info--detail">{{window.stolarkaMaterial}}</p>
          <!--        <img src="assets/icons/material.png" class="product-card__icons-section&#45;&#45;info&#45;&#45;icon" alt="{{ 'SINGLE-PRODUCT.material' | translate}}">-->
        </div>
        <div class="product-card__icons-section--info">
          <h4 class="product-card__icons-section--info--title">{{ 'SINGLE-PRODUCT.price' | translate}}</h4>
          <p class="product-card__icons-section--info--detail">{{window.CenaDetaliczna}}</p>
          <!--        <img src="assets/icons/price.png" class="product-card__icons-section&#45;&#45;info&#45;&#45;icon" alt="{{ 'SINGLE-PRODUCT.price' | translate}}">-->
        </div>
      </div>
      <div class="product-card__buttons-section">
        <!--      TODO dodać linki do odpowiednich podstron-->
        <a class="product-card__buttons-section--link icon-btn icon-btn--red">
          <i class="fas fa-cart-plus product-card__buttons-section--icon"></i>
        </a>
        <a routerLink="./{{window.kod}}" class="product-card__buttons-section--link icon-btn icon-btn--blue">
          <i class="fas fa-info-circle product-card__buttons-section--icon"></i>
        </a>
        <a routerLink="/{{ 'LINK.configuratorRoofWindows' | translate}}/-1/no-name/{{window.kod}}"
           class="product-card__buttons-section--link icon-btn icon-btn--grey">
          <i class="fas fa-cogs product-card__buttons-section--icon"></i>
        </a>
      </div>
    </div>
  </ng-template>
</div>
