@import 'src/sass/base/variables';
@import 'src/sass/buttons';
@import 'src/sass/components';

.navbar-background {
  height: 20rem;
  overflow: hidden;
  background-color: rgba($color_black, 1);

  img {
    opacity: .7;
  }
}

.md-container {
  max-width: 140rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
