<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/nathan-fertig-FBXuXp57eM0-unsplash.jpg" alt="roof windows">
</div>

<div class="d-flex justify-content-center">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <app-okpol-loader></app-okpol-loader>
  </div>

  <div *ngIf="!isLoading" class="container" id="container">
    <div class="form-container sign-in-container">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <h1>{{'LOGIN.loginTitle' | translate}}</h1>
        <a routerLink="../{{ 'LINK.registerLink' | translate}}"
           class="navigation-link">{{ 'LINK.register' | translate}}</a>
        <input id="email" type="email" formControlName="email"
               placeholder="{{ 'LOGIN.email' | translate}}">
        <div class="invalid-contact-container" *ngIf="authForm.get('email').dirty || authForm.get('email').touched">
          <div class="invalid-contact-data" *ngIf="authForm.get('email').hasError('emailNotExists')">
            {{'LOGIN.emailNotExists' | translate}}
          </div>
          <div
            class="invalid-contact-data" *ngIf="authForm.get('email').hasError('required')">
            {{'LOGIN.requiredField' | translate}}
          </div>
          <div
            class="invalid-contact-data" *ngIf="authForm.get('email').hasError('email')">
            {{'LOGIN.wrongEmail' | translate}}
          </div>
        </div>
        <input id="password" type="password" formControlName="password"
               placeholder="{{ 'LOGIN.password' | translate}}">
        <div class="invalid-contact-container" *ngIf="authForm.get('password').dirty || authForm.get('password').touched">
          <div
            class="invalid-contact-data" *ngIf="authForm.get('password').touched &&
              authForm.get('password').errors && authForm.get('password').errors.minlength">
            {{'LOGIN.tooShortPassword' | translate}}
          </div>
          <div
            class="invalid-contact-data"
            *ngIf="authForm.get('password').dirty && authForm.get('password').hasError('required')">
            {{'LOGIN.requiredField' | translate}}
          </div>
        </div>
        <a routerLink="{{ 'LINK.newPassword' | translate}}"
           class="navigation-link">{{ 'LOGIN.forgotPassword' | translate}}</a>
        <button type="submit" [disabled]="authForm.invalid">{{ 'LOGIN.login' | translate}}</button>
        <div class="social-container">
          <a href="https://www.facebook.com/oknadachowe/" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.youtube.com/channel/UCtjVf14K2LNf29alqYglOIA" class="social"><i class="fab fa-youtube"></i></a>
          <a href="https://pl.pinterest.com/oknaokpol/_created/" class="social"><i class="fab fa-pinterest"></i></a>
          <a href="https://www.instagram.com/okna_okpol/" class="social"><i class="fab fa-instagram"></i></a>
        </div>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay-container__img" *ngIf="!error"></div>
      <div class="overlay-container__alert" *ngIf="error">
        <p class="overlay-container__alert--error-text">{{error}}</p>
        <div class="overlay-container__alert--support-info">
          <p class="overlay-container__alert--support-info--text">{{ 'LOGIN.supportInfo' | translate}}:</p>
          <p class="overlay-container__alert--support-info--email"><span class="font-weight-bold mr-2">{{'CONTACT.email' | translate}}</span><a
            href="{{'LINK.mailTo' | translate}}">{{'CONTACT.emailAddress' | translate}}</a></p>
          <p class="overlay-container__alert--support-info--phone"><span
            class="font-weight-bold mr-2">{{'CONTACT.phone' | translate}}</span>{{'CONTACT.phoneNumberOKPOL' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
