<app-scroll-top></app-scroll-top>

<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/register.jpg" alt="roof windows">
  <app-navbar-navigator [path]="this.router.url"></app-navbar-navigator>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center">
  <app-okpol-loader></app-okpol-loader>
</div>

<div class="md-container" *ngIf="!isLoading">

  <div *ngIf="isVerifying && verifySuccess; else confirmationWithoutData">
    <h2 class="title">{{'REGISTER.confirmationSuccess' | translate}}</h2>
    <a routerLink="login"
       class="btn btn--red">{{ 'LINK.loginPage' | translate}}</a>
    <a routerLink="/"
       class="btn btn--grey">{{ 'LINK.homePage' | translate}}</a>
  </div>

  <ng-template #confirmationWithoutData>
    <h2 class="title">{{'REGISTER.confirmation' | translate}}</h2>
    <a routerLink="login"
       class="btn btn--red">{{ 'LINK.loginPage' | translate}}</a>
    <a routerLink="/"
       class="btn btn--grey">{{ 'LINK.homePage' | translate}}</a>
  </ng-template>

</div>
