<div class="md-container--table">
  <div class="loader-container" *ngIf="isLoading">
    <app-okpol-loader></app-okpol-loader>
  </div>

  <div *ngIf="!isLoading && userTasks$ | async as userTaskList">
    <div *ngIf="userTaskList.length === 0; else tasksBlock" class="task-container">
      <p class="task-container--no-tasks">{{'TASK.notasks' | translate}}</p>
    </div>

    <ng-template #tasksBlock>

      <form [formGroup]="filtrationForm" class="search-form">
        <table class="task-container__tasks-table">
          <!--Table header-->
          <tr class="task-container__tasks-table__header">
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByNumber()">
                {{ 'TASK.number' | translate}}
                <span *ngIf="!numberToggler">&#8595;</span>
                <span *ngIf="numberToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByTopic()">
                {{ 'TASK.topic' | translate}}
                <span *ngIf="!topicToggler">&#8595;</span>
                <span *ngIf="topicToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByStatus()">
                {{ 'TASK.status' | translate}}
                <span *ngIf="!statusToggler">&#8595;</span>
                <span *ngIf="statusToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByCreatedDate()">
                {{ 'TASK.created' | translate}}
                <span *ngIf="!createdToggler">&#8595;</span>
                <span *ngIf="createdToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByUpdatedDate()">
                {{ 'TASK.updated' | translate}}
                <span *ngIf="!updatedToggler">&#8595;</span>
                <span *ngIf="updatedToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByPriority()">
                {{ 'TASK.priority' | translate}}
                <span *ngIf="!priorityToggler">&#8595;</span>
                <span *ngIf="priorityToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByNextStep()">
                {{ 'TASK.nextStep' | translate}}
                <span *ngIf="!nextStepToggler">&#8595;</span>
                <span *ngIf="nextStepToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByDeadline()">
                {{ 'TASK.deadline' | translate}}
                <span *ngIf="!deadlineToggler">&#8595;</span>
                <span *ngIf="deadlineToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByCrmProject()">
                {{ 'TASK.crmProject' | translate}}
                <span *ngIf="!crmProjectToggler">&#8595;</span>
                <span *ngIf="crmProjectToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">
              <label class="sort__input--label" (click)="sortByDescription()">
                {{ 'TASK.description' | translate}}
                <span *ngIf="!descriptionToggler">&#8595;</span>
                <span *ngIf="descriptionToggler">&#8593;</span>
              </label>
            </th>
            <th class="task-container__tasks-table__header--text">{{ 'TASK.edit' | translate}}</th>
            <th class="task-container__tasks-table__header--text">{{ 'TASK.delete' | translate}}</th>
          </tr>

          <tr class="task-container__tasks-table__search-header">
            <td class="task-container__tasks-table__search-header--td">
              <input type="text" formControlName="numberSearch"
                     class="form-control" placeholder="{{ 'TASK.number' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="text" formControlName="topicSearch"
                     class="form-control" placeholder="{{ 'TASK.topic' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="text" formControlName="statusSearch"
                     class="form-control" placeholder="{{ 'TASK.status' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="date" formControlName="createdSearch"
                     class="form-control" placeholder="{{ 'TASK.created' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="date" formControlName="updatedSearch"
                     class="form-control" placeholder="{{ 'TASK.updated' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="text" formControlName="prioritySearch"
                     class="form-control" placeholder="{{ 'TASK.priority' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="date" formControlName="nextStepSearch"
                     class="form-control" placeholder="{{ 'TASK.nextStep' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="date" formControlName="deadlineSearch"
                     class="form-control" placeholder="{{ 'TASK.deadline' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="text" formControlName="crmProjectSearch"
                     class="form-control" placeholder="{{ 'TASK.crmProject' | translate}}"></td>
            <td class="task-container__tasks-table__search-header--td">
              <input type="text" formControlName="descriptionSearch"
                     class="form-control" placeholder="{{ 'TASK.description' | translate}}"></td>
          </tr>

          <tr class="task-container__tasks-table__item"
              *ngFor="let task of filteredTasks">
            <td class="task-container__tasks-table__item--info">{{task.erpNumber}}</td>
            <td class="task-container__tasks-table__item--info">{{task.topic}}</td>
            <td class="task-container__tasks-table__item--info">{{task.status}}</td>
            <td class="task-container__tasks-table__item--info">{{task.registrationDate | date: 'dd-MM-yyyy'}}</td>
            <td class="task-container__tasks-table__item--info">{{task.updatedAt | date: 'dd-MM-yyyy'}}</td>
            <td class="task-container__tasks-table__item--info">{{task.priority}}</td>
            <td class="task-container__tasks-table__item--info">{{task.nextStepDate | date: 'dd-MM-yyyy'}}</td>
            <td class="task-container__tasks-table__item--info">{{task.deadlineDate | date: 'dd-MM-yyyy'}}</td>
            <td class="task-container__tasks-table__item--info">{{task.crmProject}}</td>
            <td class="task-container__tasks-table__item--info">{{task.description}}</td>

            <td class="task-container__tasks-table__item--info">
              <a routerLink="./update/{{task.erpNumber}}">
                <i class="fas fa-edit task-container__tasks-table__item--edit"></i>
              </a>
            </td>
            <td class="task-container__tasks-table__item--info"><i
              class="far fa-trash-alt task-container__tasks-table__item--trash"
              (click)="deleteTask(task)"></i></td>
          </tr>

        </table>
      </form>
    </ng-template>
    <div class="margin-top-2">
      <a routerLink="/{{ 'LINK.myAccount' | translate}}/{{ 'LINK.newTask' | translate}}" class="btn btn--dark-green">{{ 'TASK.addNewTask' | translate}}</a>
    </div>
  </div>
</div>

