<div class="row">
  <div class="col">
    <!--Searching-->
    <form [formGroup]="filtrationForm" class="form-inline md-form form-sm active-pink-2">
      <!--      Searching by name input box-->
      <div class="searching-box">
        <div class="pr-1 searching-icon" fas icon="search" aria-hidden="true"></div>
        <input formControlName="windowName"
               class="form-control form-control-sm mr-3 w-75"
               type="text"
               autocomplete="off"
               placeholder="{{ 'SHOP.searchingText' | translate}}"
        >
      </div>

      <!-- START Searching by glazing checkbox box-->
      <div class="searching-box">
        <label for="windowGlazings">{{ 'SHOP.glazingToFilter' | translate}}</label>
        <div class="check-box"
             *ngFor="let glass of glassesToChoice; let i = index"
        formArrayName="windowGlazings">
          <input type="checkbox"
                 formControlName="{{i}}"
          >{{glass}}
        </div>
      </div>
      <!-- END Searching by glazing checkbox box-->

      <!-- START Searching by opening box-->
      <div class="searching-box">
        <label>{{ 'SHOP.openingToFilter' | translate}}</label>
        <div class="check-box"
             *ngFor="let opening of openingTypesToChoice; let i = index"
             formArrayName="windowOpeningTypes">
          <input type="checkbox"
                 formControlName="{{i}}"
          >{{opening}}
        </div>
      </div>
      <!-- END Searching by opening box-->

      <!-- START Searching by material box-->
      <div class="searching-box">
        <label>{{ 'SHOP.materialToFilter' | translate}}</label>
        <div class="check-box"
             *ngFor="let material of materialsToChoice; let i = index"
             formArrayName="windowMaterials">
          <input type="checkbox"
                 formControlName="{{i}}"
          >{{material}}
        </div>
      </div>
      <!-- END Searching by material box-->

      <!--      Searching by width input box-->
      <div class="searching-box dimensions-input">
        <label>{{ 'SHOP.widthFromTo' | translate}}</label>
        <div class="md-form md-outline">
          <input formControlName="windowWidthFrom"
                 type="number"
                 autocomplete="off"
                 min="{{smallestWidth}}"
                 max="{{biggestWidth}}"
                 placeholder="{{ 'SHOP.from' | translate}}"
          >
          <input formControlName="windowWidthTo"
                 type="number"
                 autocomplete="off"
                 min="{{smallestWidth}}"
                 max="{{biggestWidth}}"
                 placeholder="{{ 'SHOP.to' | translate}}"
          ></div>
      </div>

      <!--      Searching by height input box-->
      <div class="searching-box dimensions-input">
        <label>{{ 'SHOP.heightFromTo' | translate}}</label>
        <div class="md-form md-outline">
          <input formControlName="windowHeightFrom"
                 type="number"
                 autocomplete="off"
                 min="{{smallestHeight}}"
                 max="{{biggestHeight}}"
                 placeholder="{{ 'SHOP.from' | translate}}"
          >
          <input formControlName="windowHeightTo"
                 type="number"
                 autocomplete="off"
                 min="{{smallestHeight}}"
                 max="{{biggestHeight}}"
                 placeholder="{{ 'SHOP.to' | translate}}"
          ></div>
      </div>

    </form>
  </div>
</div>

