@import 'src/sass/base/variables';
@import 'src/sass/buttons';
@import 'src/sass/radio-input';
@import 'src/sass/components';


.md-container__form-window__form-container {
  padding: 5rem 10rem;
}

.md-container__form-window__right-side {
  width: 50%;
  padding: 0;

  &__img {
    height: 100%;
    background-image: url("../../../../assets/img/task_form/ivan-shilov-_rWC40pYIwk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.select-box {
  color: $color-black;
}
