<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/pawel-czerwinski-MeecA0PPiJM-unsplash.jpg" alt="cart">
</div>

<div class="d-flex justify-content-center">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <app-okpol-loader></app-okpol-loader>
  </div>

  <div class="md-container" *ngIf="!isLoading">

    <div class="md-container__left-side">
      <div class="md-container__left-side__header">
        <h1 class="md-container__left-side__header--title">{{'CART.title' | translate}}</h1>
        <h4 class="md-container__left-side__header--items">{{'CART.numberInCart' | translate}}
          : {{quantityInCart$ | async}}</h4>
      </div>
      <hr>
      <div *ngIf="(cart$ | async).cart.cartItems.length === 0; else notEmpty"
           class="md-container__left-side--empty-cart">
        <p class="md-container__left-side--empty-cart--text">{{'CART.emptyCart' | translate}}</p>
      </div>

      <ng-template #notEmpty>

        <table class="md-container__left-side__product-table">
          <!--Table header-->
          <tr class="md-container__left-side__product-table__item">
            <th class="md-container__left-side__product-table__item--picture">{{ 'CART.picture' | translate}}</th>
            <th class="md-container__left-side__product-table__item--name">{{ 'CART.name' | translate}}</th>
            <th class="md-container__left-side__product-table__item--name">{{ 'CART.quantity' | translate}}</th>
            <th class="md-container__left-side__product-table__item--price">{{ 'CART.price' | translate}}</th>
            <th *ngIf="(cart$ | async).cart.cartItems[0]._discount > 0"
                class="md-container__left-side__product-table__item--price">{{ 'CART.priceAfterDiscount' | translate}}</th>
            <th class="md-container__left-side__product-table__item--trash">{{ 'CART.delete' | translate}}</th>
          </tr>
          <!--Table header-->

          <tr *ngFor="let cartItem of (cart$ | async).cart.cartItems"
              class="md-container__left-side__product-table__item">
            <td><img src="{{cartItem._product._linkiDoZdjec[0]}}" alt="Product"
                     class="md-container__left-side__product-table__item--picture"></td>
            <td><p class="md-container__left-side__product-table__item--name">{{cartItem._product._productName}}</p>
            </td>
            <td>
              <div class="quantity-container">
                <i (click)="decreaseQuantity(cartItem)">-</i>
                <input type="number" class="quantity" [(ngModel)]="cartItem._quantity">
                <i (click)="increaseQuantity(cartItem)">+</i>
              </div>
            </td>
            <td><p class="md-container__left-side__product-table__item--price">
              {{cartItem._product._CenaDetaliczna / (cart$ | async).cart.exchange * cartItem._quantity | currency :' '}} {{returnCurrencyName((cart$ | async).cart.currency)}}</p>
            </td>
            <td *ngIf="cartItem._discount > 0"><p class="md-container__left-side__product-table__item--price">
              {{(cartItem._product._CenaDetaliczna - (cartItem._product._CenaDetaliczna * cartItem._discount)) / (cart$ | async).cart.exchange * cartItem._quantity | currency :' '}} {{returnCurrencyName((cart$ | async).cart.currency)}}</p>
            </td>
            <td><i class="far fa-trash-alt md-container__left-side__product-table__item--trash"
                   (click)="deleteFromCart(cartItem)"></i></td>
          </tr>
        </table>
      </ng-template>
    </div>

    <div class="md-container__right-side">
      <div class="md-container__right-side__header">
        <h1 class="md-container__right-side__header--title">{{'CART.summary' | translate}}</h1>
        <hr>
      </div>


      <div class="md-container__right-side__summary">
        <p *ngIf="(quantityInCart$ | async) ===1"
           class="md-container__right-side__summary--products">{{quantityInCart$ | async}} {{'CART.product' | translate}}</p>
        <p *ngIf="(quantityInCart$ | async) < 5 && (quantityInCart$ | async) > 1"
           class="md-container__right-side__summary--products">{{quantityInCart$ | async}} {{'CART.products' | translate}}</p>
        <p *ngIf="(quantityInCart$ | async) > 5"
           class="md-container__right-side__summary--products">{{quantityInCart$ | async}} {{'CART.products2' | translate}}</p>
        <p
          class="md-container__right-side__summary--total-price">{{(cart$ | async).cart.totalAmount | currency: ' '}} {{returnCurrencyName((cart$ | async).cart.currency)}}</p>
      </div>

      <div class="md-container__right-side__shipping">
        <p class="md-container__right-side__shipping--title">{{'CART.chooseShipping' | translate}}</p>
        <div class="select-box sorting margin-bottom-2">
          <div class="select-box__current" tabindex="1">  <!--Usunięcie tabindex rozwala selecta-->
            <div class="select-box__value" *ngFor="let shippingOption of this.shippingOptions">
              <input class="select-box__input" type="radio" [(ngModel)]="shipping" (ngModelChange)="shippingChange()"
                     name="shippingOption" id="{{shippingOption}}" value="{{shippingOption}}">
              <p class="select-box__input-text">{{shippingOption}}</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input disabled" type="radio" id="disabledShipping" name="shippingOption" value="disabled" checked>
              <p class="select-box__input-text disabled">{{'CART.shipping' | translate}}</p>
            </div>
            <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                 alt="Arrow Icon" aria-hidden="true">
          </div>
          <ul class="select-box__list overflow-scroll-Y">
            <li *ngFor="let shippingOption of this.shippingOptions"><label
              class="select-box__option margin-bottom-0" for="{{shippingOption}}" aria-hidden="aria-hidden">{{shippingOption}}</label></li>
            <li><label class="select-box__option disabled" for="disabledShipping"
                       aria-hidden="aria-hidden">{{'CART.shipping' | translate}}</label></li>
          </ul>
        </div>
      </div>

      <div class="md-container__right-side__discount-code">
        <p class="md-container__right-side__discount-code--title">{{'CART.discountCode' | translate}}</p>
        <input class="md-container__right-side__discount-code--input" type="text" #discountCode>
        <a class="btn btn-small btn-invert--darkest-grey" (click)="setDiscount(discountCode)">></a>
      </div>

      <div class="md-container__right-side__summary">
        <p class="md-container__right-side__summary--summary-price">{{'CART.valueToPay' | translate}}</p>
        <p
          class="md-container__right-side__summary--summary-price">{{(cart$ | async).cart.totalAmountAfterDiscount | currency: ' '}} {{returnCurrencyName((cart$ | async).cart.currency)}}</p>
      </div>

      <div class="md-container__right-side__order">
        <a class="btn btn--dark-red" (click)="order()">{{'CART.order' | translate}}</a>
      </div>

    </div>
  </div>
</div>
