<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/mingwei-lim-_ypG9UJI4Mo-unsplash.jpg" alt="roof windows">
</div>

<div class="d-flex justify-content-center">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <app-okpol-loader></app-okpol-loader>
  </div>

  <form *ngIf="!isLoading" class="md-container" [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
    <div class="md-container__form-container">

      <div>
        <h1 class="complaint-title">{{'COMPLAINT.complaintForm' | translate}}</h1>


        <!--        <label for="email" class="complaint-form-labels">{{ 'COMPLAINT.email' | translate}}</label>-->
        <div class="md-form-control mt-3">
          <input type="applicant"
                 id="applicant"
                 formControlName="applicant"
                 class="form-control"
                 placeholder="{{'COMPLAINT.applicantName' | translate}}">
        </div>
        <div class="invalid-data__container"
             *ngIf="complaintForm.get('applicant').dirty || complaintForm.get('applicant').touched">
          <div
            class="invalid-data__container--text" *ngIf="complaintForm.get('applicant').hasError('required')">
            {{'COMPLAINT.requiredField' | translate}}
          </div>
        </div>
        <!--        <label for="password" class="complaint-form-labels">{{ 'COMPLAINT.password' | translate}}</label>-->
        <div class="md-form-control mt-3">
          <input type="email"
                 id="email"
                 formControlName="email"
                 class="form-control"
                 placeholder="{{'COMPLAINT.email' | translate}}">
        </div>
        <div class="invalid-data__container"
             *ngIf="complaintForm.get('email').dirty || complaintForm.get('email').touched">
          <div
            class="invalid-data__container--text" *ngIf="complaintForm.get('email').hasError('required')">
            {{'COMPLAINT.requiredField' | translate}}
          </div>
          <div
            class="invalid-data__container--text" *ngIf="complaintForm.get('email').hasError('email')">
            {{'COMPLAINT.wrongEmail' | translate}}
          </div>
        </div>
        <div class="md-form-control mt-3">
          <input type="phoneNumber"
                 id="phoneNumber"
                 formControlName="phoneNumber"
                 class="form-control"
                 placeholder="{{'COMPLAINT.phoneNumber' | translate}}">
        </div>
        <div class="invalid-data__container"
             *ngIf="complaintForm.get('phoneNumber').dirty || complaintForm.get('phoneNumber').touched">
          <div
            class="invalid-data__container--text" *ngIf="complaintForm.get('phoneNumber').hasError('required')">
            {{'COMPLAINT.requiredField' | translate}}
          </div>
          <div class="invalid-data__container--text" *ngIf="complaintForm.get('phoneNumber').invalid">
            {{'COMPLAINT.wrongPhoneNumber' | translate}}
          </div>
        </div>

        <div class="complaint-check-boxes__container margin-top-1">
          <div class="complaint-check-boxes__container--check-box"
               (click)="setIndividualClientTypeToTrue()">{{ 'COMPLAINT.individualApplicant' | translate}}
          </div>
          <div class="complaint-check-boxes__container--check-box"
               (click)="setCompanyClientTypeToTrue()">{{ 'COMPLAINT.companyApplicant' | translate}}
          </div>
        </div>

        <hr class="complaint-horizontal-line">
        <div *ngIf="individualApplicant">
          <div class="md-form-control mt-3">
            <input type="text"
                   id="individualStreet"
                   formControlName="individualStreet"
                   class="form-control"
                   placeholder="{{'COMPLAINT.street' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('individualStreet').dirty || complaintForm.get('individualStreet').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('individualStreet').hasError('individualRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>
          <!--          <label for="number" class="complaint-form-labels">{{ 'COMPLAINT.number' | translate}}</label>-->
          <div class="md-form-control mt-3">
            <input type="text"
                   id="individualLocalNumber"
                   formControlName="individualLocalNumber"
                   class="form-control"
                   placeholder="{{'COMPLAINT.number' | translate}}">
          </div>
          <!--          <label for="zipCode" class="complaint-form-labels">{{ 'COMPLAINT.zipCode' | translate}}</label>-->
          <div class="md-form-control mt-3">
            <input type="text"
                   id="individualZipCode"
                   formControlName="individualZipCode"
                   class="form-control"
                   placeholder="{{'COMPLAINT.zipCode' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('individualZipCode').dirty || complaintForm.get('individualZipCode').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('individualZipCode').hasError('individualRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <input type="text"
                   id="individualCity"
                   formControlName="individualCity"
                   class="form-control"
                   placeholder="{{'COMPLAINT.city' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('individualCity').dirty || complaintForm.get('individualCity').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('individualCity').hasError('individualRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>

          <div class="md-form-control mt-3">
            <input type="text"
                   id="individualCountry"
                   formControlName="individualCountry"
                   class="form-control"
                   placeholder="{{'COMPLAINT.country' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('individualCountry').dirty || complaintForm.get('individualCountry').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('individualCountry').hasError('individualRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>

          <hr class="complaint-horizontal-line">

        </div>

        <div *ngIf="companyApplicant">
          <!--          <label for="companyName" class="complaint-form-labels">{{ 'COMPLAINT.companyName' | translate}}</label>-->
          <div class="md-form-control mt-3">
            <input type="text"
                   id="companyName"
                   formControlName="companyName"
                   class="form-control"
                   placeholder="{{'COMPLAINT.companyName' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('companyName').dirty || complaintForm.get('companyName').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('companyName').hasError('companyRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>
          <!--          <label for="nip" class="complaint-form-labels">{{ 'COMPLAINT.NIP' | translate}}</label>-->
          <div class="md-form-control mt-3">
            <input type="text"
                   id="nip"
                   formControlName="nip"
                   class="form-control"
                   placeholder="{{'COMPLAINT.NIP' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('nip').dirty || complaintForm.get('nip').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('nip').hasError('companyRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>
          <!--          <label for="street" class="complaint-form-labels">{{ 'COMPLAINT.street' | translate}}</label>-->
          <div class="md-form-control mt-3">
            <input type="text"
                   id="street"
                   formControlName="street"
                   class="form-control"
                   placeholder="{{'COMPLAINT.street' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('street').dirty || complaintForm.get('street').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('street').hasError('companyRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>
          <!--          <label for="number" class="complaint-form-labels">{{ 'COMPLAINT.number' | translate}}</label>-->
          <div class="md-form-control mt-3">
            <input type="text"
                   id="localNumber"
                   formControlName="localNumber"
                   class="form-control"
                   placeholder="{{'COMPLAINT.number' | translate}}">
          </div>
          <!--          <label for="zipCode" class="complaint-form-labels">{{ 'COMPLAINT.zipCode' | translate}}</label>-->
          <div class="md-form-control mt-3">
            <input type="text"
                   id="zipCode"
                   formControlName="zipCode"
                   class="form-control"
                   placeholder="{{'COMPLAINT.zipCode' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('zipCode').dirty || complaintForm.get('zipCode').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('zipCode').hasError('companyRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <input type="text"
                   id="city"
                   formControlName="city"
                   class="form-control"
                   placeholder="{{'COMPLAINT.city' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('city').dirty || complaintForm.get('city').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('city').hasError('companyRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>

          <div class="md-form-control mt-3">
            <input type="text"
                   id="country"
                   formControlName="country"
                   class="form-control"
                   placeholder="{{'COMPLAINT.country' | translate}}">
          </div>
          <div class="invalid-data__container"
               *ngIf="complaintForm.get('country').dirty || complaintForm.get('country').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="complaintForm.get('country').hasError('companyRequired')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>
          <!--          <label for="agent" class="complaint-form-labels">{{ 'COMPLAINT.agent' | translate}}</label>-->
          <div class="md-form-control mt-3">
            <input type="text"
                   id="agent"
                   formControlName="agent"
                   class="form-control"
                   placeholder="{{'COMPLAINT.agent' | translate}}">
          </div>

          <hr class="complaint-horizontal-line">

        </div>

        <div class="md-form-control mt-3">
          <input type="text"
                 id="buyingDate"
                 formControlName="buyingDate"
                 class="form-control"
                 placeholder="{{'COMPLAINT.buyingDate' | translate}}"
                 onfocus="(this.type='date')"
                 onblur="(this.type='text')"
          >
        </div>
        <div class="invalid-data__container"
             *ngIf="complaintForm.get('buyingDate').dirty || complaintForm.get('buyingDate').touched">
          <div
            class="invalid-data__container--text"
            *ngIf="complaintForm.get('buyingDate').hasError('required')">
            {{'COMPLAINT.requiredField' | translate}}
          </div>
        </div>

        <div class="md-form-control mt-3">
          <input type="text"
                 id="detectedDate"
                 formControlName="detectedDate"
                 class="form-control"
                 placeholder="{{'COMPLAINT.detectedDate' | translate}}"
                 onfocus="(this.type='date')"
                 onblur="(this.type='text')"
          >
        </div>
        <div class="invalid-data__container"
             *ngIf="complaintForm.get('detectedDate').dirty || complaintForm.get('detectedDate').touched">
          <div
            class="invalid-data__container--text"
            *ngIf="complaintForm.get('detectedDate').hasError('required')">
            {{'COMPLAINT.requiredField' | translate}}
          </div>
        </div>

        <div class="md-form-control mt-3">
          <input type="text"
                 id="startUsingDate"
                 formControlName="startUsingDate"
                 class="form-control"
                 placeholder="{{'COMPLAINT.startUsingDate' | translate}}"
                 onfocus="(this.type='date')"
                 onblur="(this.type='text')"
          >
        </div>
        <div class="invalid-data__container"
             *ngIf="complaintForm.get('startUsingDate').dirty || complaintForm.get('startUsingDate').touched">
          <div
            class="invalid-data__container--text"
            *ngIf="complaintForm.get('startUsingDate').hasError('required')">
            {{'COMPLAINT.requiredField' | translate}}
          </div>
        </div>

      </div>

    </div>
    <div class="md-container__right-side">
      <h1 class="complaint-title">{{'COMPLAINT.complaintProducts' | translate}}</h1>

      <div class="md-container__right-side__products" formArrayName="products"
           *ngFor="let product of products.controls; let i = index">
        <div [formGroupName]="i" class="md-container__right-side__products__product">

          <div class="select-box sorting margin-bottom-2">
            <div class="select-box__current" tabindex="1">  <!--Usunięcie tabindex rozwala selecta-->
              <div class="select-box__value" *ngFor="let group of this.groups">
                <input class="select-box__input" type="radio" id="{{group}}" value="{{group}}"
                       formControlName="type"/>
                <p class="select-box__input-text">{{'COMPLAINT.' + group | translate}}</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input disabled" type="radio" id="disabledType" value="disabled"
                       formControlName="type" checked/>
                <p class="select-box__input-text disabled">{{'COMPLAINT.disabled' | translate}}</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true"/>
            </div>
            <ul class="select-box__list overflow-scroll-Y">
              <li *ngFor="let group of this.groups"><label class="select-box__option margin-bottom-0"
                                                           for="{{group}}"
                                                           aria-hidden="aria-hidden">{{'COMPLAINT.' + group | translate}}</label>
              </li>
              <li><label class="select-box__option disabled" for="disabledType"
                         aria-hidden="aria-hidden">{{'COMPLAINT.disabled' | translate}}</label></li>
            </ul>
          </div>
          <div class="invalid-data__container"
               *ngIf="this.products.controls[i].get('type').dirty || this.products.controls[i].get('type').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="this.products.controls[i].get('type').hasError('required')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
          </div>

          <div class="two-control-container">
            <div class="two-control-container__control">
              <div class="md-form-control mt-3">
                <input type="text"
                       id="model"
                       formControlName="model"
                       class="form-control"
                       placeholder="{{'COMPLAINT.model' | translate}}">
              </div>
              <div class="invalid-data__container"
                   *ngIf="this.products.controls[i].get('model').dirty || this.products.controls[i].get('model').touched">
                <div
                  class="invalid-data__container--text"
                  *ngIf="this.products.controls[i].get('model').hasError('required')">
                  {{'COMPLAINT.requiredField' | translate}}
                </div>
              </div>
            </div>

            <div class="two-control-container__control">
              <div class="md-form-control mt-3">
                <input type="text"
                       id="glazing"
                       formControlName="glazing"
                       class="form-control"
                       placeholder="{{'COMPLAINT.glazing' | translate}}">
              </div>
              <div class="invalid-data__container"
                   *ngIf="this.products.controls[i].get('glazing').dirty || this.products.controls[i].get('glazing').touched">
                <div
                  class="invalid-data__container--text"
                  *ngIf="this.products.controls[i].get('glazing').hasError('required')">
                  {{'COMPLAINT.requiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="two-control-container">
            <div class="two-control-container__control">
              <div class="md-form-control mt-3">
                <input type="number"
                       id="width"
                       formControlName="width"
                       class="form-control"
                       placeholder="{{'COMPLAINT.width' | translate}}">
              </div>
              <div class="invalid-data__container"
                   *ngIf="this.products.controls[i].get('width').dirty || this.products.controls[i].get('width').touched">
                <div
                  class="invalid-data__container--text"
                  *ngIf="this.products.controls[i].get('width').hasError('required')">
                  {{'COMPLAINT.requiredField' | translate}}
                </div>
              </div>
            </div>

            <div class="two-control-container__control">
              <div class="md-form-control mt-3">
                <input type="number"
                       id="height"
                       formControlName="height"
                       class="form-control"
                       placeholder="{{'COMPLAINT.height' | translate}}">
              </div>
              <div class="invalid-data__container"
                   *ngIf="this.products.controls[i].get('height').dirty || this.products.controls[i].get('height').touched">
                <div
                  class="invalid-data__container--text"
                  *ngIf="this.products.controls[i].get('height').hasError('required')">
                  {{'COMPLAINT.requiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="two-control-container">
            <div class="two-control-container__control">
              <div class="md-form-control mt-3">
                <input type="number"
                       id="quantity"
                       formControlName="quantity"
                       class="form-control"
                       placeholder="{{'COMPLAINT.quantity' | translate}}">
              </div>
              <div class="invalid-data__container"
                   *ngIf="this.products.controls[i].get('quantity').dirty || this.products.controls[i].get('quantity').touched">
                <div
                  class="invalid-data__container--text"
                  *ngIf="this.products.controls[i].get('quantity').hasError('required')">
                  {{'COMPLAINT.requiredField' | translate}}
                </div>
              </div>
            </div>

            <div class="two-control-container__control">
              <div class="md-form-control mt-3">
                <input type="text"
                       id="dataPlateNumber"
                       formControlName="dataPlateNumber"
                       class="form-control"
                       placeholder="{{'COMPLAINT.dataPlateNumber' | translate}}">
              </div>
              <div class="invalid-data__container"
                   *ngIf="this.products.controls[i].get('dataPlateNumber').dirty || this.products.controls[i].get('dataPlateNumber').touched">
                <div
                  class="invalid-data__container--text"
                  *ngIf="this.products.controls[i].get('dataPlateNumber').hasError('required')">
                  {{'COMPLAINT.requiredField' | translate}}
                </div>
              </div>
            </div>
          </div>

          <div class="md-form-control mt-3">
              <textarea type="text"
                        id="description"
                        formControlName="description"
                        class="form-control"
                        placeholder="{{'COMPLAINT.description' | translate}}"></textarea>
          </div>
          <div class="invalid-data__container"
               *ngIf="this.products.controls[i].get('description').dirty || this.products.controls[i].get('description').touched">
            <div
              class="invalid-data__container--text"
              *ngIf="this.products.controls[i].get('description').hasError('required')">
              {{'COMPLAINT.requiredField' | translate}}
            </div>
            <div
              class="info-data"
              *ngIf="this.products.controls[i].get('description').hasError('minlength')">
              {{'COMPLAINT.minlength' | translate}}
            </div>
          </div>

          <div class="md-container__right-side__products__pictures">
            <div class="md-container__right-side__products__pictures__picture-container margin-top-1"
                 *ngFor="let pictureURL of this.complaintItems[i].attachment">
              <img *ngIf="pictureURL !== ''" src="{{pictureURL}}" alt="{{'COMPLAINT.complaintItemPhoto' | translate}}">
            </div>
          </div>
          <div class="md-container__right-side__products__add-button margin-top-1">
            <a (click)="addPicture(i)" class="btn btn--yellow">{{'COMPLAINT.addPicture' | translate}}</a>
          </div>

        </div>

        <div class="md-container__right-side__add-product">
          <a class="btn btn--green" (click)="addNewProduct()">{{'COMPLAINT.addProduct' | translate}}</a>
          <a class="btn btn--red" (click)="removeProduct(i)">{{'COMPLAINT.removeProduct' | translate}}</a>
        </div>

        <div class="copy-link-config-popup" *ngIf="addPhotoPopup">
          <div class="copy-link-config-popup__content">
            <div class="copy-link-config-popup__content__info-box">
              <label class="copy-link-config-popup__content__info-box--label-file btn btn--green">
                <span>{{ 'COMPLAINT.addPictures' | translate}}</span>
                <input #imageInput
                       class="copy-link-config-popup__content__info-box--input-file"
                       type="file" accept="images/*"
                       (change)="processFile(imageInput, i)">
              </label>
              <a (click)="closePhotosPopup()"
                 class="btn btn--grey copy-link-config-popup__content__info-box__button">{{ 'LINK.close' | translate}}</a>
              <div class="picture-add-successfully" *ngIf="this.complaintService.updatedSuccessfully$ | async">
                <h3>{{ 'COMPLAINT.addPictureSuccessfully' | translate}}</h3>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <button type="submit" [disabled]="complaintForm.invalid">{{ 'COMPLAINT.register' | translate}}</button>
  </form>
</div>
