<!--{{windowToShow.windowSubCategory}}-->
<!--{{ 'SINGLE-PRODUCT.description' | translate}}-->
<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/alexander-ant-AnjGcUxk9ME-unsplash.jpg" alt="roof window">
</div>

<div class="md-container">

  <div class="md-container--left-side">
    <!--Icons with specification of product-->
    <div class="specification-icons">
      <div *ngIf="windowMaterial == 'drewno'" class="specification-icons__element active-icon"><img
        src="assets/icons/single_product_page/wood.png" alt="wooden window"></div>
      <div *ngIf="windowMaterial == 'PVC'" class="specification-icons__element active-icon"><img
        src="assets/icons/single_product_page/pvc.png" alt="wooden window"></div>
      <div class="specification-icons__element active-icon">{{windowToShow.stolarkaKolor}}</div>
      <div *ngIf="windowVent == 'NEO-AIR' else windowNoVent" class="specification-icons__element active-icon"><img
        src="assets/icons/single_product_page/neo-vent.png" alt="wooden window"></div>
      <ng-template #windowNoVent>
        <div class="specification-icons__element inactive-icon"><img src="assets/icons/single_product_page/neo-vent.png"
                                                                     alt="wooden window"></div>
      </ng-template>
      <div *ngIf="windowHandle == 'Extra Secure' else simpleHandle" class="specification-icons__element active-icon">
        <img src="assets/icons/single_product_page/extra-secure.png" alt="wooden window"></div>
      <ng-template #simpleHandle>
        <div class="specification-icons__element inactive-icon"><img src="assets/icons/single_product_page/extra-secure.png"
                                                                     alt="wooden window"></div>
      </ng-template>
      <div class="specification-icons__element active-icon">Uw {{windowToShow.windowUW}}</div>
      <div class="specification-icons__element active-icon">Ug {{windowToShow.windowUG}} </div>
      <div class="specification-icons__element active-icon">{{windowToShow.oblachowanieKolor}}</div>
      <div class="specification-icons__element active-icon"><img src="assets/icons/single_product_page/guarantee-window.png"
                                                                 alt="guarantee for window"></div>
    </div>
    <!--Icons with specification of product-->

    <!--Main pictures of product-->
    <div class="main-picture">
      <img *ngFor="let url of picturesOfWindow" src="{{url}}" alt="{{windowToShow.windowName}}">
    </div>
    <!--Main pictures of product-->
  </div>

  <div class="md-container--right-side">
    <p class="product-name">{{windowToShow.windowName}}</p>
    <p class="price">{{ 'SINGLE-PRODUCT.price' | translate}} {{windowToShow.CenaDetaliczna}} zł</p>
    <p *ngIf="logInUser"
       class="price--after-discount">{{ 'SINGLE-PRODUCT.priceAfterDisc' | translate}} {{priceAfterDisc}}</p>
    <div class="line"></div>
    <div class="all-sizes-container">
      <p>{{ 'SINGLE-PRODUCT.availableSizes' | translate}}</p>
      <!--TODO przekierować na odpowiednią stronę z wymiarem okna-->
      <a routerLink="" class="icon-btn-light icon-btn-light--light-grey-red btn-big"
         *ngFor="let size of availableSizes">{{size}}</a>
    </div>
    <div class="line"></div>
    <div class="quantity-container">
      <p class="quantity-desc">{{ 'SINGLE-PRODUCT.quantity' | translate}}</p>
      <i (click)="decreaseQuantity()">-</i>
      <input type="number" class="quantity" [(ngModel)]="quantity"/>
      <i (click)="increaseQuantity()">+</i>
    </div>
    <div class="line"></div>
    <a href="" class="btn btn--grey add-to-cart"
       (click)="addToCart(quantity)">{{ 'SINGLE-PRODUCT.addToCart' | translate}}</a>
    <a href="" class="btn btn--red add-to-cart"
       (click)="order(quantity)">{{ 'SINGLE-PRODUCT.orderNow' | translate}}</a>
    <div class="line"></div>
    <div class="extra-product-container">
      <div class="extra-product-card" *ngFor="let extra of availableExtras">
        <a routerLink="../{{extra.accessoryId}}">
          <img src="{{extra.accessoryUrl}}" alt="{{extra.accessoryModel}}" class="extra-product-card__photo"/>
        </a>
        <h3 class="extra-product-card__title">{{extra.accessoryModel}}</h3>

        <div class="extra-product-card__buttons-section">
          <!--TODO dodać linki do odpowiednich podstron-->
          <a class="extra-product-card__buttons-section--link icon-btn icon-btn--red">
            <i class="fas fa-cart-plus product-card__buttons-section--icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <p class="product-information--title">{{ 'SINGLE-PRODUCT.productInformation' | translate}}</p>
    <table mdbTable striped="true" hover="true">
      <thead>
      <tr>
        <th scope="col">{{ 'SINGLE-PRODUCT.LP' | translate}}</th>
        <th scope="col">{{ 'SINGLE-PRODUCT.specName' | translate}}</th>
        <th scope="col">{{ 'SINGLE-PRODUCT.specValue' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ 'SINGLE-PRODUCT.windowName' | translate}}</td>
        <td>{{windowToShow.windowName}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{ 'SINGLE-PRODUCT.windowUW' | translate}}</td>
        <td>{{windowToShow.windowUW}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{ 'SINGLE-PRODUCT.windowUG' | translate}}</td>
        <td>{{windowToShow.windowUG}}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{ 'SINGLE-PRODUCT.windowModel' | translate}}</td>
        <td>{{windowToShow.model}}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{ 'SINGLE-PRODUCT.windowGlazing' | translate}}</td>
        <td>{{windowToShow.pakietSzybowy}}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>{{ 'SINGLE-PRODUCT.windowDimensions' | translate}}</td>
        <td>{{windowToShow.szerokosc}} x {{windowToShow.wysokosc}}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>{{ 'SINGLE-PRODUCT.windowGeometry' | translate}}</td>
        <td>{{windowToShow.geometria}}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{ 'SINGLE-PRODUCT.windowOpeningType' | translate}}</td>
        <td>{{windowToShow.otwieranie}}</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>{{ 'SINGLE-PRODUCT.windowVentilation' | translate}}</td>
        <td>{{windowToShow.wentylacja}}</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>{{ 'SINGLE-PRODUCT.windowMaterial' | translate}}</td>
        <td>{{windowToShow.stolarkaMaterial}}</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>{{ 'SINGLE-PRODUCT.windowMaterialColor' | translate}}</td>
        <td>{{windowToShow.stolarkaKolor}}</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>{{ 'SINGLE-PRODUCT.windowMaterialFinish' | translate}}</td>
        <td>{{windowToShow.rodzina}}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>{{ 'SINGLE-PRODUCT.windowOuterMaterial' | translate}}</td>
        <td>{{windowToShow.oblachowanieMaterial}}</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>{{ 'SINGLE-PRODUCT.windowOuterColor' | translate}}</td>
        <td>{{windowToShow.oblachowanieKolor}}</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>{{ 'SINGLE-PRODUCT.windowOuterFinish' | translate}}</td>
        <td>{{windowToShow.oblachowanieFinisz}}</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td>{{ 'SINGLE-PRODUCT.windowHandleType' | translate}}</td>
        <td>{{windowToShow.zamkniecieTyp}}</td>
      </tr>
      <tr>
        <th scope="row">17</th>
        <td>{{ 'SINGLE-PRODUCT.windowHandleColor' | translate}}</td>
        <td>{{windowToShow.zamkniecieKolor}}</td>
      </tr>
      <tr>
        <th scope="row">18</th>
        <td>{{ 'SINGLE-PRODUCT.innerAccessoryColor' | translate}}</td>
        <td>{{windowToShow.kolorTworzywWew}}</td>
      </tr>
      <tr>
        <th scope="row">19</th>
        <td>{{ 'SINGLE-PRODUCT.foamsNumber' | translate}}</td>
        <td>{{windowToShow.uszczelki}}</td>
      </tr>
      <tr>
        <th scope="row">20</th>
        <td>{{ 'SINGLE-PRODUCT.detalPrice' | translate}}</td>
        <td>{{windowToShow.CenaDetaliczna}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Extra information about product-->
<section>
  <div class="background-container">
    <div class="main-info" *ngIf="windowMaterial == 'DrewnoSosna' else PVCmaterial">
      <p class="main-info__desc">{{ 'SINGLE-PRODUCT.materialDescWood' | translate}}</p>
      <img class="main-info__photo"
           src="assets/img/shop/single_product_page/materialWood.png"
           alt="{{ 'SINGLE-PRODUCT.material' | translate}}">
    </div>
    <ng-template #PVCmaterial>
      <div class="main-info">
        <p class="main-info__desc">{{ 'SINGLE-PRODUCT.materialDescPVC' | translate}}</p>
        <img class="main-info__photo"
             src="assets/img/shop/single_product_page/materialPVC.png"
             alt="{{ 'SINGLE-PRODUCT.material' | translate}}">
      </div>
    </ng-template>
  </div>

  <div class="main-info" *ngIf="glazing.startsWith('E') else threeGlazing">
    <img class="main-info__photo--glazing"
         src="assets/img/shop/single_product_page/glazingx2.png"
         alt="{{ 'SINGLE-PRODUCT.numberOfGlass' | translate}}">
    <p class="main-info__desc">{{ 'SINGLE-PRODUCT.glassDescx2' | translate}}</p>
  </div>
  <ng-template #threeGlazing>
    <div class="main-info">
      <img class="main-info__photo--glazing"
           src="assets/img/shop/single_product_page/glazingx3.png"
           alt="{{ 'SINGLE-PRODUCT.numberOfGlass' | translate}}">
      <p class="main-info__desc">{{ 'SINGLE-PRODUCT.glassDescx3' | translate}}</p>
    </div>
  </ng-template>

  <div class="pictures-container">
    <img class="pictures-container__photo"
         *ngIf="windowVent == 'NawiewnikNeoVent' else windowNoVent"
         src="assets/img/shop/single_product_page/neo-vent.png"
         alt="{{ 'SINGLE-PRODUCT.windowVentilation' | translate}}">
    <ng-template #windowNoVent>
      <!--TODO dodać obrazek jak neo-vent (bez nawiewnika)-->
      <img class="pictures-container__photo"
           src="assets/img/shop/single_product_page/no-vent.png"
           alt="{{ 'SINGLE-PRODUCT.windowVentilation' | translate}}">
    </ng-template>
    <img class="pictures-container__photo"
         src="assets/img/shop/single_product_page/outerISO.png"
         alt="{{ 'SINGLE-PRODUCT.windowOuterMaterial' | translate}}">
    <img class="pictures-container__photo"
         src="assets/img/shop/single_product_page/neo-vent.png"
         alt="{{ 'SINGLE-PRODUCT.windowHandleType' | translate}}">
  </div>
</section>
