<div class="text-center">
  <div class="container-sm">
    <img [class]="getChosenCss()" src="../../assets/icons/home_work-24px.svg" width="96px" height="96px"/>
    <img [class]="getChosenCss()" src="../../assets/icons/construction-24px.svg" width="96px" height="96px"/>
    <img [class]="getChosenCss()" src="../../assets/icons/meeting_room-24px.svg" width="96px" height="96px"/>
    <img [class]="getChosenCss()" src="../../assets/icons/aspect_ratio-24px.svg" width="96px" height="96px"/>
    <img [class]="getChosenCss()" src="../../assets/icons/select_all-24px.svg" width="96px" height="96px"/>
    <img [class]="getChosenCss()" src="../../assets/icons/brush-24px.svg" width="96px" height="96px"/>
    <img [class]="getChosenCss()" src="../../assets/icons/format_paint-24px.svg" width="96px" height="96px"/>
    <img [class]="getChosenCss()" src="../../assets/icons/toys-24px.svg" width="96px" height="96px"/>
  </div>
</div>
