<div class="md-container">
  <div class="loader-container" *ngIf="isLoading">
    <app-okpol-loader></app-okpol-loader>
  </div>

  <div *ngIf="!isLoading && userOrders$ | async as userOrderList">
    <div *ngIf="userOrderList.length === 0; else ordersBlock" class="order-container">
      <p class="order-container--no-orders">{{'ORDER.noorders' | translate}}</p>
    </div>

    <ng-template #ordersBlock>

      <form [formGroup]="filtrationForm" class="search-form">
        <table class="order-container__orders-table">
          <!--Table header-->
          <tr class="order-container__orders-table__header">
            <th class="order-container__orders-table__header--text">
              <label class="sort__input--label" (click)="sortByNumber()">
                {{ 'ORDER.number' | translate}}
                <span *ngIf="!numberToggler">&#8595;</span>
                <span *ngIf="numberToggler">&#8593;</span>
              </label>
            </th>
            <th class="order-container__orders-table__header--text">
              <label class="sort__input--label" (click)="sortByInnerNumber()">
                {{ 'ORDER.innerNumber' | translate}}
                <span *ngIf="!innerNumberToggler">&#8595;</span>
                <span *ngIf="innerNumberToggler">&#8593;</span>
              </label>
            </th>
            <th class="order-container__orders-table__header--text">
              <label class="sort__input--label" (click)="sortByStatus()">
                {{ 'ORDER.status' | translate}}
                <span *ngIf="!statusToggler">&#8595;</span>
                <span *ngIf="statusToggler">&#8593;</span>
              </label>
            </th>
            <th class="order-container__orders-table__header--text">
              <label class="sort__input--label" (click)="sortByCreatedDate()">
                {{ 'ORDER.created' | translate}}
                <span *ngIf="!createdToggler">&#8595;</span>
                <span *ngIf="createdToggler">&#8593;</span>
              </label>
            </th>
            <th class="order-container__orders-table__header--text">
              <label class="sort__input--label" (click)="sortByUpdatedDate()">
                {{ 'ORDER.updated' | translate}}
                <span *ngIf="!updatedToggler">&#8595;</span>
                <span *ngIf="updatedToggler">&#8593;</span>
              </label>
            </th>
            <th class="order-container__orders-table__header--text">
              <label class="sort__input--label" (click)="sortByUser()">
                {{ 'ORDER.user' | translate}}
                <span *ngIf="!userToggler">&#8595;</span>
                <span *ngIf="userToggler">&#8593;</span>
              </label>
            </th>
            <th class="order-container__orders-table__header--text">
              <label class="sort__input--label" (click)="sortByComment()">
                {{ 'ORDER.comment' | translate}}
                <span *ngIf="!commentToggler">&#8595;</span>
                <span *ngIf="commentToggler">&#8593;</span>
              </label>
            </th>
            <th
              class="order-container__orders-table__header--text">{{ 'ORDER.productList' | translate}}</th>
            <th
              class="order-container__orders-table__header--text">{{ 'ORDER.quantity' | translate}}</th>
            <th
              class="order-container__orders-table__header--text">{{ 'ORDER.delete' | translate}}</th>
          </tr>

          <tr class="order-container__orders-table__search-header">
            <td class="order-container__orders-table__search-header--td">
              <input type="text" formControlName="numberSearch"
                     class="form-control" placeholder="{{ 'ORDER.number' | translate}}"></td>
            <td class="order-container__orders-table__search-header--td">
              <input type="text" formControlName="innerNumberSearch"
                     class="form-control" placeholder="{{ 'ORDER.innerNumber' | translate}}"></td>
            <td class="order-container__orders-table__search-header--td">
              <input type="text" formControlName="statusSearch"
                     class="form-control" placeholder="{{ 'ORDER.status' | translate}}"></td>
            <td class="order-container__orders-table__search-header--td">
              <input type="date" formControlName="createdSearch"
                     class="form-control" placeholder="{{ 'ORDER.created' | translate}}"></td>
            <td class="order-container__orders-table__search-header--td">
              <input type="date" formControlName="updatedSearch"
                     class="form-control" placeholder="{{ 'ORDER.updated' | translate}}"></td>
            <td class="order-container__orders-table__search-header--td">
              <input type="text" formControlName="userSearch"
                     class="form-control" placeholder="{{ 'ORDER.user' | translate}}"></td>
            <td class="order-container__orders-table__search-header--td">
              <input type="text" formControlName="commentSearch"
                     class="form-control" placeholder="{{ 'ORDER.comment' | translate}}"></td>
          </tr>

          <tr class="order-container__orders-table__item"
              *ngFor="let order of filteredOrders">
            <td class="order-container__orders-table__item--info">{{order.orderNumber}}</td>
            <td
              class="order-container__orders-table__item--info">{{order.erpId}}</td>
            <td class="order-container__orders-table__item--info">{{order.status}}</td>
            <td
              class="order-container__orders-table__item--info">{{order.createdAt | date: 'dd-MM-yyyy'}}</td>
            <td
              class="order-container__orders-table__item--info">{{order.updatedAt | date: 'dd-MM-yyyy'}}</td>
            <td class="order-container__orders-table__item--info">{{order.user.name}}</td>
            <td class="order-container__orders-table__item--info">{{order.comments}}</td>
            <td class="order-container__orders-table__item__products"
                [ngClass]="{'no-display': order.cart.cartItems === null}">
              <ul class="order-container__orders-table__item__products__list">
                <li class="order-container__orders-table__item__products__list__element"
                    *ngFor="let item of order.cart.cartItems">
                  <p
                    class="order-container__orders-table__item__products__list__element--paragraph">{{item.product.productName}}</p>
                </li>
              </ul>
            </td>

            <td class="order-container__orders-table__item__products">
              <ul class="order-container__orders-table__item__products__list display-flex-space"
                  [ngClass]="{'no-display': order.cart.cartItems === null}">
                <li class="order-container__orders-table__item__products__list__element"
                    *ngFor="let item of order.cart.cartItems">
                  <p
                    class="order-container__orders-table__item__products__list__element--paragraph">{{item.quantity}}</p>
                </li>
              </ul>
            </td>

            <td class="order-container__orders-table__item--info"><i
              class="far fa-trash-alt order-container__orders-table__item--trash"
              (click)="deleteOrder(order)"></i></td>
          </tr>

        </table>
      </form>

    </ng-template>
  </div>
</div>
