<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/susan-wilkinson-142yqe8MewQ-unsplash.jpg" alt="roof windows">
</div>

<div class="md-container">
  <div class="loader-container" *ngIf="loading; else elseBlock">
    <app-okpol-loader></app-okpol-loader>
  </div>
  <ng-template #elseBlock>
    <div class="header">
      <div class="header__my-profile">
        <a routerLink="./{{ 'GENERAL.myProfileLink' | translate}}"
           class="btn btn--dark-blue">{{ 'GENERAL.myProfile' | translate}}</a>
      </div>

      <div class="header__foreign-exchange">

        <div class="header__foreign-exchange__vat-rate">
          <p class="header--title">{{ 'GENERAL.actualVATRate' | translate}}:</p>
          <div class="select-box">
            <div class="select-box__current header--radio" tabindex="1">
              <div class="select-box__value" *ngFor="let rateOption of rates; let i = index">
                <input class="select-box__input" type="radio" id="{{i}}"
                       (change)="updateVATRate(rateOption)"
                       value="{{rateOption}}" name="rate">
                <p class="select-box__input-text">{{rateOption * 100}}%</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input" type="radio" id="-2" value="{{vatRate$ | async}}"
                       name="rate" checked>
                <p class="select-box__input-text">{{(vatRate$ | async) * 100}}%</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true">
            </div>
            <ul class="select-box__list">
              <li *ngFor="let rateOption of rates; let i = index"><label
                class="select-box__option margin-bottom-0" for="{{i}}"
                aria-hidden="aria-hidden">{{rateOption * 100}}%</label></li>
            </ul>
          </div>
        </div>

        <div class="header__foreign-exchange__currency">
          <p class="header--title">{{ 'GENERAL.actualCurrency' | translate}}:</p>
          <div class="select-box">
            <div class="select-box__current header--radio" tabindex="1">
              <div class="select-box__value" *ngFor="let currencyOption of currencies; let i = index">
                <input class="select-box__input" type="radio" id="{{i}}"
                       (change)="updateCurrency(currencyOption)"
                       value="{{currencyOption}}" name="currency">
                <p class="select-box__input-text">{{currencyOption}}</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input" type="radio" id="-1" value="{{currency$ | async}}"
                       name="currency" checked>
                <p class="select-box__input-text">{{currency$ | async}}</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true">
            </div>
            <ul class="select-box__list">
              <li *ngFor="let currencyOption of currencies; let i = index"><label
                class="select-box__option margin-bottom-0" for="{{i}}"
                aria-hidden="aria-hidden">{{currencyOption}}</label></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!--    <div *ngIf="(user$ | async)?.company as company" class="cooperation-section">-->
    <div *ngIf="testCompany as company" class="cooperation-section">
      <h1 class="cooperation-section--title">{{'MY-PROFILE.cooperationSummaryTitle' | translate}}</h1>
      <div class="cooperation-section__container">
        <div class="cooperation-section__container__first-part">
          <p class="form-control-field-title">{{'MY-PROFILE.sale' | translate}}</p>
          <!--          <span *ngIf="company.salesVolume - company.salesVolumeLastYear > 0">+</span>-->
          <!--          <span *ngIf="company.salesVolume - company.salesVolumeLastYear < 0">-</span>-->
          <!--          <span *ngIf="company.salesVolume - company.salesVolumeLastYear === 0"></span>-->
          <p [ngStyle]="{'color': company.salesVolume - company.salesVolumeLastYear > 0 ? 'green' : 'red'}">
            {{(company.salesVolume - company.salesVolumeLastYear) / company.salesVolumeLastYear | percent: '1.1-2'}}</p>
        </div>
        <div class="cooperation-section__container__second-part">
          <p class="form-control-field-title">{{'MY-PROFILE.salesShare' | translate}}</p>
          <canvas #pieCanvas class="cooperation-section__container__second-part__canvas"></canvas>
        </div>
        <div class="cooperation-section__container__third-part">
          <p class="form-control-field-title">{{'MY-PROFILE.saleTerms' | translate}}</p>
          <ul>
            <li>{{'MY-PROFILE.basicDiscount' | translate}} - {{company.basicDiscount | percent}}</li>
            <li>{{'MY-PROFILE.roofWindows' | translate}} - {{company.roofWindowsDiscount | percent}}</li>
            <li>{{'MY-PROFILE.skylights' | translate}} - {{company.skylightsDiscount | percent}}</li>
            <li>{{'MY-PROFILE.flashings' | translate}} - {{company.flashingsDiscount | percent}}</li>
            <li>{{'MY-PROFILE.accessories' | translate}} - {{company.accessoriesDiscount | percent}}</li>
            <li>{{'MY-PROFILE.flatRoofWindows' | translate}} - {{company.flatRoofWindowsDiscount | percent}}</li>
          </ul>

        </div>
        <div class="cooperation-section__container__forth-part">
          <p class="form-control-field-title">{{'MY-PROFILE.tradeCredit' | translate}}</p>
          <p
            [ngStyle]="{'color': company.tradeCredit > 0 ? 'green' : 'red'}">{{company.tradeCredit | currency: ' '}} {{(cart$ | async).cart.currency}}</p>
        </div>
      </div>
    </div>

    <!--    <div *ngIf="(user$ | async)?.company as company" class="cooperation-section">-->
    <div *ngIf="testCompany as company" class="invoices-section">
      <h1 class="cooperation-section--title">{{'MY-PROFILE.invoicesSection' | translate}}</h1>
      <form [formGroup]="filtrationForm" class="search-form">
        <table class="invoices-section__invoices-table">
          <!--Table header-->
          <tr class="invoices-section__invoices-table__header">
            <th class="invoices-section__invoices-table__header--text">
              <label class="sort__input--label" (click)="sortByERPNumber()">
                {{ 'MY-PROFILE.invoiceNumber' | translate}}
                <span *ngIf="!numberToggler">&#8595;</span>
                <span *ngIf="numberToggler">&#8593;</span>
              </label>
            </th>
            <th class="invoices-section__invoices-table__header--text">
              <label class="sort__input--label" (click)="sortByRegistrationDate()">
                {{ 'MY-PROFILE.registrationDate' | translate}}
                <span *ngIf="!dateToggler">&#8595;</span>
                <span *ngIf="dateToggler">&#8593;</span>
              </label>
            </th>
            <th class="invoices-section__invoices-table__header--text">
              <label class="sort__input--label" (click)="sortByDeliveryDate()">
                {{ 'MY-PROFILE.deliveryDate' | translate}}
                <span *ngIf="!deliveryDateToggler">&#8595;</span>
                <span *ngIf="deliveryDateToggler">&#8593;</span>
              </label>
            </th>
            <th class="invoices-section__invoices-table__header--text">
              <label class="sort__input--label" (click)="sortByNetPrice()">
                {{ 'MY-PROFILE.netPrice' | translate}}
                <span *ngIf="!netPriceToggler">&#8595;</span>
                <span *ngIf="netPriceToggler">&#8593;</span>
              </label>
            </th>
            <th class="invoices-section__invoices-table__header--text">
              <label class="sort__input--label" (click)="sortByVAT()">
                {{ 'MY-PROFILE.vat' | translate}}
                <span *ngIf="!vatToggler">&#8595;</span>
                <span *ngIf="vatToggler">&#8593;</span>
              </label>
            </th>
            <th class="invoices-section__invoices-table__header--text">
              <label class="sort__input--label" (click)="sortByGrossPrice()">
                {{ 'MY-PROFILE.grossPrice' | translate}}
                <span *ngIf="!grossPriceToggler">&#8595;</span>
                <span *ngIf="grossPriceToggler">&#8593;</span>
              </label>
            </th>
            <th class="invoices-section__invoices-table__header--text">
              <label class="sort__input--label" (click)="sortByStatus()">
                {{ 'MY-PROFILE.status' | translate}}
                <span *ngIf="!statusToggler">&#8595;</span>
                <span *ngIf="statusToggler">&#8593;</span>
              </label>
            </th>
            <th class="invoices-section__invoices-table__header--text">
              <label class="sort__input--label" (click)="sortByCorrectingInvoice()">
                {{ 'MY-PROFILE.correctingInvoice' | translate}}
                <span *ngIf="!correctingInvoiceToggler">&#8595;</span>
                <span *ngIf="correctingInvoiceToggler">&#8593;</span>
              </label>
            </th>
          </tr>

          <tr class="invoices-section__invoices-table__search-header">
            <td class="invoices-section__invoices-table__search-header--td">
              <input type="text" formControlName="invoiceNumberSearch"
                     class="form-control" placeholder="{{ 'MY-PROFILE.invoiceNumber' | translate}}"></td>
            <td class="invoices-section__invoices-table__search-header--td">
              <input type="date" formControlName="dateSearch"
                     class="form-control" placeholder="{{ 'MY-PROFILE.registrationDate' | translate}}"></td>
            <td class="invoices-section__invoices-table__search-header--td">
              <input type="date" formControlName="deliveryDateSearch"
                     class="form-control" placeholder="{{ 'MY-PROFILE.deliveryDate' | translate}}"></td>
            <td class="invoices-section__invoices-table__search-header--td">
              <input type="text" formControlName="netPriceSearch"
                     class="form-control" placeholder="{{ 'MY-PROFILE.netPrice' | translate}}"></td>
            <td class="invoices-section__invoices-table__search-header--td">
              <input type="text" formControlName="vatSearch"
                     class="form-control" placeholder="{{ 'MY-PROFILE.vat' | translate}}"></td>
            <td class="invoices-section__invoices-table__search-header--td">
              <input type="text" formControlName="grossPriceSearch"
                     class="form-control" placeholder="{{ 'MY-PROFILE.grossPrice' | translate}}"></td>
            <td class="invoices-section__invoices-table__search-header--td">
              <input type="text" formControlName="statusSearch"
                     class="form-control" placeholder="{{ 'MY-PROFILE.status' | translate}}"></td>
          </tr>

          <tr class="invoices-section__invoices-table__item"
              *ngFor="let invoice of filteredInvoices">
            <td class="invoices-section__invoices-table__item--info">{{invoice.fvNumber}}</td>
            <td
              class="invoices-section__invoices-table__item--info">{{invoice.createdAt | date: 'dd-MM-yyyy'}}</td>
            <td class="invoices-section__invoices-table__item--info">{{invoice.deliveryDate | date: 'dd-MM-yyyy'}}</td>
            <td class="invoices-section__invoices-table__item--info">{{invoice.totalNetValue}}</td>
            <td class="invoices-section__invoices-table__item--info">{{invoice.vat}}</td>
            <td class="invoices-section__invoices-table__item--info">{{invoice.grossAmount}}</td>
            <td class="invoices-section__invoices-table__item--info">{{'MY-PROFILE.' + invoice.isPaid | translate}}</td>
            <td class="invoices-section__invoices-table__item--info">{{invoice.correctionReason}}</td>
          </tr>
        </table>
      </form>
    </div>

    <div class="my-profile-section">
      <h1 class="my-profile-section--title">{{'MY-PROFILE.title' | translate}}</h1>
      <div class="my-profile-section__left-side" *ngIf="user$ | async as user">
        <h2 class="my-profile-section__left-side--title">{{'MY-PROFILE.userData' | translate}}</h2>
        <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
          <input type="hidden"
                 id="id"
                 formControlName="id"
                 class="form-control--input"
          >
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.email' | translate}}:</p>
            <input type="text"
                   id="email"
                   formControlName="email"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateUserForm.get('email').dirty || updateUserForm.get('email').touched">
            <div class="invalid-contact-data" *ngIf="updateUserForm.get('email').hasError('emailExists')">
              {{'REGISTER.emailExists' | translate}}
            </div>
            <div
              class="invalid-contact-data" *ngIf="updateUserForm.get('email').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
            <div
              class="invalid-contact-data" *ngIf="updateUserForm.get('email').hasError('email')">
              {{'REGISTER.wrongEmail' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.name' | translate}}:</p>
            <input type="text"
                   id="name"
                   formControlName="name"
                   class="form-control--input"
            >
          </div>
          <div class="select-box sorting margin-bottom-2">
            <p class="form-control-field-title">{{'MY-PROFILE.preferredLanguage' | translate}}:</p>
            <div class="select-box__current" tabindex="1">  <!--Usunięcie tabindex rozwala selecta-->
              <div class="select-box__value" *ngFor="let lang of this.languages">
                <input class="select-box__input" type="radio" id="{{lang}}" value="{{lang}}"
                       formControlName="preferredLanguage"/>
                <p class="select-box__input-text">{{'MY-PROFILE.' + lang | translate}}</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input disabled" type="radio" id="{{(user$ | async).preferredLanguage}}"
                       value="disabled"
                       formControlName="preferredLanguage" checked/>
                <p
                  class="select-box__input-text disabled">{{'MY-PROFILE.' + (user$ | async).preferredLanguage | translate}}</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true"/>
            </div>
            <ul class="select-box__list">
              <li *ngFor="let lang of this.languages">
                <label class="select-box__option margin-bottom-0"
                       for="{{lang}}" aria-hidden="aria-hidden">{{'MY-PROFILE.' + lang | translate}}</label>
              </li>
            </ul>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.firstName' | translate}}:</p>
            <input type="text"
                   id="firstName"
                   formControlName="firstName"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateUserForm.get('firstName').dirty || updateUserForm.get('firstName').touched">
            <div
              class="invalid-contact-data" *ngIf="updateUserForm.get('firstName').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.lastName' | translate}}:</p>
            <input type="text"
                   id="lastName"
                   formControlName="lastName"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateUserForm.get('lastName').dirty || updateUserForm.get('lastName').touched">
            <div
              class="invalid-contact-data" *ngIf="updateUserForm.get('lastName').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.street' | translate}}:</p>
            <input type="text"
                   id="street"
                   formControlName="street"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateUserForm.get('street').dirty || updateUserForm.get('street').touched">
            <div
              class="invalid-contact-data" *ngIf="updateUserForm.get('street').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.localNumber' | translate}}:</p>
            <input type="text"
                   id="localNumber"
                   formControlName="localNumber"
                   class="form-control--input"
            >
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.zipCode' | translate}}:</p>
            <input type="text"
                   id="zipCode"
                   formControlName="zipCode"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateUserForm.get('zipCode').dirty || updateUserForm.get('zipCode').touched">
            <div
              class="invalid-contact-data" *ngIf="updateUserForm.get('zipCode').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
            <div class="invalid-contact-data" *ngIf="updateUserForm.get('zipCode').invalid">
              {{'REGISTER.wrongPhoneNumber' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.city' | translate}}:</p>
            <input type="text"
                   id="city"
                   formControlName="city"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateUserForm.get('city').dirty || updateUserForm.get('city').touched">
            <div
              class="invalid-contact-data" *ngIf="updateUserForm.get('city').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="select-box sorting margin-bottom-2">
            <p class="form-control-field-title">{{'MY-PROFILE.country' | translate}}:</p>
            <div class="select-box__current" tabindex="1">  <!--Usunięcie tabindex rozwala selecta-->
              <div class="select-box__value" *ngFor="let country of this.countries$ | async">
                <input class="select-box__input" type="radio" id="{{country}}" value="{{country}}"
                       formControlName="country"/>
                <p class="select-box__input-text">{{country}}</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input disabled" type="radio" id="{{(user$ | async).address?.country}}"
                       value="disabled"
                       formControlName="country" checked/>
                <p class="select-box__input-text disabled">{{(user$ | async).address?.country}}</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true"/>
            </div>
            <ul class="select-box__list overflow-scroll-Y">
              <li *ngFor="let country of this.countries$ | async">
                <label class="select-box__option margin-bottom-0"
                       for="{{country}}" aria-hidden="aria-hidden">{{country}}</label>
              </li>
            </ul>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.phoneNumber' | translate}}:</p>
            <input type="text"
                   id="phoneNumber"
                   formControlName="phoneNumber"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateUserForm.get('phoneNumber').dirty || updateUserForm.get('phoneNumber').touched">
            <div class="invalid-contact-data" *ngIf="updateUserForm.get('phoneNumber').invalid">
              {{'REGISTER.wrongPhoneNumber' | translate}}
            </div>
          </div>
          <input type="hidden"
                 id="addressId"
                 formControlName="addressId"
                 class="form-control--input"
          >
          <div class="button-container">
            <button *ngIf="!isUpdating" type="submit"
                    [disabled]="updateUserForm.invalid">{{ 'MY-PROFILE.update' | translate}}</button>
            <app-bouncing-loader class="loading" *ngIf="isUpdating"></app-bouncing-loader>
            <button class="reset-password-button" type="button"
                    routerLink="../../reset">{{ 'MY-PROFILE.changePassword' | translate}}</button>
          </div>
        </form>
      </div>

      <!--    <div *ngIf="(user$ | async)?.company as company" class="cooperation-section">-->
      <div *ngIf="testCompany as company" class="my-profile-section__right-side">
        <h2 class="my-profile-section__right-side--title">{{'MY-PROFILE.companyData' | translate}}</h2>
        <form [formGroup]="updateCompanyForm" (ngSubmit)="onSubmitCompany()">
          <input type="hidden"
                 id="companyCode"
                 formControlName="companyCode"
                 class="form-control--input"
          >
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.companyName' | translate}}:</p>
            <input type="text"
                   id="companyName"
                   formControlName="companyName"
                   class="form-control--input"
                   disabled>
          </div>
          <div *ngIf="updateCompanyForm.get('companyName').dirty || updateCompanyForm.get('companyName').touched">
            <div
              class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyName').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.email' | translate}}:</p>
            <input type="text"
                   id="companyEmail"
                   formControlName="companyEmail"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateCompanyForm.get('companyEmail').dirty || updateCompanyForm.get('companyEmail').touched">
            <div class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyEmail').hasError('emailExists')">
              {{'REGISTER.emailExists' | translate}}
            </div>
            <div
              class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyEmail').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
            <div
              class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyEmail').hasError('companyEmail')">
              {{'REGISTER.wrongEmail' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.nip' | translate}}:</p>
            <input type="text"
                   id="nip"
                   formControlName="nip"
                   class="form-control--input"
                   disabled
            >
          </div>

          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.firstName' | translate}}:</p>
            <input type="text"
                   id="companyFirstName"
                   formControlName="companyFirstName"
                   class="form-control--input"
            >
          </div>
          <div
            *ngIf="updateCompanyForm.get('companyFirstName').dirty || updateCompanyForm.get('companyFirstName').touched">
            <div
              class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyFirstName').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.lastName' | translate}}:</p>
            <input type="text"
                   id="companyLastName"
                   formControlName="companyLastName"
                   class="form-control--input"
            >
          </div>
          <div
            *ngIf="updateCompanyForm.get('companyLastName').dirty || updateCompanyForm.get('companyLastName').touched">
            <div
              class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyLastName').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.street' | translate}}:</p>
            <input type="text"
                   id="companyStreet"
                   formControlName="companyStreet"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateCompanyForm.get('companyStreet').dirty || updateCompanyForm.get('companyStreet').touched">
            <div
              class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyStreet').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.localNumber' | translate}}:</p>
            <input type="text"
                   id="companyLocalNumber"
                   formControlName="companyLocalNumber"
                   class="form-control--input"
            >
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.zipCode' | translate}}:</p>
            <input type="text"
                   id="companyZipCode"
                   formControlName="companyZipCode"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateCompanyForm.get('companyZipCode').dirty || updateCompanyForm.get('companyZipCode').touched">
            <div
              class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyZipCode').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
            <div class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyZipCode').invalid">
              {{'REGISTER.wrongPhoneNumber' | translate}}
            </div>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.city' | translate}}:</p>
            <input type="text"
                   id="companyCity"
                   formControlName="companyCity"
                   class="form-control--input"
            >
          </div>
          <div *ngIf="updateCompanyForm.get('companyCity').dirty || updateCompanyForm.get('companyCity').touched">
            <div
              class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyCity').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <div class="select-box sorting margin-bottom-2">
            <p class="form-control-field-title">{{'MY-PROFILE.country' | translate}}:</p>
            <div class="select-box__current" tabindex="1">  <!--Usunięcie tabindex rozwala selecta-->
              <div class="select-box__value" *ngFor="let companyCountry of this.countries$ | async; let i = index">
                <input class="select-box__input" type="radio" id="{{companyCountry + i}}" value="{{companyCountry}}"
                       formControlName="companyCountry"/>
                <p class="select-box__input-text">{{companyCountry}}</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input disabled" type="radio" id="{{company.address?._country}}"
                       value="disabledCompany"
                       formControlName="companyCountry" checked/>
                <p class="select-box__input-text disabled">{{company.address?._country}}</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true"/>
            </div>
            <ul class="select-box__list overflow-scroll-Y">
              <li *ngFor="let companyCountry of this.countries$ | async; let i = index">
                <label class="select-box__option margin-bottom-0"
                       for="{{companyCountry + i}}" aria-hidden="aria-hidden">{{companyCountry}}</label>
              </li>
            </ul>
          </div>
          <div class="md-form-control mt-3">
            <p class="form-control-field-title">{{'MY-PROFILE.phoneNumber' | translate}}:</p>
            <input type="text"
                   id="companyPhoneNumber"
                   formControlName="companyPhoneNumber"
                   class="form-control--input"
            >
          </div>
          <div
            *ngIf="updateCompanyForm.get('companyPhoneNumber').dirty || updateCompanyForm.get('companyPhoneNumber').touched">
            <div class="invalid-contact-data" *ngIf="updateCompanyForm.get('companyPhoneNumber').invalid">
              {{'REGISTER.wrongPhoneNumber' | translate}}
            </div>
          </div>

          <div class="button-container">
            <button *ngIf="!isUpdatingCompany" type="submit"
                    [disabled]="updateCompanyForm.invalid">{{ 'MY-PROFILE.updateCompany' | translate}}</button>
            <app-bouncing-loader class="loading" *ngIf="isUpdatingCompany"></app-bouncing-loader>
          </div>

        </form>
      </div>
    </div>

    <div class="footer">
      <a (click)="logout()" class="btn btn--dark-blue">{{ 'GENERAL.logout' | translate}}</a>
    </div>
  </ng-template>
</div>
