<app-scroll-top></app-scroll-top>

<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/vinicius-amnx-amano-ALpEkP29Eys-unsplash.jpg" alt="roof windows">
  <app-navbar-navigator [path]="this.router.url"></app-navbar-navigator>
</div>

<h1 class="title">{{ 'SHOP.description' | translate}}</h1>

<div class="md-container">

  <!--Card with single product branch-->
  <div class="container__element windowBack">
    <div class="container__background">
      <!--TODO dodać ikonki do tytułów-->
      <h1 class="container__element--icon-title-windows">{{ 'SHOP.roofWindows' | translate}}</h1>
      <h1 class="container__element--title">{{ 'SHOP.subTitleRoofWindows' | translate}}</h1>
      <p class="container__element--desc">{{ 'SHOP.roofWindowsDesc' | translate}}</p>
      <a routerLink="./shop/roof-windows"
         class="btn btn--red">{{ 'SHOP.roofWindows' | translate}}</a>
    </div>
  </div>
  <!--Card with single product branch-->

  <!--Card with single product branch-->
  <div class="container__element flashingBack">
    <div class="container__background">
      <h1 class="container__element--icon-title-flashings">{{ 'SHOP.flashings' | translate}}</h1>
      <h1 class="container__element--title">{{ 'SHOP.subTitleFlashings' | translate}}</h1>
      <p class="container__element--desc">{{ 'SHOP.flashingsDesc' | translate}}</p>
      <a routerLink="./shop/flashings"
         class="btn btn--grey">{{ 'SHOP.flashings' | translate}}</a>
    </div>
  </div>
  <!--Card with single product branch-->

  <!--Card with single product branch-->
  <div class="container__element accessoriesBack">
    <div class="container__background">
      <h1 class="container__element--icon-title-accessories">{{ 'SHOP.accessories' | translate}}</h1>
      <h1 class="container__element--title">{{ 'SHOP.subTitleAccessories' | translate}}</h1>
      <p class="container__element--desc">{{ 'SHOP.accessoriesDesc' | translate}}</p>
      <a routerLink="./shop/accessories"
         class="btn btn--orange">{{ 'SHOP.accessories' | translate}}</a>
    </div>
  </div>
  <!--Card with single product branch-->

  <!--Card with single product branch-->
  <div class="container__element flatBack">
    <div class="container__background">
      <h1 class="container__element--icon-title-flat">{{ 'SHOP.flatRoofWindows' | translate}}</h1>
      <h1 class="container__element--title">{{ 'SHOP.subTitleFlatRoofWindows' | translate}}</h1>
      <p class="container__element--desc">{{ 'SHOP.flatRoofWindowsDesc' | translate}}</p>
      <a routerLink="./shop/flat-roof-windows"
         class="btn btn--blue">{{ 'SHOP.flatRoofWindows' | translate}}</a>
    </div>
  </div>
  <!--Card with single product branch-->

  <!--Card with single product branch-->
  <div class="container__element skylightBack">
    <div class="container__background">
      <h1 class="container__element--icon-title-skylights">{{ 'SHOP.skylights' | translate}}</h1>
      <h1 class="container__element--title">{{ 'SHOP.subTitleSkylights' | translate}}</h1>
      <p class="container__element--desc">{{ 'SHOP.skylightsDesc' | translate}}</p>
      <a routerLink="./shop/skylights"
         class="btn btn--yellow">{{ 'SHOP.skylights' | translate}}</a>
    </div>
  </div>
  <!--Card with single product branch-->

  <!--Card with single product branch-->
  <div class="container__element resetBack">
    <div class="container__background">
      <h1 class="container__element--icon-title-reset">{{ 'SHOP.reset' | translate}}</h1>
      <h1 class="container__element--title">{{ 'SHOP.subTitleReset' | translate}}</h1>
      <p class="container__element--desc">{{ 'SHOP.resetDesc' | translate}}</p>
      <a routerLink="./shop/reset"
         class="btn btn--green">{{ 'SHOP.reset' | translate}}</a>
    </div>
  </div>
  <!--Card with single product branch-->

</div>
