@import 'src/sass/base/variables';
@import 'src/sass/base/base';
@import 'src/sass/buttons';

.title {
  margin: 3rem 0;
  text-align: center;
  color:$color-darkest-grey;
}

.container {

  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    height: 40rem;
    width: 40rem;
    background-color: rgba($color-black, .5);
  }

  &__element {
    color: $color-white;
    margin: 2rem;

    &--icon-title-windows {
      color: $color-light-red;
    }

    &--icon-title-flashings {
      color: $color-light-grey;
    }

    &--icon-title-accessories {
      color: $color-light-orange;
    }

    &--icon-title-flat {
      color: $color-light-blue;
    }

    &--icon-title-skylights {
      color: $color-light-yellow;
    }

    &--icon-title-reset {
      color: $color-light-green;
    }

    &--title {
      display: flex;
      justify-content: center;
      flex: 0 0 100%;
    }

    &--desc {
      text-align: justify;
      padding: 0 4.5rem;
      font-size: 1.6rem;
    }
  }
}

.windowBack {
  background-image: url("/src/assets/img/shop/main_menu/roof_windows.jpg");
}

.flashingBack {
  background-image: url("/src/assets/img/shop/main_menu/flashings.jpg");
}

.accessoriesBack {
  background-image: url("/src/assets/img/shop/main_menu/accessories.jpg");
}

.flatBack {
  background-image: url("/src/assets/img/shop/main_menu/flat_roof_windows.jpg");
  background-position: center;
}

.skylightBack {
  background-image: url("/src/assets/img/shop/main_menu/skylights.jpg");
  background-position: center;
}

.resetBack {
  background-image: url("/src/assets/img/shop/main_menu/reset.jpg");
  background-position: center;
}
