<div class="background">

  <div class="row">
    <!--    Karta z konfiguratorem-->
    <div class="col">
      <div class="home-cards">
        <img src="../../assets/img/city-4991094_1920.jpg">
        <a class="box-name" routerLink="konfigurator"><span>Konfigurator</span></a>
        <p class="second">Skonfiguruj nipowtarzalny produkt.</p>
      </div>
    </div>

    <!--    Karta ze sklepem-->
    <div class="col">
      <div class="home-cards">
        <img src="../../assets/img/building-1245984_1920.jpg">
        <div class="home-cards">
        <a class="box-name" routerLink="sklep"><span>Sklep</span></a></div>
        <p class="second">Wybierz jedną z wielu gotowych konfiguracji</p>
      </div>
    </div>

    <!--    Karta z moim kontem-->
    <div class="col">
      <div class="home-cards">
        <img src="../../assets/img/coffee-cup-5258877_1920.jpg">
        <a class="box-name" routerLink="moje-konto"><span>Moje konto</span></a>
        <p class="second">Sprawdź historię zamówień i konfiguracji</p>
      </div>
    </div>
  </div>

</div>
