<div class="md-container">
  <div class="slider">
    <div class="slider--borders"></div>
    <!--First part roof windows-->
    <div class="slider__element--on-hover active" [ngClass]="activeClass1">
      <img src="assets/img/slider_pictures/slider_roof_windows.jpg" alt="{{ 'HOME.roofWindows' | translate}}"
           class="slider__element--photo">
    </div>
    <div class="slider__element" (mouseover)="setActive1()" [ngClass]="activeClass1">
      <a routerLink="/{{ 'LINK.shopRoofWindows' | translate}}">
        <div class="slider__element--overlay"></div>
        <img src="assets/img/slider_pictures/slider_roof_windows.jpg" alt="{{ 'HOME.roofWindows' | translate}}"
             class="slider__element--photo">
        <div class="slider__element__description">
          <h2 class="slider__element__description--title">{{ 'HOME.roofWindows' | translate}}</h2>
          <p class="slider__element__description--paragraph">{{ 'HOME.roofWindowsShortDesc' | translate}}</p>
        </div>
      </a>
    </div>
    <!--!First part roof windows-->

    <!--Second part flat roof windows-->
    <div class="slider__element--on-hover" [ngClass]="activeClass2">
      <img src="assets/img/slider_pictures/slider_flat_windows.jpg" alt="{{ 'HOME.flatRoofWindows' | translate}}"
           class="slider__element--photo">
    </div>
    <div class="slider__element" (mouseover)="setActive2()" [ngClass]="activeClass2">
      <a routerLink="/{{ 'LINK.shopFlatRoofWindows' | translate}}">
        <div class="slider__element--overlay"></div>
        <div class="slider--borders"></div>
        <img src="assets/img/slider_pictures/slider_flat_windows.jpg" alt="{{ 'HOME.flatRoofWindows' | translate}}"
             class="slider__element--photo">
        <div class="slider__element__description">
          <h2 class="slider__element__description--title">{{ 'HOME.flatRoofWindows' | translate}}</h2>
          <p class="slider__element__description--paragraph">{{ 'HOME.flatRoofWindowsShortDesc' | translate}}</p>
        </div>
      </a>
    </div>
    <!--!Second part flat roof windows-->

    <!--Third part RESET products-->
    <div class="slider__element--on-hover" [ngClass]="activeClass3">
      <img src="assets/img/slider_pictures/slider_reset.jpg" alt="{{ 'HOME.resetProducts' | translate}}"
           class="slider__element--photo">
    </div>
    <div class="slider__element" (mouseover)="setActive3()" [ngClass]="activeClass3">
      <a routerLink="/{{ 'LINK.shopReset' | translate}}">
        <div class="slider__element--overlay"></div>
        <div class="slider--borders"></div>
        <img src="assets/img/slider_pictures/slider_reset.jpg" alt="{{ 'HOME.resetProducts' | translate}}"
             class="slider__element--photo">
        <div class="slider__element__description">
          <h2 class="slider__element__description--title">{{ 'HOME.resetProducts' | translate}}</h2>
          <p class="slider__element__description--paragraph">{{ 'HOME.resetProductsShortDesc' | translate}}</p>
        </div>
      </a>
    </div>
    <!--!Third part RESET products-->

    <!--Forth part configurator-->
    <div class="slider__element--on-hover" [ngClass]="activeClass4">
      <img src="assets/img/slider_pictures/slider_config.jpg" alt="{{ 'HOME.configurator' | translate}}"
           class="slider__element--photo">
    </div>
    <div class="slider__element" (mouseover)="setActive4()" [ngClass]="activeClass4">
      <a routerLink="/{{ 'LINK.configurator' | translate}}">
        <div class="slider__element--overlay"></div>
        <div class="slider--borders"></div>
        <img src="assets/img/slider_pictures/slider_config.jpg" alt="{{ 'HOME.configurator' | translate}}"
             class="slider__element--photo">
        <div class="slider__element__description">
          <h1 class="slider__element__description--title">{{ 'HOME.configurator' | translate}}</h1>
          <p class="slider__element__description--paragraph">{{ 'HOME.configDesc' | translate}}</p>
        </div>
      </a>
    </div>
    <!--Forth part configurator-->
    <img class="bouncing-angle bounce" src="assets/icons/iconmonstr-arrow-65.svg" alt="arrow icon">
  </div>
</div>

<!--Section full offer-->
<section class="full-offer">
  <h1 class="full-offer--title">{{ 'HOME.allProductsTitle' | translate}}</h1>
  <div class="full-offer__container">
    <div class="full-offer__product">
      <a routerLink="/{{ 'LINK.shopRoofWindows' | translate}}" class="full-offer__product--link">
        <img src="assets/img/full_offer/roof_windows.jpg" alt="roofWindows" class="full-offer__product--img">
        <div class="full-offer__product--middle">{{ 'HOME.roofWindows' | translate}}</div>
      </a>
      <h3 class="full-offer__product--disc">{{ 'HOME.roofWindows' | translate}}</h3>
    </div>

    <div class="full-offer__product">
      <a routerLink="/{{ 'LINK.shopFlashings' | translate}}" class="full-offer__product--link">
        <img src="assets/img/full_offer/flashings.jpg" alt="roofWindows" class="full-offer__product--img">
        <div class="full-offer__product--middle">{{ 'HOME.flashings' | translate}}</div>
      </a>
      <h3 class="full-offer__product--disc">{{ 'HOME.flashings' | translate}}</h3>
    </div>

    <div class="full-offer__product">
      <a routerLink="/{{ 'LINK.shopFlatRoofWindows' | translate}}" class="full-offer__product--link">
        <img src="assets/img/full_offer/flat_windows.jpg" alt="roofWindows" class="full-offer__product--img">
        <div class="full-offer__product--middle">{{ 'HOME.flatRoofWindows' | translate}}</div>
      </a>
      <h3 class="full-offer__product--disc">{{ 'HOME.flatRoofWindows' | translate}}</h3>
    </div>

    <div class="full-offer__product">
      <a routerLink="/{{ 'LINK.shopSkylights' | translate}}" class="full-offer__product--link">
        <img src="assets/img/full_offer/skylights.jpg" alt="roofWindows" class="full-offer__product--img">
        <div class="full-offer__product--middle">{{ 'HOME.skylights' | translate}}</div>
      </a>
      <h3 class="full-offer__product--disc">{{ 'HOME.skylights' | translate}}</h3>
    </div>

    <div class="full-offer__product">
      <a routerLink="/{{ 'LINK.shopAccessories' | translate}}" class="full-offer__product--link">
        <img src="assets/img/full_offer/accessories.jpg" alt="roofWindows" class="full-offer__product--img">
        <div class="full-offer__product--middle">{{ 'HOME.accessories' | translate}}</div>
      </a>
      <h3 class="full-offer__product--disc">{{ 'HOME.accessories' | translate}}</h3>
    </div>

    <div class="full-offer__product">
      <a routerLink="/{{ 'LINK.shopReset' | translate}}" class="full-offer__product--link">
        <img src="assets/img/full_offer/reset.jpg" alt="roofWindows" class="full-offer__product--img">
        <div class="full-offer__product--middle">{{ 'HOME.resetProducts' | translate}}</div>
      </a>
      <h3 class="full-offer__product--disc">{{ 'HOME.resetProducts' | translate}}</h3>
    </div>

    <div class="full-offer__product">
      <a routerLink="/{{ 'LINK.configuratorVertical' | translate}}" class="full-offer__product--link">
        <img src="assets/img/full_offer/vertical_windows.jpg" alt="roofWindows" class="full-offer__product--img">
        <div class="full-offer__product--middle">{{ 'HOME.verticalWindows' | translate}}</div>
      </a>
      <h3 class="full-offer__product--disc">{{ 'HOME.verticalWindows' | translate}}</h3>
    </div>
  </div>
</section>
<!--!Section full offer-->

<!--Section new product offer-->
<section class="new-product">
  <div class="new-product__desc">
    <p>{{ 'HOME.newProductHomePageTitle' | translate}}</p>
    <p class="new-product__desc--paragraph">{{ 'HOME.newProductHomePageDesc' | translate}}</p>
    <a href="//{{ 'LINK.aboutResetWebsite' | translate}}">
      <button class="btn btn--green">{{ 'HOME.newProductHomePageMore' | translate}}</button>
    </a>
  </div>
  <div class="new-product__img">
    <img src="assets/img/IGX-F1-RESET.png" alt="IGX RESET" class="new-product__img--product">
    <img src="assets/img/Reset-zoom-epdm.jpg" alt="IGX RESET" class="new-product__img--zoom">
  </div>
</section>
<!--!Section new product offer-->

<!--Section most recent products-->
<section class="most-recent">
  <div class="most-recent__product" *ngFor="let product of mostRecentProducts; let i = index">
    <h2 class="most-recent__product--title">Produkt 1</h2>
    <figure class="most-recent__product--background">
      <p class="most-recent__product--desc">To jest opis tego produktu zachęcający do zakupu. Zapraszamy do
        zakupu lub zapoznanie się z produktem.</p>
      <button class="btn btn--white"
              (click)="addToCart(product)">{{ 'HOME.addToCart' | translate}}</button>
    </figure>
  </div>
  <div class="most-recent__slogan">
    <h2>Skomponuj swój idealny zestaw.</h2>
  </div>
</section>
<!--!Section most recent products-->

<!--Section available sellers-->
<!--Google map-->
<div id="map-container-google-1" class="available-sellers">
  <iframe src="https://maps.google.com/maps?q=okpol&t=&z=13&ie=UTF8&iwloc=&output=embed"
          class="available-sellers__map" allowfullscreen>
  </iframe>
  <a href="#" class="btn btn--light-red">{{ 'HOME.availableSellers' | translate}}</a>
</div>
<!--!Google Maps-->
<!--!Section available sellers-->
