<div class="md-container">
  <div class="md-home-page-slider-container">
    <!--First part roof windows-->
    <div class="md-one-element-slider">
      <a routerLink="/{{ 'LINK.shopRoofWindows' | translate}}">
        <img src="assets/img/slider_pictures/slider_roof_windows.jpg" alt="{{ 'HOME.roofWindows' | translate}}"
             class="md-photo-slider">
        <div class="md-slider-description-container">
          <h2 class="md-slider-element-title">{{ 'HOME.roofWindows' | translate}}</h2>
          <p class="md-slider-element-paragraph">{{ 'HOME.roofWindowsShortDesc' | translate}}</p>
        </div>
      </a>
    </div>
    <!--!First part roof windows-->

    <!--Second part flat roof windows-->
    <div class="md-one-element-slider">
      <a routerLink="/{{ 'LINK.shopFlatRoofWindows' | translate}}">
        <img src="assets/img/slider_pictures/slider_flat_windows.jpg" alt="{{ 'HOME.flatRoofWindows' | translate}}"
             class="md-photo-slider">
        <div class="md-slider-description-container">
          <h2 class="md-slider-element-title">{{ 'HOME.flatRoofWindows' | translate}}</h2>
          <p class="md-slider-element-paragraph">{{ 'HOME.flatRoofWindowsShortDesc' | translate}}</p>
        </div>
      </a>
    </div>
    <!--!Second part flat roof windows-->

    <!--Third part RESET products-->
    <div class="md-one-element-slider">
      <a routerLink="/{{ 'LINK.shopReset' | translate}}">
        <img src="assets/img/slider_pictures/slider_reset.jpg" alt="{{ 'HOME.resetProducts' | translate}}"
             class="md-photo-slider">
        <div class="md-slider-description-container">
          <h2 class="md-slider-element-title">{{ 'HOME.resetProducts' | translate}}</h2>
          <p class="md-slider-element-paragraph">{{ 'HOME.resetProductsShortDesc' | translate}}<</p>
        </div>
      </a>
    </div>
    <!--!Third part RESET products-->

    <!--Forth part configurator-->
    <div class="md-one-element-slider">
      <a routerLink="/{{ 'LINK.configurator' | translate}}">
        <img src="assets/img/slider_pictures/slider_config.jpg" alt="{{ 'HOME.configurator' | translate}}"
             class="md-photo-slider">
        <div class="md-slider-description-container">
          <h1 class="md-slider-element-title">{{ 'HOME.configurator' | translate}}</h1>
          <p class="md-slider-element-paragraph">{{ 'HOME.configDesc' | translate}}<</p>
        </div>
      </a>
    </div>
    <!--Forth part configurator-->
  </div>
</div>

<!--Section full offer-->
<section class="md-all-products">
  <h1 class="md-full-offer-title">{{ 'HOME.allProductsTitle' | translate}}</h1>
  <div class="md-all-products-container">
    <div class="md-product-container">
      <a routerLink="/{{ 'LINK.shopRoofWindows' | translate}}" class="md-full-offer-link">
        <img src="assets/img/full_offer/roof_windows.jpg" alt="roofWindows" class="md-full-offer-img">
        <div class="md-full-offer-img-hover">
          <button class="md-full-offer-img-hover-button">{{ 'HOME.roofWindows' | translate}}</button>
        </div>
      </a>
      <h3 class="md-product-disc">{{ 'HOME.roofWindows' | translate}}</h3>
    </div>

    <div class="md-product-container">
      <a routerLink="/{{ 'LINK.shopFlashings' | translate}}" class="md-full-offer-link">
        <img src="assets/img/full_offer/flashings.jpg" alt="roofWindows" class="md-full-offer-img">
        <div class="md-full-offer-img-hover">
          <button class="md-full-offer-img-hover-button">{{ 'HOME.flashings' | translate}}</button>
        </div>
      </a>
      <h3 class="md-product-disc">{{ 'HOME.flashings' | translate}}</h3>
    </div>

    <div class="md-product-container">
      <a routerLink="/{{ 'LINK.shopFlatRoofWindows' | translate}}" class="md-full-offer-link">
        <img src="assets/img/full_offer/flat_windows.jpg" alt="roofWindows" class="md-full-offer-img">
        <div class="md-full-offer-img-hover">
          <button class="md-full-offer-img-hover-button">{{ 'HOME.flatRoofWindows' | translate}}</button>
        </div>
      </a>
      <h3 class="md-product-disc">{{ 'HOME.flatRoofWindows' | translate}}</h3>
    </div>

    <div class="md-product-container">
      <a routerLink="/{{ 'LINK.shopSkylights' | translate}}" class="md-full-offer-link">
        <img src="assets/img/full_offer/skylights.jpg" alt="roofWindows" class="md-full-offer-img">
        <div class="md-full-offer-img-hover">
          <button class="md-full-offer-img-hover-button">{{ 'HOME.skylights' | translate}}</button>
        </div>
      </a>
      <h3 class="md-product-disc">{{ 'HOME.skylights' | translate}}</h3>
    </div>

    <div class="md-product-container">
      <a routerLink="/{{ 'LINK.shopAccessories' | translate}}" class="md-full-offer-link">
        <img src="assets/img/full_offer/accessories.jpg" alt="roofWindows" class="md-full-offer-img">
        <div class="md-full-offer-img-hover">
          <button class="md-full-offer-img-hover-button">{{ 'HOME.accessories' | translate}}</button>
        </div>
      </a>
      <h3 class="md-product-disc">{{ 'HOME.accessories' | translate}}</h3>
    </div>

    <div class="md-product-container">
      <a routerLink="/{{ 'LINK.shopReset' | translate}}" class="md-full-offer-link">
        <img src="assets/img/full_offer/reset.jpg" alt="roofWindows" class="md-full-offer-img">
        <div class="md-full-offer-img-hover">
          <button class="md-full-offer-img-hover-button">{{ 'HOME.resetProducts' | translate}}</button>
        </div>
      </a>
      <h3 class="md-product-disc">{{ 'HOME.resetProducts' | translate}}</h3>
    </div>

    <div class="md-product-container">
      <a routerLink="/{{ 'LINK.configuratorVertical' | translate}}" class="md-full-offer-link">
        <img src="assets/img/full_offer/vertical_windows.jpg" alt="roofWindows" class="md-full-offer-img">
        <div class="md-full-offer-img-hover">
          <button class="md-full-offer-img-hover-button">{{ 'HOME.verticalWindows' | translate}}</button>
        </div>
      </a>
      <h3 class="md-product-disc">{{ 'HOME.verticalWindows' | translate}}</h3>
    </div>
  </div>
</section>
<!--!Section full offer-->

<!--Section full offer-->
<section class="md-new-product-container">
  <div class="md-new-product-container__desc">
    <p>{{ 'HOME.newProductHomePageTitle' | translate}}</p>
    <p>{{ 'HOME.newProductHomePageDesc' | translate}}</p>
    <a href="//{{ 'LINK.aboutResetWebsite' | translate}}">
      <button class="md-new-product-container__button">{{ 'HOME.newProductHomePageMore' | translate}}</button>
    </a>
  </div>
  <div class="md-new-product-container__img">
    <img src="assets/img/IGX-F1-RESET.png" alt="IGX RESET" class="md-new-product-container__img-product">
    <img src="assets/img/Reset-zoom-epdm.jpg" alt="IGX RESET" class="md-new-product-container__img-zoom">
  </div>
</section>
<!--!Section full offer-->

<!--Section most recent products-->
<section class="md-most-recent-container">
  <div class="md-most-recent-container__product" *ngFor="let product of mostRecentProducts; let i = index">
    <h2 class="most-recent-container__product-title">Produkt 1</h2>
    <figure class="md-most-recent-container__product-background">
      <p class="most-recent-container__product-title">To jest opis tego produktu zachęcający do zakupu. Zapraszamy do
        zakupu lub zapoznanie się z produktem.</p>
      <button class="most-recent-container__product-title"
              (click)="addToCart(product)">{{ 'HOME.addToCart' | translate}}</button>
    </figure>
  </div>
  <div class="md-most-recent-container__slogan">
    <h2>Skomponuj swój idealny zestaw.</h2>
  </div>
</section>
<!--!Section most recent products-->

<!--Section available sellers-->
<!--Google map-->
<div id="map-container-google-1" class="md-available-sellers-container">
  <iframe src="https://maps.google.com/maps?q=okpol&t=&z=13&ie=UTF8&iwloc=&output=embed"
          class="md-available-sellers-container-map" allowfullscreen>
  </iframe>
  <a href="#" class="btn btn-light-red">{{ 'HOME.availableSellers' | translate}}</a>
</div>
<!--!Google Maps-->
<!--!Section available sellers-->
