@import 'src/sass/base/variables';
@import 'src/sass/buttons';
@import 'src/sass/base/base';
@import 'src/sass/radio-input';

.md-container {
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &--title {
    margin-right: 1rem;
  }

  &--radio {
    width: 8rem;
  }
}


.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
