<app-scroll-top></app-scroll-top>

<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/nathan-fertig-FBXuXp57eM0-unsplash.jpg" alt="roof windows">
  <app-navbar-navigator [path]="this.router.url"></app-navbar-navigator>
</div>

<div class="md-container">
  <div class="loader-container" *ngIf="loading; else elseBlock">
    <app-okpol-loader></app-okpol-loader>
  </div>
  <ng-template #elseBlock>
    <div class="header">
      <div class="header__my-profile" *ngIf="user$ | async as user">
        <a routerLink="./my-profile"
           class="btn btn--dark-blue">{{ 'GENERAL.myProfile' | translate}}</a>
      </div>

      <div class="header__foreign-exchange">

        <div class="header__foreign-exchange__preferred-language">
          <p class="header--title">{{ 'GENERAL.actualLanguage' | translate}}:</p>
          <div class="select-box">
            <div class="select-box__current header--radio" tabindex="1">
              <div class="select-box__value" *ngFor="let lang of languages; let i = index">
                <input class="select-box__input" type="radio" id="{{i}}"
                       (change)="updatePreferredLanguage(lang)"
                       value="{{lang}}" name="language">
                <p class="select-box__input-text">{{(user$ | async).preferredLanguage}}</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input" type="radio" id="-3" value="{{(user$ | async).preferredLanguage}}"
                       name="language" checked>
                <p class="select-box__input-text">{{(user$ | async).preferredLanguage}}</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true">
            </div>
            <ul class="select-box__list">
              <li *ngFor="let lang of languages; let i = index"><label
                class="select-box__option margin-bottom-0" for="{{i}}"
                aria-hidden="aria-hidden">{{lang}}</label></li>
            </ul>
          </div>
        </div>

        <div class="header__foreign-exchange__vat-rate">
          <p class="header--title">{{ 'GENERAL.actualVATRate' | translate}}:</p>
          <div class="select-box">
            <div class="select-box__current header--radio" tabindex="1">
              <div class="select-box__value" *ngFor="let rateOption of rates; let i = index">
                <input class="select-box__input" type="radio" id="{{i}}"
                       (change)="updateVATRate(rateOption)"
                       value="{{rateOption}}" name="rate">
                <p class="select-box__input-text">{{rateOption * 100}}%</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input" type="radio" id="-2" value="{{vatRate$ | async}}"
                       name="rate" checked>
                <p class="select-box__input-text">{{(vatRate$ | async) * 100}}%</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true">
            </div>
            <ul class="select-box__list">
              <li *ngFor="let rateOption of rates; let i = index"><label
                class="select-box__option margin-bottom-0" for="{{i}}"
                aria-hidden="aria-hidden">{{rateOption * 100}}%</label></li>
            </ul>
          </div>
        </div>

        <div class="header__foreign-exchange__currency">
          <p class="header--title">{{ 'GENERAL.actualCurrency' | translate}}:</p>
          <div class="select-box">
            <div class="select-box__current header--radio" tabindex="1">
              <div class="select-box__value" *ngFor="let currencyOption of currencies; let i = index">
                <input class="select-box__input" type="radio" id="{{i}}"
                       (change)="updateCurrency(currencyOption)"
                       value="{{currencyOption}}" name="currency">
                <p class="select-box__input-text">{{currencyOption}}</p>
              </div>
              <div class="select-box__value">
                <input class="select-box__input" type="radio" id="-1" value="{{currency$ | async}}"
                       name="currency" checked>
                <p class="select-box__input-text">{{currency$ | async}}</p>
              </div>
              <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                   alt="Arrow Icon" aria-hidden="true">
            </div>
            <ul class="select-box__list">
              <li *ngFor="let currencyOption of currencies; let i = index"><label
                class="select-box__option margin-bottom-0" for="{{i}}"
                aria-hidden="aria-hidden">{{currencyOption}}</label></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="main" *ngIf="(((user$ | async).favoriteProducts).length) as arrayLength">
      <div *ngIf="arrayLength > 0" class="main__favorite-products">
        <div class="main__favorite-products__slider">
          <h4 class="main__favorite-products__slider--heading">{{ 'MY-ACCOUNT.favoriteProducts' | translate}}</h4>

          <div #swiperContainer class="main__favorite-products__slider__container"
               [ngStyle]="setWidth(swiperContainer, arrayLength)">
            <div class="swiper-button-prev-unique"><i class="fas fa-angle-left angle--icon"></i></div>
            <div class="swiper">
              <div class="swiper-wrapper">

                <!--            1================================-->
                <swiper class="my-swiper" #swiper [config]="config">

                  <!--box----------------------->
                  <ng-template swiperSlide class="product-box"
                               *ngFor="let product of ((user$ | async).favoriteProducts)">
                    <div class="product-box">
                      <!--==offer==-->
                      <span class="product-box-offer" *ngIf="showDiscount"></span>
                      <!--img-container****************-->
                      <div class="product-img-container">

                        <!--img=============-->
                        <div class="product-img">
                          <a *ngIf="product._grupaAsortymentowa === 'OknoDachowe' ||
                                    product._grupaAsortymentowa === 'OknoKolankowe' || product._grupaAsortymentowa === 'OknoZintegrowane'"
                             routerLink="../{{ 'LINK.shopRoofWindows' | translate}}/{{product._kod}}">
                            <img alt="{{product._grupaAsortymentowa}}" class="product-img-front"
                                 src="{{product._linkiDoZdjec[0]}}"/>
                          </a>

                          <a *ngIf="product._grupaAsortymentowa === 'DachPłaski'"
                             routerLink="../{{ 'LINK.shopFlatRoofWindows' | translate}}/{{product._kod}}">
                            <img alt="{{product._grupaAsortymentowa}}" class="product-img-front"
                                 src="{{product._linkiDoZdjec[0]}}"/>
                          </a>

                          <a *ngIf="product._grupaAsortymentowa === 'WyłazDachowy'"
                             routerLink="../{{ 'LINK.shopSkylights' | translate}}/{{product._kod}}">
                            <img alt="{{product._grupaAsortymentowa}}" class="product-img-front"
                                 src="{{product._linkiDoZdjec[0]}}"/>
                          </a>

                          <a *ngIf="product._grupaAsortymentowa === 'KołnierzUszczelniający'"
                             routerLink="../{{ 'LINK.shopFlashings' | translate}}/{{product._kod}}">
                            <img alt="{{product._grupaAsortymentowa}}" class="product-img-front"
                                 src="{{product._linkiDoZdjec[0]}}"/>
                          </a>

                          <a *ngIf="product._grupaAsortymentowa === 'Akcesorium'"
                             routerLink="../{{ 'LINK.shopAccessories' | translate}}/{{product._kod}}">
                            <img alt="{{product._grupaAsortymentowa}}" class="product-img-front"
                                 src="{{product._linkiDoZdjec[0]}}"/>
                          </a>

                          <a
                            *ngIf="product._grupaAsortymentowa === 'OknoDachoweReset' || product._grupaAsortymentowa === 'WyłazReset'"
                            routerLink="../{{ 'LINK.shopReset' | translate}}/{{product._kod}}">
                            <img alt="{{product._grupaAsortymentowa}}" class="product-img-front"
                                 src="{{product._linkiDoZdjec[0]}}"/>
                          </a>

                        </div>
                      </div>
                      <!--text***************************-->
                      <div class="product-box-text">
                        <!--category-->
                        <div class="product-category">
                          <span>{{product._grupaAsortymentowa}}</span>
                        </div>
                        <!--tile--->
                        <a *ngIf="product._grupaAsortymentowa === 'OknoDachowe' ||
                                    product._grupaAsortymentowa === 'OknoKolankowe' || product._grupaAsortymentowa === 'OknoZintegrowane'"
                           routerLink="../{{ 'LINK.shopRoofWindows' | translate}}/{{product._kod}}"
                           class="product-title">
                          {{product._model.split(':')[1]}} {{product._pakietSzybowy.split(':')[1]}} {{product._szerokosc}}
                          x{{product._wysokosc}}
                        </a>

                        <a *ngIf="product._grupaAsortymentowa === 'DachPłaski'"
                           routerLink="../{{ 'LINK.shopFlatRoofWindows' | translate}}/{{product._kod}}"
                           class="product-title">
                          {{product._model.split(':')[1]}} {{product._pakietSzybowy.split(':')[1]}} {{product._szerokosc}}
                          x{{product._wysokosc}}
                        </a>

                        <a *ngIf="product._grupaAsortymentowa === 'WyłazDachowy'"
                           routerLink="../{{ 'LINK.shopSkylights' | translate}}/{{product._kod}}" class="product-title">
                          {{product._model.split(':')[1]}} {{product._szerokosc}}x{{product._wysokosc}}
                        </a>

                        <a *ngIf="product._grupaAsortymentowa === 'KołnierzUszczelniający'"
                           routerLink="../{{ 'LINK.shopFlashings' | translate}}/{{product._kod}}" class="product-title">
                          {{product._model}} {{product._szerokosc}}x{{product._wysokosc}}
                        </a>

                        <a
                          *ngIf="product._grupaAsortymentowa === 'Akcesorium' && product._szerokosc > 0 && product._wysokosc > 0"
                          routerLink="../{{ 'LINK.shopAccessories' | translate}}/{{product._kod}}"
                          class="product-title">
                          {{product._model.split(':')[1]}} {{product._szerokosc}}x{{product._wysokosc}}
                        </a>

                        <a
                          *ngIf="product._grupaAsortymentowa === 'Akcesorium' && product._szerokosc > 0 && product._wysokosc === 0"
                          routerLink="../{{ 'LINK.shopAccessories' | translate}}/{{product._kod}}"
                          class="product-title">
                          {{product._model.split(':')[1]}} {{product._szerokosc}}
                        </a>

                        <a
                          *ngIf="product._grupaAsortymentowa === 'Akcesorium' && product._szerokosc === 0 && product._wysokosc === 0"
                          routerLink="../{{ 'LINK.shopAccessories' | translate}}/{{product._kod}}"
                          class="product-title">
                          {{product._model.split(':')[1]}}
                        </a>

                        <a *ngIf="product._grupaAsortymentowa === 'OknoDachoweReset'"
                           routerLink="../{{ 'LINK.shopReset' | translate}}/{{product._kod}}" class="product-title">
                          {{product._model.split(':')[1]}} {{product._pakietSzybowy.split(':')[1]}} {{product._szerokosc}}
                          x{{product._wysokosc}}
                        </a>

                        <a *ngIf="product._grupaAsortymentowa === 'WyłazReset'"
                           routerLink="../{{ 'LINK.shopReset' | translate}}/{{product._kod}}" class="product-title">
                          {{product._model.split(':')[1]}} {{product._szerokosc}}x{{product._wysokosc}}
                        </a>

                        <!--Price--->
                        <div class="price-buy">
                                    <span
                                      class="p-price">{{(product._CenaDetaliczna / (cart$ | async).cart.exchange) + ((product._CenaDetaliczna / (cart$ | async).cart.exchange) * (cart$ | async).cart.vatRate) | currency: ' '}} {{returnCurrencyName((cart$ | async).cart.currency)}}</span>
                          <a class="product-card__buttons-section--link icon-btn icon-btn--red"
                             (click)="addToCart(product)">
                            <i class="fas fa-cart-plus product-card__buttons-section--icon"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                </swiper>

              </div>
            </div>
            <div class="swiper-button-next-unique"><i class="fas fa-angle-right angle--icon"></i></div>
          </div>
        </div>
      </div>
      <div class="main__tabs" (change)="selectTab()">
        <h4 class="main__tabs--heading">{{ 'MY-ACCOUNT.documents' | translate}}</h4>
        <input class="main__tabs--input" type="radio" name="tabset" id="orders" aria-controls="orders" checked autofocus
               [(ngModel)]="activeTab" [ngModelOptions]="{standalone: true}" value="activeOrders">
        <label class="main__tabs--label" for="orders">
          <span *ngIf="!(userOrders$ | async)">{{'MY-ACCOUNT.orders' | translate}} (0)</span>
          <span *ngIf="(userOrders$ | async)">{{'MY-ACCOUNT.orders' | translate}} ({{(userOrders$ | async)?.length}})</span>
        </label>

        <input class="main__tabs--input" type="radio" name="tabset" id="configurations" aria-controls="configurations"
               [(ngModel)]="activeTab" [ngModelOptions]="{standalone: true}" value="activeConfigurations">
        <label class="main__tabs--label" for="configurations">{{'MY-ACCOUNT.configurations' | translate}}
          <span *ngIf="!(userConfigurations$ | async)">(0)</span>
          <span *ngIf="(userConfigurations$ | async)">({{(userConfigurations$ | async)?.configurations.length}})</span>
        </label>
        <input *ngIf="currentUser.isLogged && (user$ | async)?.company" class="main__tabs--input" type="radio"
               name="tabset" id="tasks" aria-controls="tasks"
               [(ngModel)]="activeTab" [ngModelOptions]="{standalone: true}" value="activeTasks">
        <label *ngIf="currentUser.isLogged  && (user$ | async)?.company" class="main__tabs--label"
               for="tasks">{{'MY-ACCOUNT.tasks' | translate}}
          ({{(userTask$ | async)?.length}})</label>

        <input *ngIf="currentUser.isLogged && (user$ | async)?.company" class="main__tabs--input" type="radio"
               name="tabset" id="news" aria-controls="news"
               [(ngModel)]="activeTab" [ngModelOptions]="{standalone: true}" value="activeNews">
        <label *ngIf="currentUser.isLogged && (user$ | async)?.company" class="main__tabs--label" for="news">{{'MY-ACCOUNT.news' | translate}}
          (0)</label>

        <input *ngIf="currentUser.isLogged" class="main__tabs--input" type="radio" name="tabset" id="complaints"
               aria-controls="complaints"
               [(ngModel)]="activeTab" [ngModelOptions]="{standalone: true}" value="activeComplaints">
        <label *ngIf="currentUser.isLogged" class="main__tabs--label"
               for="complaints">{{'MY-ACCOUNT.complaints' | translate}}
          ({{(userComplaints$ | async)?.complaints.length}})</label>
      </div>
      <div class="main__content">
        <section class="main__content__tab">
          <app-my-orders [hidden]="!activeOrders"></app-my-orders>
          <app-my-configurations [hidden]="!activeConfigurations"></app-my-configurations>
          <app-my-tasks [hidden]="!activeTasks"></app-my-tasks>
          <app-informations [hidden]="!activeNews"></app-informations>
          <app-my-complaints [hidden]="!activeComplaints"></app-my-complaints>
        </section>
      </div>
    </div>

    <div class="footer">
      <a (click)="logout()" class="btn btn--dark-blue">{{ 'GENERAL.logout' | translate}}</a>
    </div>
  </ng-template>
</div>
