@import 'src/sass/base/variables';

.scroll-to-top {
  display: none;
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}

.scroll-button {
  &,
  &:link,
  &:visited {
    margin: 1rem 1rem;
    height: 6rem;
    width: 6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: all .2s;
    font-size: 1.2rem;
    font-weight: bold;
    border: .2rem solid transparent;
    border-radius: 50%;
    background-color: $color-grey;
    color: $color-black;
  }

  &:hover {
    background-color: $color-red;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-red, .2);
  }
}

.show-scrollTop {
  display: flex;
}
