<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/purple.jpg" alt="roof windows">
</div>

<!--TODO jeśli dany krok jest niewypełniony lub w przypadku wymiarów nietknięty to wyświetla się w innym kolorze, wypełnione to zielone-->
<div class="md-container">
  <div class="loader-container" *ngIf="loading; else elseBlock">
    <app-bouncing-loader></app-bouncing-loader>
  </div>
  <ng-template #elseBlock>
    <div class="configuration-summary">
      <div class="configuration-summary__navigation">
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--material"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onMaterialHover(materialOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : configuredWindow.stolarkaMaterial!==null}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--opening"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onOpeningHover(openingOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : configuredWindow.otwieranie!==null}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--glazing"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onGlazingHover(glazingOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : configuredWindow.pakietSzybowy!==null}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--coats"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onCoatsHover(coatOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : (configuredWindow.windowCoats!==null || form.controls.coats.touched)}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--dimensions"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onDimensionsHover(dimensionOption)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : (!form.controls.width.untouched && !form.controls.height.untouched)}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--inner-color"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onInnerColorHover(innerColorOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : configuredWindow.stolarkaKolor!==null}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--outer-material"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onOuterMaterialHover(outerMaterialOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : configuredWindow.oblachowanieMaterial!==null}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--ventilation"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onVentilationHover(ventilationOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : configuredWindow.wentylacja!==null}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--handle"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onHandleHover(handleOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : configuredWindow.zamkniecieTyp!==null}"></a>
        <a class="configuration-summary__navigation--element
              configuration-summary__navigation--extras"
           (click)="closeAllHovers([materialOptions, openingOptions, glazingOptions,
         coatOptions, dimensionOption, innerColorOptions, outerMaterialOptions,
         ventilationOptions, handleOptions, extrasOptions]); onExtrasHover(extrasOptions)"
           [ngClass]="{'configuration-summary__navigation--element--chosen' : configuredWindow.dostepneRozmiary!==null}"></a>
      </div>
      <div class="configuration-summary__scores">
        <p
          class="price">{{this.configuredWindow.CenaDetaliczna | currency :' ' : false : undefined : undefined}}{{ 'ROOF-WINDOWS-CONFIG.currency' | translate}}</p>
        <p class="Uw">{{ 'ROOF-WINDOWS-CONFIG.Uw' | translate}} = {{this.configuredWindow.windowUW | number: '1.2-2'}}
          W/m²K</p>
        <p class="Ug">{{ 'ROOF-WINDOWS-CONFIG.Ug' | translate}} = {{this.configuredWindow.windowUG | number: '1.2-2'}}
          W/m²K</p>
      </div>
    </div>
    <div [ngClass]="popupConfig===false ? 'md-popup' : 'configure-form'">
      <form [formGroup]="form">
        <!--popupConfig===null ? 'md-popup__content' : 'form-content'-->
        <div [ngClass]="popupConfig===false ? 'md-popup__content' : ''">
          <!--Material-->
          <div [ngClass]="popupConfig===false ? 'md-popup__content--group' : 'configure-form__group'">
            <label for="material" (click)="onMaterialHover(materialOptions)"
                   [ngClass]="popupConfig===false ? 'md-popup__content--group__label' : 'configure-form__group__label'">
              {{'ROOF-WINDOWS-CONFIG.material' | translate}}</label>
            <div #materialOptions
                 [ngClass]="popupConfig===false ? 'md-popup__content--group__options' : 'configure-form__group__options materials'">
              <div
                [ngClass]="popupConfig===false ? 'md-popup__content--group__options--option' : 'configure-form__group__options--option'"
                *ngFor="let material of materials">
                <input type="radio"
                       [ngClass]="{'md-popup__content--group__options--option__input' : popupConfig===false,
                      'configure-form__group__options--option__input' : popupConfig!==false}"
                       id="{{material.option}}"
                       value='{{material.option}}'
                       formControlName="material"
                       [attr.disabled]="material.disabled">
                <label for="{{material.option}}"
                       [ngClass]="{'md-popup__content--group__options--option__label' : popupConfig === false,
                     'configure-form__group__options--option__label' : popupConfig !== false,
                      'label--disabled' : material.disabled}"
                       [ngStyle]="setBackgroundImage(material.option)"
                >{{builtNameForTranslation(material.option) | translate}}</label>
              </div>
              <div class="configure-form__navigation-buttons" [ngClass]="{'md-not-popup' : popupConfig===false}">
                <div class="empty-div"></div>
                <a (click)="onMaterialHover(materialOptions);onOpeningHover(openingOptions)"
                   class="btn btn--blue configure-form__navigation-buttons__next-prev">
                  {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
              </div>
            </div>
          </div>

          <!--Opening type-->
          <div [ngClass]="popupConfig===false ? 'md-popup__content--group' : 'configure-form__group'">
            <label for="openingType" (click)="onOpeningHover(openingOptions)"
                   [ngClass]="popupConfig===false ? 'md-popup__content--group__label' : 'configure-form__group__label'">
              {{ 'ROOF-WINDOWS-CONFIG.openingType' | translate}}</label>
            <div #openingOptions
                 [ngClass]="popupConfig===false ? 'md-popup__content--group__options' : 'configure-form__group__options'">
              <div
                [ngClass]="popupConfig===false ? 'md-popup__content--group__options--option' : 'configure-form__group__options--option'"
                *ngFor="let openingType of openingTypes"
              >
                <input type="radio"
                       [ngClass]="{'md-popup__content--group__options--option__input' : popupConfig===false,
                      'configure-form__group__options--option__input' : popupConfig!==false}"
                       id="{{openingType.option}}"
                       value='{{openingType.option}}'
                       formControlName="openingType"
                       [attr.disabled]="openingType.disabled">
                <label for="{{openingType.option}}"
                       [ngClass]="{'md-popup__content--group__options--option__label' : popupConfig === false,
                     'configure-form__group__options--option__label' : popupConfig !== false,
                      'label--disabled' : openingType.disabled}"
                       [ngStyle]="setBackgroundImage(openingType.option)">
                  {{builtNameForTranslation(openingType.option) | translate}}</label>
              </div>
              <div class="configure-form__navigation-buttons" [ngClass]="{'md-not-popup' : popupConfig===false}">
                <a (click)="onMaterialHover(materialOptions);onOpeningHover(openingOptions)"
                   class="btn btn--grey configure-form__navigation-buttons__next-prev">
                  {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

                <a (click)="onOpeningHover(openingOptions);onGlazingHover(glazingOptions)"
                   class="btn btn--blue configure-form__navigation-buttons__next-prev">
                  {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
              </div>
            </div>
            <ng-container *ngIf="form.controls.openingType.value === 'electric'">
              <label for="control"
                     [ngClass]="popupConfig===false ? 'md-popup__content--group__label' : 'configure-form__group__label'">
                {{ 'ROOF-WINDOWS-CONFIG.remoteControl' | translate}}</label>
              <div class="configure-form__group__options"
                   [ngClass]="{'md-popup__group__options' : popupConfig===false}">
                <div class="configure-form__group__options--option"
                     [ngClass]="{'md-popup__group__options--option' : popupConfig===false}">
                  <input type="radio"
                         [ngClass]="popupConfig===false ? 'md-popup__content--group__options--option__options__input' : 'configure-form__group__options--option__input'"
                         id="remote-control"
                         value='remote-control'
                         formControlName="control">
                  <label for="remote-control"
                         [ngClass]="popupConfig === false ? 'md-popup__content--group__options--option__label' : 'configure-form__group__options--option__label'">
                    {{builtNameForTranslation('remote-control') | translate}}</label>
                </div>
              </div>
              <label for="control"
                     [ngClass]="popupConfig===false ? 'md-popup__content--group__label' : 'configure-form__group__label'">
                {{ 'ROOF-WINDOWS-CONFIG.wallSwitchControl' | translate}}</label>
              <div class="configure-form__group__options"
                   [ngClass]="{'md-popup__group__options' : popupConfig===false}">
                <div class="configure-form__group__options--option"
                     [ngClass]="{'md-popup__group__options--option' : popupConfig===false}">
                  <input type="radio"
                         [ngClass]="popupConfig===false ? 'md-popup__content--group__options--option__input' : 'configure-form__group__options--option__input'"
                         id="wall-switch-control"
                         value='wall-switch-control'
                         formControlName="control"/>
                  <label for="wall-switch-control"
                         [ngClass]="popupConfig === false ? 'md-popup__content--group__options--option__label' : 'configure-form__group__options--option__label'">
                    {{builtNameForTranslation('wall-switch-control') | translate}}</label>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <!--Glazing-->
        <div class="configure-form__group"
             [ngClass]="{'md-not-popup' : popupConfig===false}">
          <label for="glazing" (click)="onGlazingHover(glazingOptions)"
                 class="configure-form__group__label">{{ 'ROOF-WINDOWS-CONFIG.glazing' | translate}}</label>
          <div class="configure-form__group__options" #glazingOptions>
            <div class="configure-form__group__options--option" *ngFor="let glazing of glazingTypes">
              <input type="radio"
                     class="configure-form__group__options--option__input"
                     id="{{glazing.option}}"
                     value='{{glazing.option}}'
                     formControlName="glazing"
                     [attr.disabled]="glazing.disabled"/>
              <label for="{{glazing.option}}"
                     class="configure-form__group__options--option__label"
                     [ngClass]="{'label--disabled' : glazing.disabled}"
                     [ngStyle]="setBackgroundImage(glazing.option)">{{builtNameForTranslation(glazing.option) | translate}}</label>
            </div>
            <div class="configure-form__navigation-buttons">
              <a (click)="onOpeningHover(openingOptions);onGlazingHover(glazingOptions)"
                 class="btn btn--grey configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

              <a (click)="onGlazingHover(glazingOptions);onCoatsHover(coatOptions)"
                 class="btn btn--blue configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
            </div>
          </div>
        </div>

        <!--Coats-->
        <div class="configure-form__group"
             [ngClass]="{'md-not-popup' : popupConfig===false}">
          <label for="coats" (click)="onCoatsHover(coatOptions)"
                 class="configure-form__group__label">{{ 'ROOF-WINDOWS-CONFIG.coat' | translate}}</label>
          <div class="configure-form__group__options" #coatOptions>
            <div class="configure-form__group__options--option" formArrayName="coats"
                 *ngFor="let coat of coats$ | async; index as i">
              <input type="checkbox"
                     id="{{coat.option}}"
                     value="{{coat.option}}"
                     formControlName="{{i}}"
                     class="configure-form__group__options--option__input"
                     [attr.disabled]="coat.disabled"
              />
              <label for="{{coat.option}}"
                     class="configure-form__group__options--option__label"
                     [ngClass]="{'label--disabled' : coat.disabled}"
                     [ngStyle]="setBackgroundImage(coat.option)">{{coat.option}}</label>
            </div>
            <div class="configure-form__navigation-buttons">
              <a (click)="onGlazingHover(glazingOptions);onCoatsHover(coatOptions)"
                 class="btn btn--grey configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

              <a (click)="onCoatsHover(coatOptions);onDimensionsHover(dimensionOption)"
                 class="btn btn--blue configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
            </div>
          </div>
        </div>

        <!--Dimensions-->
        <div class="configure-form__group"
             [ngClass]="{'md-not-popup' : popupConfig===false}">
          <label for="dimensions" (click)="onDimensionsHover(dimensionOption)"
                 class="configure-form__group__label">{{ 'ROOF-WINDOWS-CONFIG.dimensions' | translate}}</label>
          <div class="configure-form__group__options" #dimensionOption>
            <label for="width"
                   class="configure-form__group__label--inner">{{ 'ROOF-WINDOWS-CONFIG.width' | translate}}</label>
            <div class="configure-form__group__options--option-wrap-range">
              <input class="configure-form__group__options--option__input-range"
                     type="range"
                     id="width"
                     step="{{stepWidth}}"
                     min="{{minWidth}}"
                     max="{{maxWidth}}"
                     formControlName="width"
              />
              <output #outputWidth
                      class="configure-form__group__options--option__output-range">{{form.value.width}}</output>
            </div>
            <label for="height"
                   class="configure-form__group__label--inner">{{ 'ROOF-WINDOWS-CONFIG.height' | translate}}</label>
            <div class="configure-form__group__options--option-wrap-range">
              <input class="configure-form__group__options--option__input-range"
                     type="range"
                     id="height"
                     step="{{stepHeight}}"
                     min="{{minHeight}}"
                     max="{{maxHeight}}"
                     formControlName="height">
              <output #outputHeight
                      class="configure-form__group__options--option__output-range">{{form.value.height}}</output>
            </div>
            <p *ngIf="showHeightMessage && showWidthMessage"
               class="configure-form__validation-info--single-message"
            >{{ 'ROOF-WINDOWS-CONFIG.standardDimensions' | translate}}
              <a class="configure-form__validation-info--single-message--link"
                 (click)="navigateToShop()">{{ 'SHOP.roofWindows' | translate}}</a></p>
            <div class="configure-form__navigation-buttons">
              <a (click)="onCoatsHover(coatOptions);onDimensionsHover(dimensionOption)"
                 class="btn btn--grey configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

              <a (click)="onDimensionsHover(dimensionOption);onInnerColorHover(innerColorOptions)"
                 class="btn btn--blue configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
            </div>
          </div>
        </div>

        <!--Inner color-->
        <div class="configure-form__group"
             [ngClass]="{'md-not-popup' : popupConfig===false}">
          <label for="innerColor" (click)="onInnerColorHover(innerColorOptions)"
                 class="configure-form__group__label">{{ 'ROOF-WINDOWS-CONFIG.innerColor' | translate}}</label>
          <div class="configure-form__group__options" #innerColorOptions>
            <div class="configure-form__group__options--option" *ngFor="let innerColor of innerColors">
              <input type="radio"
                     class="configure-form__group__options--option__input"
                     id="{{innerColor.option}}"
                     value='{{innerColor.option}}'
                     formControlName="innerColor"
                     [attr.disabled]="innerColor.disabled"/>
              <label for="{{innerColor.option}}"
                     class="configure-form__group__options--option__label"
                     [ngClass]="{'label--disabled' : innerColor.disabled}"
                     [ngStyle]="setBackgroundImage(innerColor.option)">{{builtNameForTranslation(innerColor.option) | translate}}</label>
            </div>
            <div class="configure-form__navigation-buttons">
              <a (click)="onDimensionsHover(dimensionOption);onInnerColorHover(innerColorOptions)"
                 class="btn btn--grey configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

              <a (click)="onInnerColorHover(innerColorOptions);onOuterMaterialHover(outerMaterialOptions)"
                 class="btn btn--blue configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
            </div>
          </div>
        </div>

        <!--Outer material and color-->
        <div class="configure-form__group" formGroupName="outer"
             [ngClass]="{'md-not-popup' : popupConfig===false}">
          <label for="outerMaterial" (click)="onOuterMaterialHover(outerMaterialOptions)"
                 class="configure-form__group__label">{{ 'ROOF-WINDOWS-CONFIG.outerMaterial' | translate}}</label>
          <div class="configure-form__group__options" #outerMaterialOptions>
            <div class="configure-form__group__options--option" *ngFor="let outerMaterial of outerMaterials">
              <input type="radio"
                     class="configure-form__group__options--option__input"
                     id="{{outerMaterial.option}}"
                     value="{{outerMaterial.option}}"
                     formControlName="outerMaterial"
                     [attr.disabled]="outerMaterial.disabled"/>
              <label for="{{outerMaterial.option}}"
                     class="configure-form__group__options--option__label"
                     [ngClass]="{'label--disabled' : outerMaterial.disabled}"
                     [ngStyle]="setBackgroundImage(outerMaterial.option)">{{builtNameForTranslation(outerMaterial.option) | translate}}</label>
            </div>
            <label for="outerColor"
                   class="configure-form__group__label--inner">{{ 'ROOF-WINDOWS-CONFIG.outerColor' | translate}}</label>
            <div class="configure-form__group__options--option" *ngFor="let outerColor of outerColors">
              <input type="radio"
                     class="configure-form__group__options--option__input"
                     id="{{outerColor.option}}"
                     value="{{outerColor.option}}"
                     formControlName="outerColor"
                     [attr.disabled]="outerColor.disabled"/>
              <label for="{{outerColor.option}}"
                     [ngClass]="{'label--disabled' : outerColor.disabled}"
                     class="configure-form__group__options--option__label">{{builtNameForTranslation(outerColor.option) | translate}}</label>
            </div>
            <label for="outerColorFinish"
                   class="configure-form__group__label--inner">{{ 'ROOF-WINDOWS-CONFIG.outerColorFinish' | translate}}</label>
            <div class="configure-form__group__options--option" *ngFor="let outerColorFinish of outerColorFinishes">
              <input type="radio"
                     class="configure-form__group__options--option__input"
                     id="{{outerColorFinish.option}}"
                     value="{{outerColorFinish.option}}"
                     formControlName="outerColorFinish"
                     [attr.disabled]="outerColorFinish.disabled"/>
              <label for="{{outerColorFinish.option}}"
                     [ngClass]="{'label--disabled' : outerColorFinish.disabled}"
                     class="configure-form__group__options--option__label"
                     [ngStyle]="setBackgroundImage(outerColorFinish.option)">{{builtNameForTranslation(outerColorFinish.option) | translate}}</label>
            </div>
            <h2 class="configure-form__group--info-color">{{ 'ROOF-WINDOWS-CONFIG.RALVsRGB' | translate}}</h2>
            <div class="configure-form__navigation-buttons">
              <a (click)="onInnerColorHover(innerColorOptions);onOuterMaterialHover(outerMaterialOptions)"
                 class="btn btn--grey configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

              <a (click)="onOuterMaterialHover(outerMaterialOptions);onVentilationHover(ventilationOptions)"
                 class="btn btn--blue configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
            </div>
          </div>
        </div>

        <!--Ventilation-->
        <div class="configure-form__group"
             [ngClass]="{'md-not-popup' : popupConfig===false}">
          <label for="ventilation" (click)="onVentilationHover(ventilationOptions)"
                 class="configure-form__group__label">{{ 'ROOF-WINDOWS-CONFIG.ventilation' | translate}}</label>
          <div class="configure-form__group__options" #ventilationOptions>
            <div class="configure-form__group__options--option" *ngFor="let ventilation of ventilations">
              <input type="radio"
                     class="configure-form__group__options--option__input"
                     id="{{ventilation.option}}"
                     value="{{ventilation.option}}"
                     formControlName="ventilation"
                     [attr.disabled]="ventilation.disabled"/>
              <label for="{{ventilation.option}}"
                     [ngClass]="{'label--disabled' : ventilation.disabled}"
                     class="configure-form__group__options--option__label"
                     [ngStyle]="setBackgroundImage(ventilation.option)">{{builtNameForTranslation(ventilation.option) | translate}}</label>
            </div>
            <div class="configure-form__navigation-buttons">
              <a (click)="onOuterMaterialHover(outerMaterialOptions);onVentilationHover(ventilationOptions)"
                 class="btn btn--grey configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

              <a (click)="onVentilationHover(ventilationOptions);onHandleHover(handleOptions)"
                 class="btn btn--blue configure-form__navigation-buttons__next-prev">
                {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
            </div>
          </div>

          <div class="configure-form__group" formGroupName="closure"
               [ngClass]="{'md-not-popup' : popupConfig===false}">
            <label for="handle" (click)="onHandleHover(handleOptions)"
                   class="configure-form__group__label">{{ 'ROOF-WINDOWS-CONFIG.handle' | translate}}</label>
            <div class="configure-form__group__options" #handleOptions>
              <div class="configure-form__group__options--option" *ngFor="let handle of handles">
                <input type="radio"
                       class="configure-form__group__options--option__input"
                       id="{{handle.option}}"
                       value="{{handle.option}}"
                       formControlName="handle"
                       [attr.disabled]="handle.disabled"/>
                <label for="{{handle.option}}"
                       [ngClass]="{'label--disabled' : handle.disabled}"
                       class="configure-form__group__options--option__label"
                       [ngStyle]="setBackgroundImage(handle.option)">{{builtNameForTranslation(handle.option) | translate}}</label>
              </div>

              <label for="handleColor"
                     class="configure-form__group__label--inner">{{ 'ROOF-WINDOWS-CONFIG.handleColor' | translate}}</label>
              <div class="configure-form__group__options--option" *ngFor="let handleColor of handleColors">
                <input type="radio"
                       class="configure-form__group__options--option__input"
                       id="{{handleColor.option}}"
                       value="{{handleColor.option}}"
                       formControlName="handleColor"
                       [attr.disabled]="handleColor.disabled">
                <label for="{{handleColor.option}}"
                       [ngClass]="{'label--disabled' : handleColor.disabled}"
                       class="configure-form__group__options--option__label"
                >{{builtNameForTranslation(handleColor.option) | translate}}</label>
              </div>
              <div class="configure-form__navigation-buttons">
                <a (click)="onVentilationHover(ventilationOptions);onHandleHover(handleOptions)"
                   class="btn btn--grey configure-form__navigation-buttons__next-prev">
                  {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

                <a (click)="onHandleHover(handleOptions);onExtrasHover(extrasOptions)"
                   class="btn btn--blue configure-form__navigation-buttons__next-prev">
                  {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
              </div>
            </div>
          </div>

          <div class="configure-form__group"
               [ngClass]="{'md-not-popup' : popupConfig===false}">
            <label for="extras" (click)="onExtrasHover(extrasOptions)"
                   class="configure-form__group__label">{{ 'ROOF-WINDOWS-CONFIG.extras' | translate}}</label>
            <div class="configure-form__group__options" #extrasOptions>
              <div class="configure-form__group__options--option" formArrayName="extras"
                   *ngFor="let extra of extras$ | async; index as i">
                <input type="checkbox"
                       id="{{extra.option}}"
                       value="{{extra.option}}"
                       formControlName="{{i}}"
                       class="configure-form__group__options--option__input"
                       [attr.disabled]="extra.disabled"/>
                <label for="{{extra.option}}"
                       [ngClass]="{'label--disabled' : extra.disabled}"
                       class="configure-form__group__options--option__label"
                       [ngStyle]="setBackgroundImage(extra.option)">{{builtNameForTranslation(extra.option) | translate}}</label>
              </div>
              <div class="configure-form__navigation-buttons">
                <a (click)="onHandleHover(handleOptions);onExtrasHover(extrasOptions)"
                   class="btn btn--grey configure-form__navigation-buttons__next-prev">
                  {{ 'ROOF-WINDOWS-CONFIG.prev' | translate}}</a>

                <a (click)="onExtrasHover(extrasOptions)"
                   class="btn btn--blue configure-form__navigation-buttons__next-prev">
                  {{ 'ROOF-WINDOWS-CONFIG.next' | translate}}</a>
              </div>
            </div>
          </div>
          <!-- TODO dokleić do przycisku i usunąć tempConfigWindow [disabled]="!windowConfigurationForm.valid"-->
          <button class="btn btn--red configure-form__submit"

                  [ngClass]="{'md-not-popup' : popupConfig===false}"
                  type="submit"
                  (click)="onSubmit()">{{ 'ROOF-WINDOWS-CONFIG.submit' | translate}}
          </button>
          <div class="configure-form__validation-info">
            <p class="configure-form__validation-info--single-message"
               *ngIf="form.get('material').hasError('empty material') ||
                  form.get('openingType').hasError('empty openingType') ||
                  form.get('glazing').hasError('empty glazingType') ||
                  form.get('innerColor').hasError('empty innerColor') ||
                  form.get('outer').hasError('empty outerMaterial') ||
                  form.get('ventilation').hasError('empty ventilation') ||
                  form.get('closure').hasError('empty handle')">{{ 'ROOF-WINDOWS-CONFIG.validationInfo' | translate}}</p>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
