@import 'src/sass/base/variables';
@import 'src/sass/buttons';

.navbar-background {
  height: 32rem;
  overflow: hidden;
  background-color: rgba($color-black, 1);

  img {
    opacity: .7;
  }
}

.md-container {
  max-width: 140rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  font-size: 1.6rem;
}
