<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/register.jpg" alt="roof windows">
</div>

<div class="d-flex justify-content-center">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <app-bouncing-loader>
    </app-bouncing-loader>
  </div>

  <div class="md-container" *ngIf="!isLoading">
    <div class="md-container__form-container">

      <div class="alert alert-danger" role="alert" *ngIf="error">
        <p>{{error}}</p>
      </div>

      <div>
        <h1 class="register-title">{{'REGISTER.registerTitle' | translate}}</h1>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!--        <label for="firstName" class="register-form-labels">{{'REGISTER.firstName' | translate}}</label>-->
          <div class="md-form mt-3">
            <input type="text"
                   id="firstName"
                   formControlName="firstName"
                   class="form-control"
                   placeholder="{{'REGISTER.firstName' | translate}}">
          </div>
          <div
            class="invalid-contact-data"
            *ngIf="registerForm.get('firstName').value != null &&
          registerForm.get('firstName').value.length == 0 &&
          registerForm.get('firstName').dirty &&
          registerForm.get('firstName').invalid">
            {{'REGISTER.requiredField' | translate}}
          </div>
          <!--        <label for="lastName" class="register-form-labels">{{ 'REGISTER.lastName' | translate}}</label>-->
          <div class="md-form mt-3">
            <input type="text"
                   id="lastName"
                   formControlName="lastName"
                   class="form-control"
                   placeholder="{{'REGISTER.lastName' | translate}}">
          </div>
          <div
            class="invalid-contact-data"
            *ngIf="registerForm.get('lastName').value != null &&
          registerForm.get('lastName').value.length == 0 &&
          registerForm.get('lastName').dirty &&
          registerForm.get('lastName').invalid">
            {{'REGISTER.requiredField' | translate}}
          </div>
          <!--        <label for="email" class="register-form-labels">{{ 'REGISTER.email' | translate}}</label>-->
          <div class="md-form mt-3">
            <input type="email"
                   id="email"
                   formControlName="email"
                   class="form-control"
                   placeholder="{{'REGISTER.email' | translate}}">
          </div>
          <div
            class="invalid-contact-data"
            *ngIf="registerForm.get('email').value != null &&
          registerForm.get('email').value.length == 0 &&
          registerForm.get('email').dirty &&
          registerForm.get('email').invalid">
            {{'REGISTER.requiredField' | translate}}
          </div>
          <div
            class="invalid-contact-data"
            *ngIf="registerForm.get('email').invalid &&
          registerForm.get('email').dirty">
            {{'REGISTER.wrongEmail' | translate}}
          </div>
          <!--        <label for="password" class="register-form-labels">{{ 'REGISTER.password' | translate}}</label>-->
          <div class="md-form mt-3">
            <input type="password"
                   id="password"
                   formControlName="password"
                   class="form-control"
                   placeholder="{{'REGISTER.password' | translate}}">
          </div>
          <div
            class="invalid-contact-data"
            *ngIf="registerForm.get('password').value != null &&
          registerForm.get('password').dirty &&
          registerForm.get('password').value.length == 0 &&
          registerForm.get('password').errors &&
          registerForm.get('password').errors.minlength">
            {{'REGISTER.toShortPassword' | translate}}
          </div>
          <!--        <label for="rePassword" class="register-form-labels">{{ 'REGISTER.rePassword' | translate}}</label>-->
          <div class="md-form mt-3">
            <input type="password"
                   id="rePassword"
                   formControlName="rePassword"
                   class="form-control"
                   placeholder="{{'REGISTER.rePassword' | translate}}">
          </div>
          <div class="invalid-contact-data" *ngIf="registerForm.get('rePassword').value != null &&
        registerForm.get('rePassword').dirty &&
        registerForm.get('rePassword').value != registerForm.get('password').value&&
        registerForm.get('rePassword').invalid">
            {{'REGISTER.differentPasswords' | translate}}
          </div>
          <input type="hidden"
                 id="role"
                 formControlName="role"
                 value="user">

          <div class="register-check-box"
               (click)="setClientTypeToTrue()">{{ 'REGISTER.companyClient' | translate}}</div>

          <hr class="register-horizontal-line">
          <div *ngIf="clientType">
            <!--          <label for="companyName" class="register-form-labels">{{ 'REGISTER.companyName' | translate}}</label>-->
            <div class="md-form mt-3">
              <input type="text"
                     id="companyName"
                     formControlName="companyName"
                     class="form-control"
                     placeholder="{{'REGISTER.companyName' | translate}}">
            </div>
            <!--          <label for="nip" class="register-form-labels">{{ 'REGISTER.NIP' | translate}}</label>-->
            <div class="md-form mt-3">
              <input type="text"
                     id="nip"
                     formControlName="nip"
                     class="form-control"
                     placeholder="{{'REGISTER.NIP' | translate}}">
            </div>
            <!--          <label for="street" class="register-form-labels">{{ 'REGISTER.street' | translate}}</label>-->
            <div class="md-form mt-3">
              <input type="text"
                     id="street"
                     formControlName="street"
                     class="form-control"
                     placeholder="{{'REGISTER.street' | translate}}">
            </div>
            <!--          <label for="number" class="register-form-labels">{{ 'REGISTER.number' | translate}}</label>-->
            <div class="md-form mt-3">
              <input type="text"
                     id="number"
                     formControlName="number"
                     class="form-control"
                     placeholder="{{'REGISTER.number' | translate}}">
            </div>
            <!--          <label for="zipCode" class="register-form-labels">{{ 'REGISTER.zipCode' | translate}}</label>-->
            <div class="md-form mt-3">
              <input type="text"
                     id="zipCode"
                     formControlName="zipCode"
                     class="form-control"
                     placeholder="{{'REGISTER.zipCode' | translate}}">
            </div>
            <!--          <label for="agent" class="register-form-labels">{{ 'REGISTER.agent' | translate}}</label>-->
            <div class="md-form mt-3">
              <input type="text"
                     id="agent"
                     formControlName="agent"
                     class="form-control"
                     placeholder="{{'REGISTER.agent' | translate}}">
            </div>
          </div>

          <button type="submit">{{ 'REGISTER.register' | translate}}</button>
        </form>
      </div>

    </div>
    <div class="md-container__right-side">
      <div class="md-container__right-side__img"></div>
    </div>
  </div>
</div>
