<div class="navbar-background">
  <img src="assets/img/navbar_backgrounds/register.jpg" alt="roof windows">
</div>

<div class="d-flex justify-content-center">
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <app-okpol-loader></app-okpol-loader>
  </div>

  <div class="md-container__form-window" *ngIf="!isLoading">
    <div class="md-container__form-window__form-container">

      <div class="alert alert-danger" role="alert" *ngIf="error">
        <p>{{error}}</p>
      </div>

      <div>
        <h1 class="form-title">{{'REGISTER.registerTitle' | translate}}</h1>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!--        <label for="email" class="register-form-labels">{{ 'REGISTER.email' | translate}}</label>-->
          <div class="md-form mt-3">
            <p class="form-control-field-title">{{'REGISTER.email' | translate}}:</p>
            <input type="email"
                   id="email"
                   formControlName="email"
                   class="form-control--input"
                   placeholder="{{'REGISTER.email' | translate}}">
          </div>
          <div *ngIf="registerForm.get('email').dirty || registerForm.get('email').touched">
            <div class="invalid-contact-data" *ngIf="registerForm.get('email').hasError('emailExists')">
              {{'REGISTER.emailExists' | translate}}
            </div>
            <div
              class="invalid-contact-data" *ngIf="registerForm.get('email').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
            <div
              class="invalid-contact-data" *ngIf="registerForm.get('email').hasError('email')">
              {{'REGISTER.wrongEmail' | translate}}
            </div>
          </div>
          <!--        <label for="password" class="register-form-labels">{{ 'REGISTER.password' | translate}}</label>-->
          <div class="md-form mt-3">
            <p class="form-control-field-title">{{'REGISTER.password' | translate}}:</p>
            <input type="password"
                   id="password"
                   formControlName="password"
                   class="form-control--input"
                   placeholder="{{'REGISTER.password' | translate}}">
          </div>
          <div *ngIf="registerForm.get('password').dirty || registerForm.get('password').touched">
            <div
              class="invalid-contact-data" *ngIf="registerForm.get('password').touched &&
              registerForm.get('password').errors && registerForm.get('password').errors.minlength">
              {{'REGISTER.tooShortPassword' | translate}}
            </div>
            <div
              class="invalid-contact-data"
              *ngIf="registerForm.get('password').dirty && registerForm.get('password').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
          </div>
          <!--        <label for="rePassword" class="register-form-labels">{{ 'REGISTER.rePassword' | translate}}</label>-->
          <div class="md-form mt-3">
            <p class="form-control-field-title">{{'REGISTER.rePassword' | translate}}:</p>
            <input type="password"
                   id="rePassword"
                   formControlName="rePassword"
                   class="form-control--input"
                   placeholder="{{'REGISTER.rePassword' | translate}}">
          </div>
          <div *ngIf="registerForm.get('rePassword').dirty || registerForm.get('rePassword').touched">
            <div
              class="invalid-contact-data" *ngIf="registerForm.get('rePassword').touched &&
              registerForm.get('rePassword').errors && registerForm.get('rePassword').errors.minlength">
              {{'REGISTER.toShortPassword' | translate}}
            </div>
            <div
              class="invalid-contact-data"
              *ngIf="registerForm.get('rePassword').dirty && registerForm.get('rePassword').hasError('required')">
              {{'REGISTER.requiredField' | translate}}
            </div>
            <div
              class="invalid-contact-data"
              *ngIf="registerForm.get('rePassword').touched && registerForm.hasError('mismatch')">
              {{'REGISTER.differentPasswords' | translate}}
            </div>
          </div>
          <div class="md-form mt-3">
            <p class="form-control-field-title">{{'REGISTER.username' | translate}}:</p>
            <input type="text"
                   id="username"
                   formControlName="username"
                   class="form-control--input"
                   placeholder="{{'REGISTER.username' | translate}}">
          </div>
          <div *ngIf="registerForm.get('username').dirty || registerForm.get('username').touched">
            <div class="invalid-contact-data" *ngIf="registerForm.get('username').hasError('usernameExists')">
              {{'REGISTER.usernameExists' | translate}}
            </div>
          </div>

          <div class="register-check-box"
               (click)="setCompanyClientTypeToTrue()">{{ 'REGISTER.companyClient' | translate}}
            <p class="extra-info">{{ 'REGISTER.or' | translate}}</p>
          </div>
          <div class="register-check-box"
               (click)="setIndividualClientTypeToTrue()">{{ 'REGISTER.contactDetails' | translate}}
            <p class="extra-info">{{ 'REGISTER.contactDetailsInfo' | translate}}</p>
          </div>

          <hr class="register-horizontal-line">
          <div *ngIf="individualClient">

            <!--        <label for="firstName" class="register-form-labels">{{'REGISTER.firstName' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.firstName' | translate}}:</p>
              <input type="text"
                     id="firstName"
                     formControlName="firstName"
                     class="form-control--input"
                     placeholder="{{'REGISTER.firstName' | translate}}">
            </div>
            <div *ngIf="registerForm.get('firstName').dirty || registerForm.get('firstName').touched">
              <div
                class="invalid-contact-data" *ngIf="registerForm.get('firstName').hasError('ifRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>
            <!--        <label for="lastName" class="register-form-labels">{{ 'REGISTER.lastName' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.lastName' | translate}}:</p>
              <input type="text"
                     id="lastName"
                     formControlName="lastName"
                     class="form-control--input"
                     placeholder="{{'REGISTER.lastName' | translate}}">
            </div>
            <div *ngIf="registerForm.get('lastName').dirty || registerForm.get('lastName').touched">
              <div
                class="invalid-contact-data" *ngIf="registerForm.get('lastName').hasError('ifRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.phoneNumber' | translate}}:</p>
              <input type="text"
                     id="individualPhoneNumber"
                     formControlName="individualPhoneNumber"
                     class="form-control--input"
                     placeholder="{{'REGISTER.phoneNumber' | translate}}">
            </div>
            <div *ngIf="registerForm.get('individualPhoneNumber').dirty || registerForm.get('individualPhoneNumber').touched">
              <div
                class="invalid-contact-data" *ngIf="registerForm.get('lastName').hasError('individualRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
              <div class="invalid-contact-data" *ngIf="registerForm.get('individualPhoneNumber').invalid">
                {{'REGISTER.wrongPhoneNumber' | translate}}
              </div>
            </div>
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.street' | translate}}:</p>
              <input type="text"
                     id="individualStreet"
                     formControlName="individualStreet"
                     class="form-control--input"
                     placeholder="{{'REGISTER.street' | translate}}">
            </div>
            <div *ngIf="registerForm.get('individualStreet').dirty || registerForm.get('individualStreet').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('individualStreet').hasError('individualRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>
            <!--          <label for="number" class="register-form-labels">{{ 'REGISTER.number' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.number' | translate}}:</p>
              <input type="text"
                     id="individualLocalNumber"
                     formControlName="individualLocalNumber"
                     class="form-control--input"
                     placeholder="{{'REGISTER.number' | translate}}">
            </div>
            <!--          <label for="zipCode" class="register-form-labels">{{ 'REGISTER.zipCode' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.zipCode' | translate}}:</p>
              <input type="text"
                     id="individualZipCode"
                     formControlName="individualZipCode"
                     class="form-control--input"
                     placeholder="{{'REGISTER.zipCode' | translate}}">
            </div>
            <div *ngIf="registerForm.get('individualZipCode').dirty || registerForm.get('individualZipCode').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('individualZipCode').hasError('individualRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
              <div class="invalid-contact-data" *ngIf="registerForm.get('individualZipCode').invalid">
                {{'REGISTER.wrongZipCode' | translate}}
              </div>
            </div>
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.city' | translate}}:</p>
              <input type="text"
                     id="individualCity"
                     formControlName="individualCity"
                     class="form-control--input"
                     placeholder="{{'REGISTER.city' | translate}}">
            </div>
            <div *ngIf="registerForm.get('individualCity').dirty || registerForm.get('individualCity').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('individualCity').hasError('individualRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>

            <div class="select-box sorting margin-bottom-2">
              <p class="form-control-field-title">{{'REGISTER.country' | translate}}:</p>
              <div class="select-box__current" tabindex="1">  <!--Usunięcie tabindex rozwala selecta-->
                <div class="select-box__value" *ngFor="let country of this.countries | async">
                  <input class="select-box__input" type="radio" id="{{country}}" value="{{country}}"
                         formControlName="individualCountry"/>
                  <p class="select-box__input-text">{{country}}</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input disabled" type="radio" id="disabledCountry" value="disabled"
                         formControlName="individualCountry" checked/>
                  <p class="select-box__input-text disabled">{{'REGISTER.country' | translate}}</p>
                </div>
                <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                     alt="Arrow Icon" aria-hidden="true"/>
              </div>
              <ul class="select-box__list overflow-scroll-Y">
                <li *ngFor="let country of this.countries | async"><label class="select-box__option margin-bottom-0"
                                                                          for="{{country}}"
                                                                          aria-hidden="aria-hidden">{{country}}</label>
                </li>
                <li><label class="select-box__option disabled" for="disabledCountry"
                           aria-hidden="aria-hidden">{{'REGISTER.country' | translate}}</label></li>
              </ul>
            </div>
            <div *ngIf="registerForm.get('individualCountry').dirty || registerForm.get('individualCountry').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('individualCountry').hasError('individualRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>

          </div>

          <div *ngIf="companyClientType">
            <!--          <label for="companyName" class="register-form-labels">{{ 'REGISTER.companyName' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.companyName' | translate}}:</p>
              <input type="text"
                     id="companyName"
                     formControlName="companyName"
                     class="form-control--input"
                     placeholder="{{'REGISTER.companyName' | translate}}">
            </div>
            <div *ngIf="registerForm.get('companyName').dirty || registerForm.get('companyName').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('companyName').hasError('companyRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>
            <!--          <label for="nip" class="register-form-labels">{{ 'REGISTER.NIP' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.NIP' | translate}}:</p>
              <input type="text"
                     id="nip"
                     formControlName="nip"
                     class="form-control--input"
                     placeholder="{{'REGISTER.NIP' | translate}}">
            </div>
            <div *ngIf="registerForm.get('nip').dirty || registerForm.get('nip').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('nip').hasError('companyRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.phoneNumber' | translate}}:</p>
              <input type="text"
                     id="phoneNumber"
                     formControlName="phoneNumber"
                     class="form-control--input"
                     placeholder="{{'REGISTER.phoneNumber' | translate}}">
            </div>
            <div *ngIf="registerForm.get('phoneNumber').dirty || registerForm.get('phoneNumber').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('phoneNumber').hasError('companyRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
              <div class="invalid-contact-data" *ngIf="registerForm.get('phoneNumber').invalid">
                {{'REGISTER.wrongPhoneNumber' | translate}}
              </div>
            </div>
            <!--          <label for="street" class="register-form-labels">{{ 'REGISTER.street' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.street' | translate}}:</p>
              <input type="text"
                     id="street"
                     formControlName="street"
                     class="form-control--input"
                     placeholder="{{'REGISTER.street' | translate}}">
            </div>
            <div *ngIf="registerForm.get('street').dirty || registerForm.get('street').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('street').hasError('companyRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>
            <!--          <label for="number" class="register-form-labels">{{ 'REGISTER.number' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.number' | translate}}:</p>
              <input type="text"
                     id="number"
                     formControlName="localNumber"
                     class="form-control--input"
                     placeholder="{{'REGISTER.number' | translate}}">
            </div>
            <!--          <label for="zipCode" class="register-form-labels">{{ 'REGISTER.zipCode' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.zipCode' | translate}}:</p>
              <input type="text"
                     id="zipCode"
                     formControlName="zipCode"
                     class="form-control--input"
                     placeholder="{{'REGISTER.zipCode' | translate}}">
            </div>
            <div *ngIf="registerForm.get('zipCode').dirty || registerForm.get('zipCode').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('zipCode').hasError('companyRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
              <div class="invalid-contact-data" *ngIf="registerForm.get('zipCode').invalid">
                {{'REGISTER.wrongZipCode' | translate}}
              </div>
            </div>
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.city' | translate}}:</p>
              <input type="text"
                     id="city"
                     formControlName="city"
                     class="form-control--input"
                     placeholder="{{'REGISTER.city' | translate}}">
            </div>
            <div *ngIf="registerForm.get('city').dirty || registerForm.get('city').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('city').hasError('companyRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>

            <div class="select-box sorting margin-bottom-2">
              <p class="form-control-field-title">{{'REGISTER.country' | translate}}:</p>
              <div class="select-box__current" tabindex="1">  <!--Usunięcie tabindex rozwala selecta-->
                <div class="select-box__value" *ngFor="let companyCountry of this.countries | async">
                  <input class="select-box__input" type="radio" id="{{companyCountry}}" value="{{companyCountry}}"
                         formControlName="country"/>
                  <p class="select-box__input-text">{{companyCountry}}</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input disabled" type="radio" id="disabledCompanyCountry" value="disabled"
                         formControlName="country" checked/>
                  <p class="select-box__input-text disabled">{{'REGISTER.country' | translate}}</p>
                </div>
                <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                     alt="Arrow Icon" aria-hidden="true"/>
              </div>
              <ul class="select-box__list overflow-scroll-Y">
                <li *ngFor="let companyCountry of this.countries | async"><label
                  class="select-box__option margin-bottom-0"
                  for="{{companyCountry}}" aria-hidden="aria-hidden">{{companyCountry}}</label></li>
                <li><label class="select-box__option disabled" for="disabledCompanyCountry"
                           aria-hidden="aria-hidden">{{'REGISTER.country' | translate}}</label></li>
              </ul>
            </div>
            <div *ngIf="registerForm.get('country').dirty || registerForm.get('country').touched">
              <div
                class="invalid-contact-data"
                *ngIf="registerForm.get('country').hasError('companyRequired')">
                {{'REGISTER.requiredField' | translate}}
              </div>
            </div>
            <!--          <label for="agent" class="register-form-labels">{{ 'REGISTER.agent' | translate}}</label>-->
            <div class="md-form mt-3">
              <p class="form-control-field-title">{{'REGISTER.agent' | translate}}:</p>
              <input type="text"
                     id="agent"
                     formControlName="agent"
                     class="form-control--input"
                     placeholder="{{'REGISTER.agent' | translate}}">
            </div>
          </div>

          <button type="submit" [disabled]="registerForm.invalid">{{ 'REGISTER.register' | translate}}</button>
        </form>
      </div>

    </div>
    <div class="md-container__form-window__right-side">
      <div class="md-container__form-window__right-side__img"></div>
    </div>
  </div>
</div>
