@import 'src/sass/base/variables';
@import 'src/sass/buttons';
@import 'src/sass/radio-input';
@import 'src/sass/components';

.md-container__form-window__right-side {
  width: 50%;
  padding: 0;

  &__img {
    height: 100%;
    background-image: url("src/assets/img/register_page/thom-milkovic-cBS0qKJM-P4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    opacity: .7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

button:disabled {
  background-color: $color-light-red;
}

.register-check-box {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.register-button {
  margin: 3rem 0 1rem 0;
  width: 100%;
}

.extra-info {
  font-size: 1rem;
}

.paginating {
  width: 100%;
}

.sorting {
  width: 100%;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-0 {
  margin-bottom: 0;
}
